flows/live.json
[{"id":"c58e1993cab59996","type":"tab","label":"Topics","disabled":false,"info":"## Examples of flows using tiddler nodes","env":[]},{"id":"3d9daca2a6f68b44","type":"group","z":"c58e1993cab59996","name":"TiddlyWiki Book - Chapter 1","style":{"label":true},"nodes":["0d0209599f37e5fd","a04cbaa536c3e91d"],"x":128,"y":738,"w":564,"h":274},{"id":"b37cb4ef8029f994","type":"group","z":"c58e1993cab59996","name":"Send a sample tiddler of a topic","style":{"stroke":"#a4a4a4","label":true,"label-position":"n"},"nodes":["90ab04c3ce5393e8","b210f724bebd1948","68553a08235eb1d7","54f166a7f4f3a368","704002cca88ec103"],"x":84,"y":379,"w":652,"h":82},{"id":"c118b47258277fd0","type":"group","z":"c58e1993cab59996","name":"These two flows produce same results \\n First sends a single reply \\n Second sends two replies","style":{"label":true,"label-position":"n"},"nodes":["190f4b09096d84e9","a69da9a11fa9944c","dc550f72fb4b0b99","679c15ceb725216c","593346b7484e719c","8f6b83391a5e5c61","8c99b04967d79353","f4eab1f49fbefa04","5c712f0ce8dca9b2","822afd14ac7a2985"],"x":104,"y":492,"w":612,"h":214},{"id":"1e53b7521065bd3a","type":"group","z":"c58e1993cab59996","name":"Switch TOC between external/internal nav ","style":{"label":true,"label-position":"n"},"nodes":["7c6ac8311b11bc2a","d1764b3bc58cf21d","91fad1e91044c358","cdaca8e53cf91ee8","e503947ca0703e79"],"x":94,"y":1389,"w":552,"h":122},{"id":"0d0209599f37e5fd","type":"group","z":"c58e1993cab59996","g":"3d9daca2a6f68b44","name":"Select tiddlers from twiki using filter","style":{"label":true},"nodes":["7f3dc513caf95a47","f863a67c056367c1","68a113f373cb6891","bc00d1525b9d48e3","325145ba78e22609"],"x":154,"y":864,"w":512,"h":122},{"id":"a04cbaa536c3e91d","type":"group","z":"c58e1993cab59996","g":"3d9daca2a6f68b44","name":"Load 'TW Book' twiki with the books content tiddlers on startup","style":{"label":true},"nodes":["bacb619cec794e97","666befd3477d7aba"],"x":194,"y":764,"w":402,"h":82},{"id":"2eca80b06e50c439","type":"switch","z":"c58e1993cab59996","name":"select \\n palette","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"dark","vt":"str"},{"t":"eq","v":"light","vt":"str"},{"t":"eq","v":"fire","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":270,"y":280,"wires":[["ff71c81f060c1616"],["2a2120ce0bec323d"],["c31d25fb62ca326f"]]},{"id":"e49174688546a04d","type":"link in","z":"c58e1993cab59996","name":"From Client","links":["4c9c46b76b72965f"],"x":175,"y":280,"wires":[["2eca80b06e50c439"]],"icon":"@potofcoffee2go/tw5-nodes/networkdown.svg"},{"id":"ff71c81f060c1616","type":"set-network","z":"c58e1993cab59996","name":"Dark","topic":"","networkfield":"network.server.tiddlers","twikiName":"$tw.wiki","filter":"","field":"","file":"","updtostory":true,"tostory":"false","template":"title: $:/palette\n\n$:/palettes/Twilight","clear":false,"editorIsOpen":true,"settingsIsOpen":false,"fromIsOpen":true,"editorIsX":true,"fileIsX":false,"twikiIsX":false,"fieldIsX":false,"x":450,"y":240,"wires":[["f80060ac36d89c4b"]]},{"id":"2a2120ce0bec323d","type":"set-network","z":"c58e1993cab59996","name":"Light","topic":"","networkfield":"network.server.tiddlers","twikiName":"$tw.wiki","filter":"","field":"","file":"","updtostory":true,"tostory":"false","template":"title: $:/palette\n\n$:/palettes/SolarizedLight","clear":false,"editorIsOpen":true,"settingsIsOpen":false,"fromIsOpen":true,"editorIsX":true,"fileIsX":false,"twikiIsX":false,"fieldIsX":false,"x":450,"y":280,"wires":[["f80060ac36d89c4b"]]},{"id":"c31d25fb62ca326f","type":"set-network","z":"c58e1993cab59996","name":"Dev Fire","topic":"","networkfield":"network.server.tiddlers","twikiName":"$tw.wiki","filter":"","field":"","file":"","updtostory":true,"tostory":"false","template":"title: $:/palettes/Dev Fire\ncreated: 20160302142923732\ncreator: Stephen\ndescription: Dark and Bold\nmodified: 20160427120948086\nmodifier: Stephen\nname: Dev Fire\ntags: $:/tags/Palette\ntype: application/x-tiddler-dictionary\n\nalert-background: #9d7d00\nalert-border: #8e7924\nalert-highlight: #881122\nalert-muted-foreground: #b99e2f\nbackground: #000000\nblockquote-bar: <<colour muted-foreground>>\nbutton-background: #3a2f2f\nbutton-foreground: #ffbf00\nbutton-border: #666666\ncode-background: #3a2f2f\ncode-border: #ffbf00\ncode-foreground: #fdf3d9\ndirty-indicator: #ff0000\ndownload-background: #34c734\ndownload-foreground: <<colour foreground>>\ndragger-background: <<colour foreground>>\ndragger-foreground: <<colour background>>\ndropdown-background: <<colour background>>\ndropdown-border: <<colour muted-foreground>>\ndropdown-tab-background-selected: #ffffff\ndropdown-tab-background: #ececec\ndropzone-background: rgba(0,200,0,0.7)\nexternal-link-background-hover: inherit\nexternal-link-background-visited: inherit\nexternal-link-background: inherit\nexternal-link-foreground-hover: inherit\nexternal-link-foreground-visited: #ff0000\nexternal-link-foreground: #ffbf00\nforeground: #ffdfaa\nmessage-background: #ecf2ff\nmessage-border: #cfd6e6\nmessage-foreground: #547599\nmodal-backdrop: <<colour pre-background>>\nmodal-background: <<colour background>>\nmodal-border: #999999\nmodal-footer-background: <<colour muted-background>>\nmodal-footer-border: #dddddd\nmodal-header-border: #eeeeee\nmuted-foreground: #Ffbf00\nnotification-background: <<colour pre-background>>\nnotification-border: #999999\npage-background: #000000\npre-background: #3a2f2f\npre-border: #cccccc\nprimary: #5778b8\nsidebar-button-foreground: #Ffbf00\nsidebar-controls-foreground-hover: <<colour sidebar-button-foreground>>\nsidebar-controls-foreground: #aaaaaa\nsidebar-foreground-shadow: \nsidebar-foreground: #ffbf00\nsidebar-muted-foreground-hover: #444444\nsidebar-muted-foreground: #c0c0c0\nsidebar-tab-background-selected: #ffbf00\nsidebar-tab-background: #604800\nsidebar-tab-border-selected: <<colour tab-border-selected>>\nsidebar-tab-border: #ab0318\nsidebar-tab-divider: #ab0318\nsidebar-tab-foreground-selected: #000000\nsidebar-tab-foreground: #ffd964\nsidebar-tiddler-link-foreground-hover: #464646\nsidebar-tiddler-link-foreground: #ffbf00\nsite-title-foreground: #ffca95\nstatic-alert-foreground: #aaaaaa\ntab-background-selected: #ffbf00\ntab-background: #604800\ntab-border-selected: #ffbf00\ntab-border: #ff9b6a\ntab-divider: #ff9b6a\ntab-foreground-selected: #000000\ntab-foreground: #ffd964\ntable-border: #ab0318\ntable-footer-background: #a8a8a8\ntable-header-background: #710210\ntag-background: #ec6\ntag-foreground: #ffffff\ntiddler-background: <<colour background>>\ntiddler-border: #b08500\ntiddler-controls-foreground-hover: <<colour sidebar-button-foreground>>\ntiddler-controls-foreground-selected: #2d2d2d\ntiddler-controls-foreground: <<colour tiddler-border>>\ntiddler-editor-background: <<colour background>>\ntiddler-editor-border-image: #ffffff\ntiddler-editor-border: #cccccc\ntiddler-editor-fields-even: #85a585\ntiddler-editor-fields-odd: #5f815f\ntiddler-info-background: #710210\ntiddler-info-border: #dddddd\ntiddler-info-tab-background: #f8f8f8\ntiddler-link-background: <<colour background>>\ntiddler-link-foreground: #fe9901\ntiddler-subtitle-foreground: #ffbf00\ntiddler-title-foreground: <<colour site-title-foreground>>\ntoolbar-new-button: \ntoolbar-options-button: \ntoolbar-save-button: \ntoolbar-info-button: \ntoolbar-edit-button: \ntoolbar-close-button: \ntoolbar-delete-button: \ntoolbar-cancel-button: \ntoolbar-done-button: \nuntagged-background: #999999\nvery-muted-foreground: #888888\n\n+======+\ntitle: $:/palette\n\n$:/palettes/Dev Fire","clear":false,"editorIsOpen":true,"settingsIsOpen":false,"fromIsOpen":true,"editorIsX":true,"fileIsX":false,"twikiIsX":false,"fieldIsX":false,"x":440,"y":320,"wires":[["f80060ac36d89c4b"]]},{"id":"f80060ac36d89c4b","type":"link out","z":"c58e1993cab59996","name":"To Client","mode":"link","links":["5f3f98f37ba41eb1"],"x":575,"y":280,"wires":[],"icon":"@potofcoffee2go/tw5-nodes/networkup.svg"},{"id":"44e066ca088db659","type":"switch","z":"c58e1993cab59996","name":"hello","property":"topic","propertyType":"msg","rules":[{"t":"regex","v":"^hello$","vt":"str","case":true}],"checkall":"true","repair":false,"outputs":1,"x":230,"y":60,"wires":[["4d1fe7705b6bdeeb"]]},{"id":"b13da77f6d60b38f","type":"set-network","z":"c58e1993cab59996","name":"","topic":"","networkfield":"network.server.tiddlers","twikiName":"$tw.wiki","filter":"","field":"payload","file":"","updtostory":true,"tostory":"true","template":"","clear":false,"editorIsOpen":false,"settingsIsOpen":false,"fromIsOpen":true,"editorIsX":false,"fileIsX":false,"twikiIsX":false,"fieldIsX":true,"x":520,"y":60,"wires":[["425a72841789949c"]]},{"id":"4d1fe7705b6bdeeb","type":"edit-tiddlers","z":"c58e1993cab59996","name":"","topic":"","tofield":"payload","template":"title: Hello World!\ntags: hello\nmustache: yes\n\nHi {% network.user.username %} - This tiddler is from the server ;)\n","x":370,"y":60,"wires":[["b13da77f6d60b38f"]]},{"id":"3bfcedbc0435c9c3","type":"switch","z":"c58e1993cab59996","name":"better hello","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"better hello","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":290,"y":100,"wires":[["34faacb22d67d2b0"]]},{"id":"34faacb22d67d2b0","type":"set-network","z":"c58e1993cab59996","name":"","topic":"","networkfield":"network.server.tiddlers","twikiName":"$tw.wiki","filter":"","field":"payload","file":"","updtostory":true,"tostory":"true","template":"title: Hello {% network.user.username %}!\ntags: hello\nmustache: yes\n\nThis 'Hello World' uses less Nodes!\n","clear":false,"editorIsOpen":true,"settingsIsOpen":false,"fromIsOpen":true,"editorIsX":true,"fileIsX":false,"twikiIsX":false,"fieldIsX":false,"x":480,"y":100,"wires":[["425a72841789949c"]]},{"id":"d6ea0c2ee9926639","type":"link in","z":"c58e1993cab59996","name":"From Client","links":["4c9c46b76b72965f"],"x":125,"y":60,"wires":[["44e066ca088db659","3bfcedbc0435c9c3"]],"icon":"@potofcoffee2go/tw5-nodes/networkdown.svg"},{"id":"425a72841789949c","type":"link out","z":"c58e1993cab59996","name":"To Client","mode":"link","links":["5f3f98f37ba41eb1"],"x":665,"y":60,"wires":[],"icon":"@potofcoffee2go/tw5-nodes/networkup.svg"},{"id":"7f3dc513caf95a47","type":"switch","z":"c58e1993cab59996","g":"0d0209599f37e5fd","name":"book","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"book","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":290,"y":925,"wires":[["68a113f373cb6891","325145ba78e22609"]]},{"id":"f863a67c056367c1","type":"link in","z":"c58e1993cab59996","g":"0d0209599f37e5fd","name":"From Client","links":["4c9c46b76b72965f"],"x":195,"y":925,"wires":[["7f3dc513caf95a47"]],"icon":"@potofcoffee2go/tw5-nodes/networkdown.svg"},{"id":"68a113f373cb6891","type":"set-network","z":"c58e1993cab59996","g":"0d0209599f37e5fd","name":"Chapter 1 tiddlers","topic":"","networkfield":"network.server.tiddlers","twikiName":"TW Book","filter":"[all[]]","field":"","file":"","updtostory":true,"tostory":"false","template":"","clear":false,"settingsIsOpen":false,"fromIsOpen":true,"editorIsX":false,"fileIsX":false,"networkIsX":false,"twikiIsX":true,"fieldIsX":false,"x":470,"y":945,"wires":[["bc00d1525b9d48e3"]]},{"id":"bc00d1525b9d48e3","type":"link out","z":"c58e1993cab59996","g":"0d0209599f37e5fd","name":"To Client","mode":"link","links":["5f3f98f37ba41eb1"],"x":625,"y":925,"wires":[],"icon":"@potofcoffee2go/tw5-nodes/networkup.svg"},{"id":"325145ba78e22609","type":"set-network","z":"c58e1993cab59996","g":"0d0209599f37e5fd","name":"[[1. Introduction]]","topic":"","networkfield":"network.server.tiddlers","twikiName":"TW Book","filter":"[[1. Introduction]]","field":"","file":"","updtostory":true,"tostory":"true","template":"title: TiddlyWiki Book\n\n> [[TiddlyWiki Book Introduction|1. Introduction]]\n@@color:pink;\n> The book is published by Luis Javier González Caballero [[kewapoon|https://github.com/kewapo]] on GitHub at https://github.com/kewapo/The-Book-Wiki. There are more chapters for those interested. TW5-Node-RED is not associated with the package - full credits to Luis Javier González Caballero for sharing.\n@@\n","clear":false,"editorIsOpen":true,"settingsIsOpen":false,"fromIsOpen":true,"editorIsX":true,"fileIsX":false,"networkIsX":false,"twikiIsX":true,"fieldIsX":false,"x":470,"y":905,"wires":[["bc00d1525b9d48e3"]]},{"id":"bacb619cec794e97","type":"inject","z":"c58e1993cab59996","g":"a04cbaa536c3e91d","name":"Startup","props":[],"repeat":"","crontab":"","once":true,"onceDelay":".1","topic":"","x":300,"y":805,"wires":[["666befd3477d7aba"]]},{"id":"666befd3477d7aba","type":"to-twiki","z":"c58e1993cab59996","g":"a04cbaa536c3e91d","name":"","twikiName":"TW Book","fromTwikiName":"$tw.wiki","field":"","file":"public/tiddlers/book/chapter01","resetOnDeploy":false,"inputTask":"addTiddlers","outputFormat":"passthru","networkfield":"network.server.tiddlers","useListener":false,"filter":"[[]]","topic":"","outputs":1,"template":"","clear":true,"editorIsOpen":false,"settingsIsOpen":true,"fromIsOpen":true,"editorIsX":false,"fileIsX":true,"networkIsX":false,"twikiIsX":false,"fieldIsX":false,"x":500,"y":805,"wires":[[]]},{"id":"90ab04c3ce5393e8","type":"link in","z":"c58e1993cab59996","g":"b37cb4ef8029f994","name":"From Client","links":["4c9c46b76b72965f"],"x":125,"y":420,"wires":[["b210f724bebd1948"]],"icon":"@potofcoffee2go/tw5-nodes/networkdown.svg"},{"id":"b210f724bebd1948","type":"switch","z":"c58e1993cab59996","g":"b37cb4ef8029f994","name":"sample","property":"topic","propertyType":"msg","rules":[{"t":"regex","v":"^sample .*","vt":"str","case":false}],"checkall":"true","repair":false,"outputs":1,"x":220,"y":420,"wires":[["68553a08235eb1d7"]]},{"id":"68553a08235eb1d7","type":"change","z":"c58e1993cab59996","g":"b37cb4ef8029f994","name":"get topic name","rules":[{"t":"set","p":"topic","pt":"msg","to":"$replace(msg.topic, 'sample ', '')\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":420,"wires":[["54f166a7f4f3a368"]]},{"id":"54f166a7f4f3a368","type":"set-network","z":"c58e1993cab59996","g":"b37cb4ef8029f994","name":"Generate sample","topic":"","networkfield":"network.server.tiddlers","twikiName":"$tw.wiki","filter":"[all[]]","field":"","file":"","updtostory":true,"tostory":"true","template":"title: Topic '{%topic%}'\nmustache: yes\ntopicbtn: <$button actions=\"<<node-red '{%topic%}'>>\"> {%topic%} </$button>\ntopic: {%topic%}\n\n<$button actions=\"<<node-red '{%topic%}'>>\"> {%topic%} </$button>\n\n<$macrocall $name=\"copy-to-clipboard\" src={{!!topicbtn}}/>\n\n```\n<$button actions=\"<<node-red '{%topic%}'>>\"> {%topic%} </$button>\n```\n\n---\n\nTopic: <$edit-text field=topic class=poc2go-edit-text />\n\n<$set name=topic value={{!!topic}}>\n<$button actions=\"<<node-red 'sample $(topic)$'>>\"> Generate Sample </$button>\n</$set>\n","clear":false,"editorIsOpen":true,"settingsIsOpen":false,"fromIsOpen":true,"editorIsX":true,"fileIsX":false,"networkIsX":false,"twikiIsX":false,"fieldIsX":false,"x":570,"y":420,"wires":[["704002cca88ec103"]]},{"id":"704002cca88ec103","type":"link out","z":"c58e1993cab59996","g":"b37cb4ef8029f994","name":"To Client","mode":"link","links":["5f3f98f37ba41eb1"],"x":695,"y":420,"wires":[],"icon":"@potofcoffee2go/tw5-nodes/networkup.svg"},{"id":"190f4b09096d84e9","type":"switch","z":"c58e1993cab59996","g":"c118b47258277fd0","name":"some pics","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"some pics","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":240,"y":565,"wires":[["a69da9a11fa9944c"]]},{"id":"a69da9a11fa9944c","type":"set-network","z":"c58e1993cab59996","g":"c118b47258277fd0","name":"About some pics","topic":"","networkfield":"network.server.tiddlers","twikiName":"$tw.wiki","filter":"","field":"","file":"","updtostory":true,"tostory":"true","template":"title: About some pics\ntags: pics\n\n> These images were from an EARLY design of TW5-Node-RED prior to many features and custom nodes. Keep them around for sentimental reasons - If updated with the new nodes these flows would still work ;)\n\nOnly a single `wiki in` node is required to get all the messages from TiddlyWiki clients:\n\n<div style=\"max-width: 600px\">{{single wiki in.png}}</div>\n\nAnother method is to use multiple `wiki in` nodes, which can in some cases can make the\nflows more natural looking and easier to understand. Exporting a flow is also easier and more reliable as can include the `wiki in` node with the export.\n\n<div style=\"max-width: 600px\">{{multi wiki in.png}}</div>\n\nWhen using multiple `wiki in` nodes, care should be taken not to connect two `wiki in` nodes to the same flow. It would still work but the flow would be executed by Node-Red twice - impacting performance.\n\n<div style=\"max-width: 600px\">{{wrong wiki in.png}}</div>\n","clear":false,"editorIsOpen":true,"settingsIsOpen":false,"fromIsOpen":true,"editorIsX":true,"fileIsX":false,"twikiIsX":false,"fieldIsX":false,"x":420,"y":565,"wires":[["dc550f72fb4b0b99"]]},{"id":"dc550f72fb4b0b99","type":"set-network","z":"c58e1993cab59996","g":"c118b47258277fd0","name":"images","topic":"","networkfield":"network.server.tiddlers","twikiName":"$tw.wiki","filter":"","field":"","file":"public/tiddlers/images/wikiin","updtostory":true,"tostory":"false","template":"","clear":false,"editorIsOpen":false,"settingsIsOpen":true,"fromIsOpen":true,"editorIsX":false,"fileIsX":true,"twikiIsX":false,"fieldIsX":false,"x":580,"y":565,"wires":[["8c99b04967d79353"]]},{"id":"679c15ceb725216c","type":"switch","z":"c58e1993cab59996","g":"c118b47258277fd0","name":"same pics","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"same pics","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":240,"y":645,"wires":[["593346b7484e719c","8f6b83391a5e5c61"]]},{"id":"593346b7484e719c","type":"set-network","z":"c58e1993cab59996","g":"c118b47258277fd0","name":"About same pics","topic":"","networkfield":"network.server.tiddlers","twikiName":"$tw.wiki","filter":"","field":"","file":"","updtostory":true,"tostory":"true","template":"title: About same pics\ntags: pics\n\n> These images were from an EARLY design of TW5-Node-RED prior to many features and custom nodes. Keep them around for sentimental reasons - If updated with the new nodes these flows would still work ;)\n\nOnly a single `wiki in` node is required to get all the messages from TiddlyWiki clients:\n\n<div style=\"max-width: 600px\">{{single wiki in.png}}</div>\n\nAnother method is to use multiple `wiki in` nodes, which can in some cases can make the\nflows more natural looking and easier to understand. Exporting a flow is also easier and more reliable as can include the `wiki in` node with the export.\n\n<div style=\"max-width: 600px\">{{multi wiki in.png}}</div>\n\nWhen using multiple `wiki in` nodes, care should be taken not to connect two `wiki in` nodes to the same flow. It would still work but the flow would be executed by Node-Red twice - impacting performance.\n\n<div style=\"max-width: 600px\">{{wrong wiki in.png}}</div>\n","clear":false,"editorIsOpen":true,"settingsIsOpen":true,"fromIsOpen":true,"editorIsX":true,"fileIsX":false,"twikiIsX":false,"fieldIsX":false,"x":440,"y":625,"wires":[["f4eab1f49fbefa04"]]},{"id":"8f6b83391a5e5c61","type":"set-network","z":"c58e1993cab59996","g":"c118b47258277fd0","name":"images","topic":"","networkfield":"network.server.tiddlers","twikiName":"$tw.wiki","filter":"","field":"","file":"public/tiddlers/images/wikiin","updtostory":true,"tostory":"false","template":"","clear":false,"editorIsOpen":false,"settingsIsOpen":true,"fromIsOpen":true,"editorIsX":false,"fileIsX":true,"twikiIsX":false,"fieldIsX":false,"x":440,"y":665,"wires":[["f4eab1f49fbefa04"]]},{"id":"8c99b04967d79353","type":"link out","z":"c58e1993cab59996","g":"c118b47258277fd0","name":"To Client","mode":"link","links":["5f3f98f37ba41eb1"],"x":675,"y":565,"wires":[],"icon":"@potofcoffee2go/tw5-nodes/networkup.svg"},{"id":"f4eab1f49fbefa04","type":"link out","z":"c58e1993cab59996","g":"c118b47258277fd0","name":"To Client","mode":"link","links":["5f3f98f37ba41eb1"],"x":575,"y":645,"wires":[],"icon":"@potofcoffee2go/tw5-nodes/networkup.svg"},{"id":"5c712f0ce8dca9b2","type":"link in","z":"c58e1993cab59996","g":"c118b47258277fd0","name":"From Client","links":["4c9c46b76b72965f"],"x":145,"y":565,"wires":[["190f4b09096d84e9"]],"icon":"@potofcoffee2go/tw5-nodes/networkdown.svg"},{"id":"822afd14ac7a2985","type":"link in","z":"c58e1993cab59996","g":"c118b47258277fd0","name":"From Client","links":["4c9c46b76b72965f"],"x":145,"y":645,"wires":[["679c15ceb725216c"]],"icon":"@potofcoffee2go/tw5-nodes/networkdown.svg"},{"id":"e97790cf02ddb28d","type":"debug","z":"c58e1993cab59996","name":"debug msg","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":610,"y":1120,"wires":[]},{"id":"247774e5f3ec1d76","type":"get-network","z":"c58e1993cab59996","name":"","topic":"","networkfield":"network.client.tiddlers","filter":"[all[]]","twikiName":"$tw.wiki","field":"payload","file":"public/testit/test.tid","settingsIsOpen":false,"toIsOpen":true,"fileIsX":true,"networkIsX":false,"twikiIsX":false,"fieldIsX":true,"x":430,"y":1070,"wires":[["cda87663ace72d4b","e97790cf02ddb28d"]]},{"id":"432685b6a22a9f0c","type":"link in","z":"c58e1993cab59996","name":"From Client","links":["4c9c46b76b72965f"],"x":95,"y":1070,"wires":[["a9df6e178df88c8c"]],"icon":"@potofcoffee2go/tw5-nodes/networkdown.svg"},{"id":"ac5a5c0c6c3c6c8a","type":"link out","z":"c58e1993cab59996","name":"To Client","mode":"link","links":["5f3f98f37ba41eb1"],"x":715,"y":1070,"wires":[],"icon":"@potofcoffee2go/tw5-nodes/networkup.svg"},{"id":"cda87663ace72d4b","type":"set-network","z":"c58e1993cab59996","name":"","topic":"","networkfield":"network.server.tiddlers","twikiName":"$tw.wiki","filter":"[all[]]","field":"","file":"","updtostory":true,"tostory":"true","template":"title: test network nodes\nmustache: yes\n\nThe tiddlers sent from client are:\n\n{%#payload%}\n[[{% &title %}]]<br>\n{%/payload%}","clear":false,"editorIsOpen":true,"settingsIsOpen":false,"fromIsOpen":true,"editorIsX":true,"fileIsX":false,"networkIsX":false,"twikiIsX":false,"fieldIsX":false,"x":600,"y":1070,"wires":[["ac5a5c0c6c3c6c8a"]]},{"id":"a9df6e178df88c8c","type":"switch","z":"c58e1993cab59996","name":"test network nodes","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"test network nodes","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":230,"y":1070,"wires":[["247774e5f3ec1d76"]]},{"id":"01b3f687e63b3e4b","type":"to-twiki","z":"c58e1993cab59996","name":"client.tiddlers to twiki","twikiName":"Testit","fromTwikiName":"$tw.wiki","field":"","file":"","resetOnDeploy":false,"inputTask":"addTiddlers","outputFormat":"passthru","networkfield":"network.client.tiddlers","useListener":false,"filter":"[all[]]","topic":"","outputs":1,"template":"","clear":true,"editorIsOpen":false,"settingsIsOpen":false,"fromIsOpen":true,"editorIsX":false,"fileIsX":false,"networkIsX":true,"twikiIsX":false,"fieldIsX":false,"x":400,"y":1210,"wires":[["c4207496ef76b641"]]},{"id":"9755a151d273ca6a","type":"switch","z":"c58e1993cab59996","name":"test to-twiki","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"test to-twiki","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":190,"y":1210,"wires":[["01b3f687e63b3e4b"]]},{"id":"033ee6c5fd9b2921","type":"link in","z":"c58e1993cab59996","name":"From Client","links":["4c9c46b76b72965f"],"x":85,"y":1210,"wires":[["9755a151d273ca6a"]],"icon":"@potofcoffee2go/tw5-nodes/networkdown.svg"},{"id":"b396fbd59ee28476","type":"link out","z":"c58e1993cab59996","name":"To Client","mode":"link","links":["5f3f98f37ba41eb1"],"x":715,"y":1270,"wires":[],"icon":"@potofcoffee2go/tw5-nodes/networkup.svg"},{"id":"e2449bdf9e7bed88","type":"debug","z":"c58e1993cab59996","name":"show twikis in debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"twikis","targetType":"msg","statusVal":"","statusType":"auto","x":620,"y":1330,"wires":[]},{"id":"c4207496ef76b641","type":"link call","z":"c58e1993cab59996","name":"","links":["2ffe59e5768f9620"],"linkType":"static","timeout":"30","x":380,"y":1270,"wires":[["e2449bdf9e7bed88","c37198328f45e1b8"]]},{"id":"c37198328f45e1b8","type":"set-network","z":"c58e1993cab59996","name":"","topic":"","networkfield":"network.server.tiddlers","twikiName":"$tw.wiki","filter":"[all[]]","field":"","file":"","updtostory":true,"tostory":"true","template":"title: test to twiki\nmustache: yes\n\nThe tiddlers in 'testit' twiki from client are:\n\n{%#twikis.Testit%}\n[[{% &title %}]]<br>\n{%/twikis.Testit%}","clear":false,"editorIsOpen":true,"settingsIsOpen":false,"fromIsOpen":true,"editorIsX":true,"fileIsX":false,"networkIsX":false,"twikiIsX":false,"fieldIsX":false,"x":580,"y":1270,"wires":[["b396fbd59ee28476"]]},{"id":"41c6e64f58978218","type":"set-network","z":"c58e1993cab59996","name":"$:/SiteSubtitle","topic":"","networkfield":"network.server.tiddlers","twikiName":"$tw.wiki","filter":"","field":"","file":"","updtostory":true,"tostory":"false","template":"title: $:/SiteSubtitle\n\n{{$:/temp/tw5-node-red/netstat}}\n","clear":false,"editorIsOpen":true,"settingsIsOpen":false,"fromIsOpen":true,"editorIsX":true,"fileIsX":false,"twikiIsX":false,"fieldIsX":false,"x":460,"y":180,"wires":[["9630213056cdc89a"]]},{"id":"b4d03f179184dc54","type":"switch","z":"c58e1993cab59996","name":"get subtitle","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"get subtitle","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":290,"y":180,"wires":[["41c6e64f58978218"]]},{"id":"f3bc83f894bc836e","type":"link in","z":"c58e1993cab59996","name":"From Client","links":["4c9c46b76b72965f"],"x":175,"y":180,"wires":[["b4d03f179184dc54"]],"icon":"@potofcoffee2go/tw5-nodes/networkdown.svg"},{"id":"9630213056cdc89a","type":"link out","z":"c58e1993cab59996","name":"To Client","mode":"link","links":["5f3f98f37ba41eb1"],"x":585,"y":180,"wires":[],"icon":"@potofcoffee2go/tw5-nodes/networkup.svg"},{"id":"7c6ac8311b11bc2a","type":"link in","z":"c58e1993cab59996","g":"1e53b7521065bd3a","name":"From Client","links":["4c9c46b76b72965f"],"x":135,"y":1450,"wires":[["91fad1e91044c358"]],"icon":"@potofcoffee2go/tw5-nodes/networkdown.svg"},{"id":"d1764b3bc58cf21d","type":"link out","z":"c58e1993cab59996","g":"1e53b7521065bd3a","name":"To Client","mode":"link","links":["5f3f98f37ba41eb1"],"x":605,"y":1450,"wires":[],"icon":"@potofcoffee2go/tw5-nodes/networkup.svg"},{"id":"91fad1e91044c358","type":"switch","z":"c58e1993cab59996","g":"1e53b7521065bd3a","name":"welcome toc","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"welcome toc internal","vt":"str"},{"t":"eq","v":"welcome toc external","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":250,"y":1450,"wires":[["cdaca8e53cf91ee8"],["e503947ca0703e79"]]},{"id":"cdaca8e53cf91ee8","type":"set-network","z":"c58e1993cab59996","g":"1e53b7521065bd3a","name":"internal-nav TOC","topic":"","networkfield":"network.server.tiddlers","twikiName":"$tw.wiki","filter":"[all[]]","field":"","file":"","updtostory":true,"tostory":"false","template":"title: Intro\n\n<$macrocall\n\t$name=\"toc-tabbed-internal-nav\"\n\ttag=\"TableOfContents\"\n\ttemplate=\"$:/poc2go/ui/ViewTemplate/body\"\n\tselectedTiddler=\"$:/poc2go/toc/selectedTiddler\"\n\tunselectedText=\"<p>Select a topic in the table of contents. Click the arrow to expand a topic.</p>\"\n\tmissingText=\"<p>Missing tiddler.</p>\"\n/>\n+======+\ntitle: TOC buttons\n\n<$button style=\"font-size: .8em; border-radius: 8px;\" actions=\"<<node-red 'twsync site'>>\"> Refresh </$button>\n<$button style=\"font-size: .8em; border-radius: 8px;\" actions=\"<<node-red 'welcome toc external'>>\"> external nav </$button>\n","clear":false,"editorIsOpen":true,"settingsIsOpen":false,"fromIsOpen":true,"editorIsX":true,"fileIsX":false,"networkIsX":false,"twikiIsX":false,"fieldIsX":false,"x":450,"y":1430,"wires":[["d1764b3bc58cf21d"]]},{"id":"e503947ca0703e79","type":"set-network","z":"c58e1993cab59996","g":"1e53b7521065bd3a","name":"external-nav TOC","topic":"","networkfield":"network.server.tiddlers","twikiName":"$tw.wiki","filter":"[all[]]","field":"","file":"","updtostory":true,"tostory":"false","template":"title: Intro\n\n<$macrocall\n\t$name=\"toc-tabbed-external-nav\"\n\ttag=\"TableOfContents\"\n\ttemplate=\"$:/poc2go/ui/ViewTemplate/body\"\n\tselectedTiddler=\"$:/poc2go/toc/selectedTiddler\"\n\tunselectedText=\"<p>Select a topic in the table of contents. Click the arrow to expand a topic.</p>\"\n\tmissingText=\"<p>Missing tiddler.</p>\"\n/>\n+======+\ntitle: TOC buttons\n\n<$button style=\"font-size: .8em; border-radius: 8px;\" actions=\"<<node-red 'twsync site'>>\"> Refresh </$button>\n<$button style=\"font-size: .8em; border-radius: 8px;\" actions=\"<<node-red 'welcome toc internal'>>\"> internal nav </$button>\n","clear":false,"editorIsOpen":true,"settingsIsOpen":false,"fromIsOpen":true,"editorIsX":true,"fileIsX":false,"networkIsX":false,"twikiIsX":false,"fieldIsX":false,"x":450,"y":1470,"wires":[["d1764b3bc58cf21d"]]},{"id":"2c9db7aeca761837","type":"tab","label":"Startup","disabled":false,"info":"","env":[]},{"id":"1b95b4adfdeca38e","type":"group","z":"2c9db7aeca761837","name":" \\n TW REPL \\n Interactive access from console \\n ","style":{"label":true,"fill":"#3f93cf","color":"#ffff00","label-position":"n"},"nodes":["759dce2ea0c90c1e","80c52ba56bc7160e"],"x":178,"y":439,"w":604,"h":494},{"id":"3cefbe58652ddd1b","type":"group","z":"2c9db7aeca761837","name":" \\n SyncServer \\n Create tiddlers of your application","style":{"label":true,"fill":"#3f93cf","color":"#ffff00","label-position":"n"},"nodes":["edee491ab307e8f4"],"x":198,"y":951,"w":564,"h":226},{"id":"6fc117d699260e4c","type":"group","z":"2c9db7aeca761837","name":" \\n MultiWikiServer \\n Create recipes/bags of your tiddlers","style":{"label":true,"fill":"#3f93cf","color":"#ffff00","label-position":"n"},"nodes":["e58841decd532a3e","74cccb512b620574"],"x":178,"y":61,"w":604,"h":326},{"id":"e1daf0a769b923c0","type":"group","z":"2c9db7aeca761837","name":"Load TW5-Node-RED Plugin \\n The plugin contains General information about TW5-Node-RED \\n ","style":{"fill":"#3f93cf","label":true,"label-position":"n","color":"#ffff00"},"nodes":["1d4bc70456acd7ba","b79d45a9b7037362"],"x":138,"y":1191,"w":684,"h":326},{"id":"759dce2ea0c90c1e","type":"group","z":"2c9db7aeca761837","g":"1b95b4adfdeca38e","name":"Start 'twrepl' with access to codebase \\n of the complete system","style":{"label":true,"color":"#ffffff","label-position":"n"},"nodes":["939ecaec38f87e99"],"x":354,"y":513,"w":241,"h":98},{"id":"8549cd6c5c10aa65","type":"group","z":"2c9db7aeca761837","g":"80c52ba56bc7160e","name":"! ! ! SECURITY RISK ! ! ! \\n Submit commands to REPL \\n Disable in production","style":{"label":true,"color":"#ffffff","stroke":"#ff7f7f","fill":"#ff0000","fill-opacity":"0.86","label-position":"n"},"nodes":["771666859c98bac6","d1b258d56658a434"],"x":274,"y":767,"w":382,"h":114},{"id":"edee491ab307e8f4","type":"group","z":"2c9db7aeca761837","g":"3cefbe58652ddd1b","name":"Start 'server' edition on port 8100","style":{"label":true,"color":"#ffffff","label-position":"n"},"nodes":["243c87ee76a56c34","b1144c89e281a90e","e2019f74cf4c285b","2cc16f6fae2a05c8"],"x":224,"y":1009,"w":512,"h":142},{"id":"e58841decd532a3e","type":"group","z":"2c9db7aeca761837","g":"6fc117d699260e4c","name":"Start Multi-Wiki-Server on port 8200","style":{"label":true,"color":"#ffffff","label-position":"n"},"nodes":["587ddba2eb229948","7f9494f20c905686","3c37f635abd563e8","96147524c86cc1d8"],"x":204,"y":119,"w":552,"h":142},{"id":"1d4bc70456acd7ba","type":"group","z":"2c9db7aeca761837","g":"e1daf0a769b923c0","name":"","style":{"label":true,"label-position":"n"},"nodes":["0c32555e2c9829c1","d1cb8f6bba82cf91","45b27da691ddd601","4e810fa7d9a7b1c4"],"x":184,"y":1249,"w":612,"h":82},{"id":"b79d45a9b7037362","type":"group","z":"2c9db7aeca761837","g":"e1daf0a769b923c0","name":"Generate TW5-Node-RED plugin","style":{"label":true,"stroke":"#ffff00"},"nodes":["732bf9ecdfc9df63","0f50d74a1682b4e9","da7b525e9244bad9","05fe6cb33e33ae93","205fb0492ffcd399","f491cc3db92cc626","35b92a1440e5cc09"],"x":164,"y":1349,"w":622,"h":142},{"id":"80c52ba56bc7160e","type":"group","z":"2c9db7aeca761837","g":"1b95b4adfdeca38e","style":{"stroke":"#3a3a3a","stroke-opacity":"1","fill":"#1e1e1e","fill-opacity":"0.5","label":true,"label-position":"nw","color":"#cccccc"},"nodes":["134e6cf970918b0e","4623743c2e8a7edc","d25c62f7be74bce2","74e379aa99e1e758","aa864ce4062b99c5","bd875d8df962c57c","8549cd6c5c10aa65"],"x":204,"y":629,"w":552,"h":278},{"id":"74cccb512b620574","type":"group","z":"2c9db7aeca761837","g":"6fc117d699260e4c","name":"Manual Startup Multi-Wiki-Server","style":{"label":true,"label-position":"n"},"nodes":["13f2edf6c09f64dc","d9d1d07fab30e075"],"x":284,"y":279,"w":422,"h":82},{"id":"bd875d8df962c57c","type":"junction","z":"2c9db7aeca761837","g":"80c52ba56bc7160e","x":560,"y":670,"wires":[["134e6cf970918b0e"]]},{"id":"939ecaec38f87e99","type":"function","z":"2c9db7aeca761837","g":"759dce2ea0c90c1e","name":"Startup REPL","func":"// See 'On Start' tab\n\nreturn msg;","outputs":0,"timeout":0,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is started.\nif (global.get('startupRepl')) {\n    setTimeout( () => {\n        const twrepl = global.get('twrepl');\n        twrepl.startup(global);\n    }, 2000);\n}\n","finalize":"","libs":[],"x":460,"y":570,"wires":[]},{"id":"771666859c98bac6","type":"link in","z":"2c9db7aeca761837","g":"8549cd6c5c10aa65","name":"To REPL","links":["134e6cf970918b0e","fe99237429d36da3"],"x":360,"y":840,"wires":[["d1b258d56658a434"]],"l":true},{"id":"d1b258d56658a434","type":"function","z":"2c9db7aeca761837","g":"8549cd6c5c10aa65","name":"Command to REPL","func":"const twrepl = global.get('twrepl');\ntwrepl.submit(msg.repl.cmd, msg.repl.text);\n\nreturn msg;","outputs":0,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":840,"wires":[]},{"id":"134e6cf970918b0e","type":"link out","z":"2c9db7aeca761837","g":"80c52ba56bc7160e","name":"To REPL","mode":"link","links":["771666859c98bac6"],"x":670,"y":720,"wires":[],"l":true},{"id":"4623743c2e8a7edc","type":"inject","z":"2c9db7aeca761837","g":"80c52ba56bc7160e","name":"Inject test message","props":[{"p":"repl","v":"{\"cmd\":\"var test = 'hello from node-red!'\\ntest\\n\"}","vt":"json"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":380,"y":670,"wires":[["bd875d8df962c57c"]]},{"id":"d25c62f7be74bce2","type":"link in","z":"2c9db7aeca761837","g":"80c52ba56bc7160e","name":"From Client","links":["4c9c46b76b72965f"],"x":245,"y":720,"wires":[["74e379aa99e1e758"]],"icon":"@potofcoffee2go/tw5-nodes/networkdown.svg"},{"id":"74e379aa99e1e758","type":"switch","z":"2c9db7aeca761837","g":"80c52ba56bc7160e","name":"repl cmd","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"repl cmd","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":340,"y":720,"wires":[["aa864ce4062b99c5"]]},{"id":"aa864ce4062b99c5","type":"function","z":"2c9db7aeca761837","g":"80c52ba56bc7160e","name":"Format cmd","func":"// Send field 'command' to REPL\n//  replace middle dots with carrage returns\nmsg.repl = {\n    cmd: msg.network.client.currentTiddler.cmd.replace(/·/g,'\\n')\n}\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":490,"y":720,"wires":[["134e6cf970918b0e"]]},{"id":"243c87ee76a56c34","type":"inject","z":"2c9db7aeca761837","d":true,"g":"edee491ab307e8f4","name":"Startup","props":[{"p":"commands","v":"[\"--listen\",\"port=8100\"]","vt":"json"},{"p":"syncStartup","v":"Sync Server Started","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","x":330,"y":1050,"wires":[["e2019f74cf4c285b"]]},{"id":"b1144c89e281a90e","type":"link call","z":"2c9db7aeca761837","g":"edee491ab307e8f4","name":"","links":["30ce9f775e65e57d"],"linkType":"static","timeout":"30","x":610,"y":1110,"wires":[[]]},{"id":"e2019f74cf4c285b","type":"switch","z":"2c9db7aeca761837","g":"edee491ab307e8f4","name":"start sync server?","property":"syncServer","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":540,"y":1050,"wires":[["2cc16f6fae2a05c8"]]},{"id":"2cc16f6fae2a05c8","type":"function","z":"2c9db7aeca761837","g":"edee491ab307e8f4","name":"TiddlyWiki 'server' edition","func":"node.log(`Startup - ${global.get('syncDir')}`);\nglobal.set('syncServer', false);\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":380,"y":1110,"wires":[["b1144c89e281a90e"]]},{"id":"587ddba2eb229948","type":"inject","z":"2c9db7aeca761837","g":"e58841decd532a3e","name":"Startup","props":[{"p":"commands","v":"[\"--mws-listen\",\"port=8200\"]","vt":"json"},{"p":"syncStartup","v":"MultiWikiServer Started","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"2","topic":"","x":350,"y":160,"wires":[["3c37f635abd563e8"]]},{"id":"7f9494f20c905686","type":"link call","z":"2c9db7aeca761837","g":"e58841decd532a3e","name":"","links":["45d54f170e388b66"],"linkType":"static","timeout":"30","x":630,"y":220,"wires":[[]]},{"id":"3c37f635abd563e8","type":"switch","z":"2c9db7aeca761837","g":"e58841decd532a3e","name":"start MWS server?","property":"mwsServer","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":560,"y":160,"wires":[["96147524c86cc1d8"]]},{"id":"96147524c86cc1d8","type":"function","z":"2c9db7aeca761837","g":"e58841decd532a3e","name":"TiddlyWiki 'multiwikiserver' edition","func":"node.log(`Startup - ${global.get('mwsDir')}`);\nglobal.set('mwsServer', false);\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":370,"y":220,"wires":[["7f9494f20c905686"]]},{"id":"0c32555e2c9829c1","type":"link call","z":"2c9db7aeca761837","g":"1d4bc70456acd7ba","name":"","links":["05fe6cb33e33ae93"],"linkType":"static","timeout":"30","x":560,"y":1290,"wires":[["45b27da691ddd601"]]},{"id":"d1cb8f6bba82cf91","type":"link in","z":"2c9db7aeca761837","g":"1d4bc70456acd7ba","name":"From Client","links":["4c9c46b76b72965f"],"x":225,"y":1290,"wires":[["4e810fa7d9a7b1c4"]],"icon":"@potofcoffee2go/tw5-nodes/networkdown.svg"},{"id":"45b27da691ddd601","type":"link out","z":"2c9db7aeca761837","g":"1d4bc70456acd7ba","name":"To Client","mode":"link","links":["5f3f98f37ba41eb1"],"x":755,"y":1290,"wires":[],"icon":"@potofcoffee2go/tw5-nodes/networkup.svg"},{"id":"4e810fa7d9a7b1c4","type":"switch","z":"2c9db7aeca761837","g":"1d4bc70456acd7ba","name":"plugin","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"plugin","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":330,"y":1290,"wires":[["0c32555e2c9829c1"]]},{"id":"732bf9ecdfc9df63","type":"set-network","z":"2c9db7aeca761837","g":"b79d45a9b7037362","name":"About TW5-Node-RED ","topic":"","networkfield":"network.server.tiddlers","twikiName":"$tw.wiki","filter":"[[$:/plugins/potofcoffee2go/tw5-node-red]]","field":"payload","file":"public/tiddlers/install/buildplugin/How to create plugins in the browser.json","updtostory":true,"tostory":"false","template":"title: $:/state/plugin-info-156448408-$:/plugins/potofcoffee2go/tw5-node-red--303101393\ncomment: Plugin default tab to display\n\ntoys\n+======+\ntitle: $:/plugins/potofcoffee2go/tw5-node-red/docs/page\ncaption: TNR Docs\ntags: tw5-node-red\ntype: text/vnd.tiddlywiki\n\n<$button actions=\"<<node-red 'docs'>>\"> Documentation </$button>\nTW5-Node-RED Documentation\n\n<$button actions=\"<<node-red 'red'>>\"> Node-RED Editor </$button>\nNode-Red flow editor\n\n+======+\ntitle: $:/plugins/potofcoffee2go/tw5-node-red/toys/page\ncaption: TNR Toys\ntags: tw5-node-red\n\nView this tiddler [[TW5-Node-RED]]\n\n{{TW5-Node-RED}}\n\n+======+\ntitle: $:/plugins/potofcoffee2go/tw5-node-red/tools/page\ncaption: TNR Tools\ntags: tw5-node-red\ntype: text/vnd.tiddlywiki\n\n<$button actions=\"<<node-red 'to tid' '[[tw5-node-red]]'>>\"> Convert Tiddler </$button>\nDisplay a tiddler in tid or JSON format\n\n<$button actions=\"<<node-red 'to debug' '[[tw5-node-red]]'>>\"> to debug </$button>\nDisplay the Node-Red debug msg\n\n+======+\ntitle: $:/plugins/potofcoffee2go/tw5-node-red/license/page\ncaption: TNR License\ntags: tw5-node-red\ntype: text/vnd.tiddlywiki\n\n<pre><code>Copyright [2024] Kim I. McKinley\n\nLicensed under the Apache License, Version 2.0 (the \"License\");\nyou may not use this plugin except in compliance with the License.\nYou may obtain a copy of the License at\n\n    [ext[license.html|/license.html]]\n\n    http://www.apache.org/licenses/LICENSE-2.0\n\nUnless required by applicable law or agreed to in writing, software\ndistributed under the License is distributed on an \"AS IS\" BASIS,\nWITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.\nSee the License for the specific language governing permissions and\nlimitations under the License.\n</code></pre>\n","clear":false,"editorIsOpen":true,"settingsIsOpen":false,"fromIsOpen":true,"editorIsX":true,"fileIsX":false,"networkIsX":false,"twikiIsX":true,"fieldIsX":false,"x":540,"y":1450,"wires":[["35b92a1440e5cc09"]]},{"id":"0f50d74a1682b4e9","type":"function","z":"2c9db7aeca761837","g":"b79d45a9b7037362","name":"repackPlugin","func":"const $tw = global.get('$tw');\n\n$tw.utils.repackPlugin(\"$:/plugins/potofcoffee2go/tw5-node-red\", [\n    \"$:/plugins/potofcoffee2go/tw5-node-red/readme\",\n    \"$:/plugins/potofcoffee2go/tw5-node-red/settings\",\n    \"$:/plugins/potofcoffee2go/tw5-node-red/docs\",\n    \"$:/plugins/potofcoffee2go/tw5-node-red/toys\",\n    \"$:/plugins/potofcoffee2go/tw5-node-red/tools\",\n    \"$:/plugins/potofcoffee2go/tw5-node-red/credits\",\n    \"$:/plugins/potofcoffee2go/tw5-node-red/license\"\n]);\n\nmsg.payload = JSON.parse($tw.wiki.getTiddlerAsJson('$:/plugins/potofcoffee2go/tw5-node-red'));\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":290,"y":1450,"wires":[["f491cc3db92cc626"]]},{"id":"da7b525e9244bad9","type":"to-twiki","z":"2c9db7aeca761837","g":"b79d45a9b7037362","name":"TW5-Node-RED Plugin template","twikiName":"$tw.wiki","fromTwikiName":"$tw.wiki","field":"","file":"","resetOnDeploy":false,"inputTask":"addTiddlers","outputFormat":"passthru","networkfield":"network.client.tiddlers","useListener":false,"filter":"[all[]]","topic":"","outputs":1,"template":"title: $:/plugins/potofcoffee2go/tw5-node-red\ncaption: TW5-Node-RED Plugin\ndependents: \nlist: readme settings docs toys tools credits license\nauthor: PotOfCoffee2Go\ndescription: Connect TiddlyWiki to Node-RED server\nname: TW5-Node-RED\nplugin-type: plugin\ntype: application/json\nstability: STABILITY_1_EXPERIMENTAL\nversion: 0.1.5\ntags: tw5-node-red\n\n{ \"tiddlers\": {} }\n\n+======+\ntitle: $:/plugins/potofcoffee2go/tw5-node-red/readme\ncaption: readme\nauthor: PotOfCoffee2Go\ntags: tw5-node-red\n\nView this tiddler [[tw5-node-red]]\n\n{{tw5-node-red}}\n\n{{·node-red·}}\n\n+======+\ntitle: $:/plugins/potofcoffee2go/tw5-node-red/settings\ncaption: settings\nauthor: PotOfCoffee2Go\ntags: ·node-red· tw5-node-red\n\nView this tiddler [[Settings|$:/tw5-node-red/settings]]\n\n{{$:/plugins/potofcoffee2go/tw5-node-red/settings/page}}\n\n+======+\ntitle: $:/plugins/potofcoffee2go/tw5-node-red/docs\ncaption: docs\nauthor: PotOfCoffee2Go\ntags: ·node-red· tw5-node-red\n\n{{$:/plugins/potofcoffee2go/tw5-node-red/docs/page}}\n\n+======+\ntitle: $:/plugins/potofcoffee2go/tw5-node-red/toys\ncaption: toys\nauthor: PotOfCoffee2Go\ntags: ·node-red· tw5-node-red\n\n{{$:/plugins/potofcoffee2go/tw5-node-red/toys/page}}\n\n+======+\ntitle: $:/plugins/potofcoffee2go/tw5-node-red/tools\ncaption: tools\nauthor: PotOfCoffee2Go\ntags: ·node-red· tw5-node-red\n\n{{$:/plugins/potofcoffee2go/tw5-node-red/tools/page}}\n\n+======+\ntitle: $:/plugins/potofcoffee2go/tw5-node-red/credits\ncaption: credits\nauthor: PotOfCoffee2Go\ntags: ·node-red· tw5-node-red\n\n{{$:/plugins/potofcoffee2go/tw5-node-red/credits/page}}\n\n+======+\ntitle: $:/plugins/potofcoffee2go/tw5-node-red/license\ncaption: license\nauthor: PotOfCoffee2Go\ntags: ·node-red· tw5-node-red\n\n{{$:/plugins/potofcoffee2go/tw5-node-red/license/page}}\n\n\n","clear":false,"editorIsOpen":true,"settingsIsOpen":false,"fromIsOpen":true,"editorIsX":true,"fileIsX":false,"networkIsX":false,"twikiIsX":false,"fieldIsX":false,"x":610,"y":1390,"wires":[["0f50d74a1682b4e9"]],"info":"Add the plugin tiddlers to $tw.wiki so the call\nto repackPlugin can find them.\n"},{"id":"05fe6cb33e33ae93","type":"link in","z":"2c9db7aeca761837","g":"b79d45a9b7037362","name":"Generate TW5-Node-RED plugin","links":[],"x":320,"y":1390,"wires":[["da7b525e9244bad9"]],"l":true},{"id":"205fb0492ffcd399","type":"link out","z":"2c9db7aeca761837","g":"b79d45a9b7037362","name":"Return","mode":"return","links":[],"x":745,"y":1450,"wires":[]},{"id":"f491cc3db92cc626","type":"set-network","z":"2c9db7aeca761837","g":"b79d45a9b7037362","name":"Show plugin tiddler?","topic":"","networkfield":"network.server.tiddlers","twikiName":"$tw.wiki","filter":"[[$:/plugins/potofcoffee2go/tw5-node-red]]","field":"payload","file":"","updtostory":true,"tostory":"false","template":"","clear":false,"editorIsOpen":false,"settingsIsOpen":true,"fromIsOpen":true,"editorIsX":false,"fileIsX":false,"networkIsX":false,"twikiIsX":false,"fieldIsX":true,"x":395,"y":1450,"wires":[["732bf9ecdfc9df63"]],"l":false},{"id":"35b92a1440e5cc09","type":"function","z":"2c9db7aeca761837","g":"b79d45a9b7037362","name":"function 2","func":"msg.network.server.storylist = ['$:/plugins/potofcoffee2go/tw5-node-red'];\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":685,"y":1450,"wires":[["205fb0492ffcd399"]],"l":false},{"id":"13f2edf6c09f64dc","type":"inject","z":"2c9db7aeca761837","g":"74cccb512b620574","name":"Startup","props":[{"p":"commands","v":"[\"--mws-listen\",\"port=8200\"]","vt":"json"},{"p":"mwsStartup","v":"MultiWikiServer Started","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"2","topic":"","x":380,"y":320,"wires":[["d9d1d07fab30e075"]]},{"id":"d9d1d07fab30e075","type":"link call","z":"2c9db7aeca761837","g":"74cccb512b620574","name":"","links":["45d54f170e388b66"],"linkType":"static","timeout":"30","x":580,"y":320,"wires":[[]]},{"id":"eb845b8cbc7ac49a","type":"tab","label":"Network","disabled":false,"info":"","env":[]},{"id":"d1d824ed77b66140","type":"group","z":"eb845b8cbc7ac49a","name":"Server Inquiry: \\n Call to request tiddlers from client \\n Place TiddlyWiki filter in 'msg.filter' to select desired tiddlers \\n For Example: \\n ","style":{"label":true,"label-position":"n"},"nodes":["43382dce74b3010a","fde1fed6e12b5da0","9b88d3454bec6454"],"x":28,"y":2235,"w":644,"h":252},{"id":"01567b9b6b2e01a1","type":"group","z":"eb845b8cbc7ac49a","name":"Starter Template for TiddlyWiki Client flow \\n Click here to select, \\n  Copy (ctrl-c). \\n Go to a different tab \\n Paste (ctrl-v),  \\n ≣ → Groups → Ungroup selection \\n ","style":{"label":true,"label-position":"n"},"nodes":["9da0d9942e6c2fc1","22dee6fb410a27bf","a28b92d7f528218f","7cbca5f5615be00e","681513f781f27975"],"x":244,"y":501,"w":652,"h":202},{"id":"e4c2719e30c99637","type":"group","z":"eb845b8cbc7ac49a","name":" TiddlyWiki Client Interface  (msg)","style":{"label":true,"label-position":"n"},"nodes":["c2642e3fa442ca65","e0350dac670bea64","cc84a8e59d36a284","379f3550af8b837e","8a0eb26ebf7e9961"],"x":14,"y":33,"w":1212,"h":430},{"id":"e0350dac670bea64","type":"group","z":"eb845b8cbc7ac49a","g":"e4c2719e30c99637","name":"Heartbeats track client IDs (a new ID / token occurs when web page reloaded)","style":{"label":true,"label-position":"n","stroke":"#777777"},"nodes":["c7aae36c394ac57c","3fa65bfb3f190977","9956e8251c2b37a6","eb3460001d69b98d","2906f48e265052e9","dbfa021da3dc04ca","9ec5ea4d8d2b2542","85f96a4f808488c5","17659a42281ba3f7","96d69fda963f66a2","7393e531a0f6d08e","bf9dc7fbfb3b1106"],"x":234,"y":59,"w":802,"h":362},{"id":"9b88d3454bec6454","type":"group","z":"eb845b8cbc7ac49a","g":"d1d824ed77b66140","name":"Request client tiddlers","style":{"label":true,"stroke":"#ffff00"},"nodes":["2d16349559e708d1","d6044d2db5c9a352","3c2141c2e87ad46a"],"x":54,"y":2379,"w":592,"h":82},{"id":"17659a42281ba3f7","type":"group","z":"eb845b8cbc7ac49a","g":"e0350dac670bea64","name":"","style":{"stroke":"#7f7f7f","label":true},"nodes":["4c9c46b76b72965f","5f3f98f37ba41eb1"],"x":424,"y":239,"w":362,"h":82},{"id":"c2642e3fa442ca65","type":"uibuilder","z":"eb845b8cbc7ac49a","g":"e4c2719e30c99637","name":"Inbound \\n ","topic":"","url":"svr","fwdInMessages":false,"allowScripts":false,"allowStyles":false,"copyIndex":true,"templateFolder":"blank","extTemplate":"","showfolder":false,"reload":false,"sourceFolder":"src","deployedVersion":"6.4.1","showMsgUib":false,"x":100,"y":134,"wires":[["3fa65bfb3f190977"],["379f3550af8b837e"]]},{"id":"4c9c46b76b72965f","type":"link out","z":"eb845b8cbc7ac49a","g":"17659a42281ba3f7","name":"From Client","mode":"link","links":["24408524e1d4766d","4d92fe16a1cdc7af","953ae984b4f4c06e","9da0d9942e6c2fc1","b6d912c02aed86c4","cf4153896f871479","d1cb8f6bba82cf91","d6ea0c2ee9926639","de29b90b6878e330","e1182f32882a4acc","e49174688546a04d","f863a67c056367c1","5c712f0ce8dca9b2","822afd14ac7a2985","f3bc83f894bc836e","90ab04c3ce5393e8","30c77c05be7866f3","dd5ea46f096963b9","f15b36736dfbab83","7d181c09e1cbb823","20bdec5d39a32ed9","1bb0c6fc5d4b21c0","b475506f1c04a454","fb747f122378fdb3","821955a316a5b4d1","b3f3017b726e9d6d","432685b6a22a9f0c","033ee6c5fd9b2921","6264a9cb314478e8","30d1b206b8634711","4bfb1be4b8167a4b","7df426b3cbeb4f44","3ba672d713e44792","082166158d46af41","7c6ac8311b11bc2a","f24e0c3fe3980b8a","e368bd6862eeba29","4187e021402a55de","9321e75d118ca4af","b27ea02bc203e5f5","a5a15f950dcbf5eb","1f09a9e28b57b394","8c82e7455a92d9d0","b3f1b086fcd9e11d","9e04bbecb2bb7c33","cbaa14bc051e3edb","3c3235632a2801e6","193b99040d04db3d","6f22ba451b7f1160","a82f26a81975809b","d25c62f7be74bce2","19722cda955e186f"],"x":520,"y":280,"wires":[],"icon":"@potofcoffee2go/tw5-nodes/networkdown.svg","l":true},{"id":"5f3f98f37ba41eb1","type":"link in","z":"eb845b8cbc7ac49a","g":"17659a42281ba3f7","name":"To Client","links":["0ce5729373969295","123b82e57831527e","22dee6fb410a27bf","35b7aaedbbb217c4","425a72841789949c","45b27da691ddd601","6a40ed1c79cf46ea","7b92b0207a3e0740","8c341caadf2b0cc0","8c99b04967d79353","bc00d1525b9d48e3","f4eab1f49fbefa04","f71b3b25d6865f7c","f80060ac36d89c4b","9630213056cdc89a","8a0a947dc3743e87","704002cca88ec103","f0f050fbab58af8a","ba2b1aab05d32cb7","192c839a1476110a","80f6cc12c651bec8","b943f50af5e3f0df","b4e52cdc03846635","2c1f3f9583e66a3b","e90ca709ace454ef","2b699ce7937556b8","70e704d96f1c9db8","ac5a5c0c6c3c6c8a","b396fbd59ee28476","a786cadcaaebc48c","7b9e83c8c7bad25c","34a39a844e51115d","965579dd498a4131","3439dbc165a1862f","c0f8a521d6440031","d1764b3bc58cf21d","036335366159e325","961d509e5c6ff471","7ad2abd9eaa5de87","ac5ce25a67192096","d24091429b7ee2fe","e131c5283f01c093","d768dd2a6fd581b5","ad4f9aefd31ecdb2","c1667f9bd1181880","5652efdb88423597","2bda46117159af2a","e8d74aa808633faa","7301de8d5d4d39eb","ea95423b40b2db5f","c46b10628a2229d2","1e51d86796c72732","a64c7ab49401a344","8968500f2afcb634","1f7cf6bc73665c60"],"x":700,"y":280,"wires":[["dbfa021da3dc04ca"]],"icon":"@potofcoffee2go/tw5-nodes/networkup.svg","l":true},{"id":"c7aae36c394ac57c","type":"function","z":"eb845b8cbc7ac49a","g":"e0350dac670bea64","name":"Connect & \\n Bearer token","func":"// Client connection info gathered during heartbeat processing\nconst $tw = global.get('$tw');\nconst connectionDb = global.get('twikis').ConnectionDb;\n\n// Generates a JWT token\nfunction genToken(text) {\n    let sweet = { spot: text };\n    const jwt = global.get('jwt');\n    return jwt.sign(sweet, 'shhhhh');\n}\n\n// if wish to decode the token would use:\n// var decoded = jwt.verify(token, 'shhhhh');\n// console.dir(decoded); // bar\n\n// Client Id remains the same until browser reloads page\nvar clientIds = global.get('clientIds');\nvar cId = msg.network.meta._clientid;\n\n// Set the token to be stored by the client\nconst clientStore = msg.network.meta.tiddlers.find((tiddler) => tiddler.title === '$:/temp/tw5-node-red/store');\nif (!clientStore) {\n    throw new Error('Tiddler $:/temp/tw5-node-red/store not present for bearer token')\n}\n\n// Initial connection so generate default values\n// Send msg for further processing of new connections\nif (cId && !clientIds[cId]) {\n    const randomtext = cId;\n    clientIds[cId] = {\n        clientId: cId,\n        userid: '', // Set when authenticated\n        socketId: msg._socketId,\n        auth: {\n            _id: randomtext,\n            _token: genToken(randomtext),\n            authorized: false,\n        }\n    }\n\n    // the server's socket id for this connection\n    var connectDbTiddler = JSON.parse(connectionDb.getTiddlersAsJson(`[[${msg._socketId}]]`));\n    if (connectDbTiddler.length === 0) {\n        throw new Error('Connect ConnectionDb Tiddler not present for updates');\n    }\n\n    clientStore.token = clientIds[cId].auth._token;\n    clientStore.socketId = msg._socketId;\n    clientStore.clientid = cId;\n\n    connectDbTiddler[0].tw5clientid = cId;\n    connectDbTiddler[0].tags = cId;\n    connectionDb.addTiddler(connectDbTiddler[0]);\n    // Send to security system to finish processing first message\n    node.send([null, msg]);\n}\n\n// Insure socket Id is correct (due to reconnects)\nif (clientIds[cId].socketId !== msg._socketId) {\n//   node.log(`Client switching from socket ${clientIds[cId].socketId}`);\n//   node.log(` to socket ${msg._socketId}`);\n    // Remove stale ConnectionDb tiddler with old socket id\n    connectionDb.deleteTiddler(clientIds[cId].socketId);\n    \n    // Get the new ConnectionDb tiddler - created by tab 'Databases' -> 'ConnectionDb' flow \n    var connectDbTiddler = JSON.parse(connectionDb.getTiddlersAsJson(`[[${msg._socketId}]]`));\n    if (connectDbTiddler.length === 0) {\n        throw new Error('Reconnect ConnectionDb Tiddler not present for updates');\n    }\n\n    // Update all objects, server and client side\n    clientIds[cId].socketId = msg._socketId\n    clientStore.socketId = msg._socketId;\n    connectDbTiddler[0].tw5clientid = cId;\n    connectDbTiddler[0].tags = cId;\n    connectionDb.addTiddler(connectDbTiddler[0]);\n    // Send Heartbeat reply\n    if (msg.topic === 'heartbeat') {\n        node.send([msg, null]);\n    } else { // Send to security system\n        node.send([null, msg]);\n    }\n}\n\n// Send every msg for further processing\nnode.send([msg, null])\nnode.done()\nreturn;\n","outputs":2,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":560,"y":120,"wires":[["9956e8251c2b37a6"],["2906f48e265052e9"]],"outputLabels":["heartbeat","get token"],"icon":"font-awesome/fa-group"},{"id":"3fa65bfb3f190977","type":"switch","z":"eb845b8cbc7ac49a","g":"e0350dac670bea64","name":"heartbeat ping  \\n ⋯ else ⋯ \\n message","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"heartbeat","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":370,"y":130,"wires":[["c7aae36c394ac57c"],["eb3460001d69b98d"]]},{"id":"9956e8251c2b37a6","type":"uib-sender","z":"eb845b8cbc7ac49a","g":"e0350dac670bea64","url":"svr","uibId":"c2642e3fa442ca65","name":"heartbeat pong","topic":"","passthrough":false,"return":false,"outputs":0,"x":770,"y":100,"wires":[]},{"id":"9da0d9942e6c2fc1","type":"link in","z":"eb845b8cbc7ac49a","g":"01567b9b6b2e01a1","name":"From Client","links":["4c9c46b76b72965f"],"x":285,"y":650,"wires":[["a28b92d7f528218f"]],"icon":"@potofcoffee2go/tw5-nodes/networkdown.svg"},{"id":"22dee6fb410a27bf","type":"link out","z":"eb845b8cbc7ac49a","g":"01567b9b6b2e01a1","name":"To Client","mode":"link","links":["5f3f98f37ba41eb1"],"x":855,"y":650,"wires":[],"icon":"@potofcoffee2go/tw5-nodes/networkup.svg"},{"id":"a28b92d7f528218f","type":"switch","z":"eb845b8cbc7ac49a","g":"01567b9b6b2e01a1","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"","vt":"str"}],"checkall":"false","repair":false,"outputs":1,"x":370,"y":650,"wires":[["7cbca5f5615be00e"]]},{"id":"7cbca5f5615be00e","type":"set-network","z":"eb845b8cbc7ac49a","g":"01567b9b6b2e01a1","name":"","topic":"","networkfield":"network.server.tiddlers","twikiName":"$tw.wiki","filter":"[all[]]","field":"","file":"","updtostory":true,"tostory":"true","template":"title: Simple Test\n\nThis is a simple test ;)\n\n<div><b>The 'topic' was blank!</b></div>\n","clear":false,"editorIsOpen":true,"settingsIsOpen":true,"fromIsOpen":true,"editorIsX":true,"fileIsX":false,"networkIsX":false,"twikiIsX":false,"fieldIsX":false,"x":750,"y":650,"wires":[["22dee6fb410a27bf"]]},{"id":"681513f781f27975","type":"comment","z":"eb845b8cbc7ac49a","g":"01567b9b6b2e01a1","name":"<= Change the topic \\n               Change the tiddler =>","info":"","x":550,"y":650,"wires":[]},{"id":"2d16349559e708d1","type":"link in","z":"eb845b8cbc7ac49a","g":"9b88d3454bec6454","name":"Request client tiddlers","links":[],"x":180,"y":2420,"wires":[["d6044d2db5c9a352"]],"l":true},{"id":"d6044d2db5c9a352","type":"uib-sender","z":"eb845b8cbc7ac49a","g":"9b88d3454bec6454","url":"svr","uibId":"c2642e3fa442ca65","name":"Inquiry","topic":"server.request","passthrough":false,"return":true,"outputs":1,"x":370,"y":2420,"wires":[["3c2141c2e87ad46a"]]},{"id":"3c2141c2e87ad46a","type":"link out","z":"eb845b8cbc7ac49a","g":"9b88d3454bec6454","name":"Client response","mode":"return","links":[],"x":540,"y":2420,"wires":[],"l":true},{"id":"43382dce74b3010a","type":"link call","z":"eb845b8cbc7ac49a","g":"d1d824ed77b66140","name":"","links":["2d16349559e708d1"],"linkType":"static","timeout":"30","x":440,"y":2340,"wires":[[]]},{"id":"fde1fed6e12b5da0","type":"change","z":"eb845b8cbc7ac49a","g":"d1d824ed77b66140","name":"","rules":[{"t":"set","p":"filter","pt":"msg","to":"[[GettingStarted]]","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":230,"y":2340,"wires":[["43382dce74b3010a"]]},{"id":"9ec5ea4d8d2b2542","type":"function","z":"eb845b8cbc7ac49a","g":"e0350dac670bea64","name":"broadcast to msg.broadcastId","func":"var clientIds = global.get('clientIds');\n\n// Setup meta data for broadcast and send msg\nif (msg.broadcastId) {\n     if (msg.broadcastId === 'all') {\n          var allIds = [];\n          for (let cid in clientIds) {\n               allIds.push(cid);\n          }\n          msg.broadcastId = allIds;\n     }\n     if (!Array.isArray(msg.broadcastId)) { msg.broadcastId = [msg.broadcastId] }\n\n     msg.network.meta.tiddlers = [];\n     msg.network.client.tiddlers = [];\n     msg.network.client.sender = [];\n     delete msg.network.user;\n     msg.broadcastId.forEach((id) => {\n          if (clientIds[id]) {\n               msg.network.meta._clientid = id;\n               msg._socketId = clientIds[id].socketId;\n               node.send(msg);\n          }\n     })\n}\nnode.done();\nreturn;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":640,"y":380,"wires":[["dbfa021da3dc04ca"]]},{"id":"dbfa021da3dc04ca","type":"change","z":"eb845b8cbc7ac49a","g":"e0350dac670bea64","name":"Remove cruft","rules":[{"t":"delete","p":"payload","pt":"msg"},{"t":"delete","p":"network.user","pt":"msg"},{"t":"delete","p":"temp","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":920,"y":330,"wires":[["bf9dc7fbfb3b1106"]]},{"id":"cc84a8e59d36a284","type":"uib-sender","z":"eb845b8cbc7ac49a","g":"e4c2719e30c99637","url":"svr","uibId":"c2642e3fa442ca65","name":"Outboud \\n <svr>","topic":"server.tiddlers","passthrough":false,"return":false,"outputs":0,"x":1140,"y":410,"wires":[]},{"id":"2906f48e265052e9","type":"link out","z":"eb845b8cbc7ac49a","g":"e0350dac670bea64","name":"to Security System","mode":"link","links":["509b906f53cc0bc2"],"x":780,"y":150,"wires":[],"l":true},{"id":"eb3460001d69b98d","type":"function","z":"eb845b8cbc7ac49a","g":"e0350dac670bea64","name":"Is authorized?","func":"const $tw = global.get('$tw');\nconst usersDb = global.get('twikis').Users;\nconst allowAnon = global.get(\"allowAnon\");\nconst guestUser = [{\n\t\"title\": \"Guest\",\n\t\"created\": \"20240204032118657\",\n\t\"modified\": \"20240204032213393\",\n\t\"userid\": \"Guest\",\n\t\"username\": \"Guest\",\n\t\"email\": \"guest@example.com\",\n\t\"pwHash\": \"$2b$08$oxvoOGoMFhLiMUJOLdFtIe8xcQlPiXgyltVhEB/pMZMXQMaruniue\"\n}];\n\n// This client\nvar clientIds = global.get('clientIds');\nvar cId = msg.network.meta._clientid;\nvar allowGuest = msg.network.meta.source === 'HTML' || allowAnon ? true : false;\n\n// Set currentTiddler\nmsg.network.client.currentTiddler = msg.network.client.sender[0];\n// Get bearer token and must match\n//  (if server is rebooted or client reconnects - this will throw once\n//   but will be ok for requests thereafter)\nvar found = msg.network.meta.tiddlers.find((tiddler) => tiddler.title === '$:/temp/tw5-node-red/store');\nif (!found) { found = { token: 'this will fail' } }\nif (found.token !== clientIds[cId].auth._token) {\n    msg.error = 'Client/Server bearer token mismatch';\n\tnode.log(msg.error);\n\tnode.warn(msg.error);\n    node.done(); // do not forward the message to the next node\n    return;\n}\n\n// If not Web page and not allowing anonymous access and\n//  connection has not been authorized yet\n// Request a login\nif (!allowGuest && !clientIds[cId].auth.authorized) {\n    node.send(msg); node.done();\n    return;\n}\n\n// Get user from the Users database\nvar userDbTiddler = JSON.parse(usersDb.getTiddlersAsJson(`[[${clientIds[cId].userid}]]`));\n\n// Do not have a user\nif (!allowGuest && userDbTiddler.length === 0) {\n    msg.error = 'User ID Not Found';\n\tclientIds[cId].auth.authorized = false;\n\tnode.send(msg); node.done();\n\treturn;\n}\n\n// If allowing anonymous login\n//  get a copy of the generic 'Guest' tiddler and authorize it\nif (allowGuest && userDbTiddler.length === 0) {\n\tuserDbTiddler = JSON.parse(JSON.stringify(guestUser));   \n\tclientIds[cId].userid = userDbTiddler.userid;\n\tclientIds[cId].auth.authorized = true;\n}\n\n// Add user to message and send to the flows\nmsg.network.user = JSON.parse(JSON.stringify(userDbTiddler[0]));\nnode.send([null, msg]); node.done();\nreturn;\n","outputs":2,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":570,"y":180,"wires":[["2906f48e265052e9"],["4c9c46b76b72965f"]],"outputLabels":["Not authorized","Authorized"]},{"id":"379f3550af8b837e","type":"link out","z":"eb845b8cbc7ac49a","g":"e4c2719e30c99637","name":"ConnectionDb","mode":"link","links":["a03e67d3c6af9466"],"x":140,"y":240,"wires":[],"l":true},{"id":"85f96a4f808488c5","type":"link in","z":"eb845b8cbc7ac49a","g":"e0350dac670bea64","name":"Broadcast msg","links":["04895925eade208c","761190764f5f719c","8ecf386acefd8e7d","f1ef5a7e371b1c7c"],"x":400,"y":380,"wires":[["9ec5ea4d8d2b2542"]],"l":true},{"id":"96d69fda963f66a2","type":"link in","z":"eb845b8cbc7ac49a","g":"e0350dac670bea64","name":"Message to flows","links":["185083fbec1aa799","86514e0ce0668cbe","9b0a95db2e9194f2","dbf7e878fa564983","edc0b050e5af6de4","55476bca421eb07a","c0d81093110cbce5"],"x":370,"y":200,"wires":[["eb3460001d69b98d"]],"l":true},{"id":"7393e531a0f6d08e","type":"link in","z":"eb845b8cbc7ac49a","g":"e0350dac670bea64","name":"Web to flows","links":["76268e5a03d9efbf"],"x":330,"y":280,"wires":[["4c9c46b76b72965f"]],"l":true},{"id":"bf9dc7fbfb3b1106","type":"switch","z":"eb845b8cbc7ac49a","g":"e0350dac670bea64","name":"channel router","property":"network.meta.location.pathname","propertyType":"msg","rules":[{"t":"cont","v":"/web/page/","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":930,"y":380,"wires":[["8a0eb26ebf7e9961"],["cc84a8e59d36a284"]]},{"id":"8a0eb26ebf7e9961","type":"uib-sender","z":"eb845b8cbc7ac49a","g":"e4c2719e30c99637","url":"web","uibId":"69aa7eb35d63cab7","name":"Outbound \\n <web>","topic":"server.tiddlers","passthrough":false,"return":false,"outputs":0,"x":1140,"y":350,"wires":[]},{"id":"fb90098a1998250c","type":"tab","label":"Security","disabled":false,"info":"","env":[]},{"id":"a24216bd24717c1e","type":"group","z":"fb90098a1998250c","name":" Security System","style":{"label":true,"label-position":"n","stroke":"#a4a4a4"},"nodes":["bfac12ca49095e92","530c27cac770eeb4","581538b733302aa5"],"x":18,"y":41,"w":914,"h":866},{"id":"bfac12ca49095e92","type":"group","z":"fb90098a1998250c","g":"a24216bd24717c1e","name":" \\n Bearer token, Authentication, and Authorization \\n ","style":{"label":true,"label-position":"n"},"nodes":["54d80eaa9d3610c7","ac5ce25a67192096","3acd500998d87b22","b58a5472ed70d8b5","86514e0ce0668cbe","750bd45bece7449a","bd6c95b1f4f345ec","362f3c37d0b16030","cfee1305fe93f1c8","509b906f53cc0bc2","cac2c9295125e3b0","14096d56e14782d1"],"x":99,"y":67,"w":767,"h":434},{"id":"530c27cac770eeb4","type":"group","z":"fb90098a1998250c","g":"a24216bd24717c1e","name":"On-line Requests","style":{"label":true,"label-position":"n"},"nodes":["49d895b99b92ec84","4187e021402a55de","7396102619538ddb","4cd957658dc2bd9c","98189b2afd7d3e72","1f7cf6bc73665c60"],"x":44,"y":527,"w":862,"h":154},{"id":"581538b733302aa5","type":"group","z":"fb90098a1998250c","g":"a24216bd24717c1e","name":"Users - TW Database","style":{"label":true,"label-position":"n"},"nodes":["502c174b58244c46","210019cdd0a834d4","24927d6a4e6c3c1a","9b0a95db2e9194f2","1872fb3e9892e498","d24091429b7ee2fe"],"x":84,"y":729,"w":767,"h":152},{"id":"509b906f53cc0bc2","type":"link in","z":"fb90098a1998250c","g":"bfac12ca49095e92","name":"Security System","links":["2906f48e265052e9","98189b2afd7d3e72"],"x":205,"y":140,"wires":[["b58a5472ed70d8b5"]],"l":true},{"id":"54d80eaa9d3610c7","type":"function","z":"fb90098a1998250c","g":"bfac12ca49095e92","name":"Authenticate","func":"// Authorize a sign-in from the login tiddler\nconst bcrypt = global.get('bcrypt');\nconst usersDb = global.get('twikis').Users;\nconst userdata = msg.network.client.sender[0];\n\n// Assume will be getting an error\nmsg.topic = 'login';\nmsg.network.user = JSON.parse(JSON.stringify(userdata));\ndelete msg.network.user.password;\n\n// Check for required fields\nif (!(userdata.userid && userdata.password)) {\n  msg.error = `All fields with '*' required.`;\n  node.send(msg); node.done();\n  return;\n}\n\nif (/[|[\\]{}].*$/.test(userdata.userid)) {\n  msg.error = `User ID can not contain \\`| [ ] { }\\` (vertical bar, square or curly brackets)`;\n  node.send(msg); node.done();\n  return;\n}\n\n// Look up userid from database\nvar userDbTiddler = JSON.parse(usersDb.getTiddlersAsJson(`[[${userdata.userid}]]`));\n\n// User ID is not found\nif (!userDbTiddler.length) {\n  msg.error = `User ID '${userdata.userid}' Not Found`;\n  node.send(msg); node.done();\n  return;\n}\n\n// Reference the stored user data\nuserDbTiddler = userDbTiddler[0];\n\n// Verify the password\nconst pwValid = await bcrypt.compare(userdata.password, userDbTiddler.pwHash);\nif (!pwValid) {\n  msg.error = 'Password Invalid!';\n  node.send(msg); node.done();\n  return;\n}\n\n\n// Authenticate this client\nvar clientIds = global.get('clientIds');\nvar cId = msg.network.meta._clientid;\nif (cId && clientIds[cId]) {\n  clientIds[cId].userid = userdata.userid;\n  clientIds[cId].auth.authorized = true;\n}\n\n// send authentication success\nmsg.network.user = userDbTiddler;\n\nnode.send([null, msg]);\nreturn;\n","outputs":2,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":560,"y":150,"wires":[["86514e0ce0668cbe"],["362f3c37d0b16030"]]},{"id":"ac5ce25a67192096","type":"link out","z":"fb90098a1998250c","g":"bfac12ca49095e92","name":"To Client","mode":"link","links":["5f3f98f37ba41eb1"],"x":805,"y":310,"wires":[],"icon":"@potofcoffee2go/tw5-nodes/networkup.svg"},{"id":"3acd500998d87b22","type":"set-network","z":"fb90098a1998250c","g":"bfac12ca49095e92","name":"Request account","topic":"","networkfield":"network.server.tiddlers","twikiName":"$tw.wiki","filter":"[all[]]","field":"payload","file":"","updtostory":true,"tostory":"true","template":"title: $:/tw5-node-red/account\nmustache: yes\nuserid: {%network.user.userid%}\npassword: {%network.user.password%}\nusername: {%network.user.username%}\nemail: {%network.user.email%}\n\n!!! Register request\n\n{%#error%}\n<span style=\"color: red; font-size: 1.2em;\">{%.%}</span>\n{%/error%}\n\nThis registration request is a placeholder to be implemented by TW5-Node-RED application developers. See <$button actions=\"<<node-red 'login docs'>>\" class=\"tc-btn-invisible tc-tiddlylink\">Login documentation</$button>\n\n|User ID*|<$edit-text field=\"userid\"/>| Unique string used to sign on |\n|Password*|<$edit-text field=\"password\"/>| password used to sign on |\n|User name*|<$edit-text field=\"username\"/>| Name to display to other users |\n|Email|<$edit-text field=\"email\"/>| optional email address |\n\n<$button actions=\"<<node-red 'register user'>>\"> Create account </$button>\n\n---\n\n```\n{%&temp%}\n```\n\n","clear":false,"editorIsOpen":true,"settingsIsOpen":false,"fromIsOpen":true,"editorIsX":true,"fileIsX":false,"networkIsX":false,"twikiIsX":false,"fieldIsX":false,"x":580,"y":245,"wires":[["ac5ce25a67192096"]]},{"id":"b58a5472ed70d8b5","type":"switch","z":"fb90098a1998250c","g":"bfac12ca49095e92","name":"Authenticate \\n Register request \\n Register user \\n Login docs \\n Bearer token \\n otherwise Login request","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"authenticate","vt":"str"},{"t":"eq","v":"register request","vt":"str"},{"t":"eq","v":"register user","vt":"str"},{"t":"eq","v":"login docs","vt":"str"},{"t":"eq","v":"heartbeat","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":6,"x":295,"y":280,"wires":[["54d80eaa9d3610c7"],["3acd500998d87b22"],["bd6c95b1f4f345ec"],["750bd45bece7449a"],["cfee1305fe93f1c8"],["cac2c9295125e3b0"]]},{"id":"86514e0ce0668cbe","type":"link out","z":"fb90098a1998250c","g":"bfac12ca49095e92","name":"Message to flows","mode":"link","links":["96d69fda963f66a2","9bda19b8b96ee73e"],"x":750,"y":140,"wires":[],"l":true},{"id":"750bd45bece7449a","type":"set-network","z":"fb90098a1998250c","g":"bfac12ca49095e92","name":"Sign in help","topic":"","networkfield":"network.server.tiddlers","twikiName":"$tw.wiki","filter":"[all[]]","field":"payload","file":"","updtostory":true,"tostory":"true","template":"title: Login\nmustache: yes\nuserid: {%network.user.userid%}\nusername: {%network.user.username%}\nemail: {%network.user.email%}\n\n!!! Login documentation\n\n|''userid'':|{{!!userid}}|\n|''username'':|{{!!username}}|\n|''email'':|{{!!email}}|\n\n<$button actions=\"<<node-red 'register request'>>\"> Create Account </$button>\n<$button actions=\"<<node-red 'login'>>\"> Sign in </$button>\n<$button actions=\"<<node-red 'logout'>>\"> Sign off </$button>\n\n> The system is currently under construction - so currently allows a user to enter a username and will authorize them. Can see the system in the Network' and 'Connect' tabs of the flow editor.\n\nThe Authentication and Authorization system is a template for application developers. The flows have been wired  assuming the following steps will be used - but of course can be changed to match authorization requirements.\n\n * Login screen allowing a user to Sign in or Register\n\n * If user Registers - displays the registration screen\n   ** Verify the email - or whatever using to authenticate\n   ** Success - return to login screen\n   ** Fail - return to Registration screen\n * If user Signs in \n   ** Verify the user is Registered\n      ** Success - set the user as authorized\n      ** Fail - returns to Login screen\n\nWhen a user is logged in, user info is added to 'msg.network.user' for every message received and deleted from the message when responding to the user.\n\nif anonymous access is allowed set the allowAnon flag in <span class=\"poc2g-dir\">./settings.js</span> allowing all users to be initially logged in as 'Guest'. Use `<<node-red 'login'>>` to present a login screen.\n\n---\n","clear":false,"editorIsOpen":true,"settingsIsOpen":false,"fromIsOpen":true,"editorIsX":true,"fileIsX":false,"networkIsX":false,"twikiIsX":false,"fieldIsX":false,"x":570,"y":325,"wires":[["ac5ce25a67192096"]]},{"id":"bd6c95b1f4f345ec","type":"link out","z":"fb90098a1998250c","g":"bfac12ca49095e92","name":"To Create account","mode":"link","links":["210019cdd0a834d4"],"x":585,"y":285,"wires":[],"l":true},{"id":"362f3c37d0b16030","type":"set-network","z":"fb90098a1998250c","g":"bfac12ca49095e92","name":"Login success","topic":"","networkfield":"network.server.tiddlers","twikiName":"$tw.wiki","filter":"[all[]]","field":"payload","file":"","updtostory":true,"tostory":"false","template":"title: $:/temp/tw5-node-red/authenticated\n\nThis tiddler MUST BE FIRST!!\n\n+======+\ntitle: $:/tw5-node-red/login/styles.css\ntags: $:/tags/Stylesheet\ntype: text/css\n\n.tc-page-controls {}\n+======+\ntitle: $:/DefaultTiddlers\n\n+======+\ntitle: $:/config/PageControlButtons/Visibility/$:/core/ui/Buttons/control-panel\n\nshow\n+======+\ntitle: $:/config/PageControlButtons/Visibility/$:/core/ui/Buttons/home\n\nhide\n+======+\ntitle: $:/config/PageControlButtons/Visibility/$:/core/ui/Buttons/new-tiddler\n\nshow\n+======+\ntitle: $:/config/PageControlButtons/Visibility/$:/core/ui/Buttons/save-wiki\n\nshow\n+======+\ntitle: $:/tw5-node-red/logout\nmustache: yes\nuserid: {%network.user.userid%}\nusername: {%network.user.username%}\nemail: {%network.user.email%}\n\n\n!!! Logout request\n\n{%#error%}\n<span style=\"color: red; font-size: 1.2em;\">{%.%}</span>\n{%/error%}\n\nThis logout request is a placeholder to be implemented by TW5-Node-RED application developers. See <$button actions=\"<<node-red 'login docs'>>\" class=\"tc-btn-invisible tc-tiddlylink\">Login documentation</$button>\n\n|User ID|{{!!userid}}|\n|User name|{{!!username}}|\n\n<div style=\"\">\n<$button actions=\"<<node-red 'logout'>>\"> Sign off </$button>\n</div>\n\n---\n\n+======+\ntitle: $:/tw5-node-red/login\nmustache: yes\nuserid: {%network.user.userid%}\nusername: {%network.user.username%}\nemail: {%network.user.email%}\n\n!!! Authorized\n\nThis authorization success is a placeholder to be implemented by TW5-Node-RED application developers. See <$button actions=\"<<node-red 'login docs'>>\" class=\"tc-btn-invisible tc-tiddlylink\">Login documentation</$button>\n\n|User ID*|<$edit-text field=\"userid\"/>| Unique string used to sign on |\n|User name*|<$edit-text field=\"username\"/>| Name to display to other users |\n|Email|<$edit-text field=\"email\"/>| optional email address |\n\n<$button actions=\"<<node-red 'logout'>>\"> Sign off </$button>\n\n\n+======+\ntitle: $:/poc2go/ui/Buttons/logout\ntags: $:/tags/PageControls\ncaption: {{$:/poc2go/images/logout-button}} {{$:/language/Buttons/Logout/Caption}}\ndescription: {{$:/language/Buttons/Logout/Hint}}\n\n\\whitespace trim\n<$button to=\"$:/tw5-node-red/logout\" tooltip={{$:/language/Buttons/Logout/Hint}} aria-label={{$:/language/Buttons/Logout/Caption}} class=<<tv-config-toolbar-class>>>\n<$list filter=\"[<tv-config-toolbar-icons>match[yes]]\">\n{{$:/poc2go/images/logout-button}}\n</$list>\n<$list filter=\"[<tv-config-toolbar-text>match[yes]]\">\n<span class=\"tc-btn-text\">\n<$text text={{$:/language/Buttons/Logout/Caption}}/>\n</span>\n</$list>\n</$button>\n\n+======+\ntitle: $:/poc2go/images/logout-button\ntags: $:/tags/Image Icons Images SVG\nlibrary_version: 5.15.2\nlibrary: Font-Awesome\ncollection: Solid\ncaption: network\n\n<svg width=\"22pt\" height=\"22pt\" class=\"tc-image-fa-network-wired tc-image-button\" viewBox=\"0 0 640 512\"><path d=\"M640 264v-16c0-8.84-7.16-16-16-16H344v-40h72c17.67 0 32-14.33 32-32V32c0-17.67-14.33-32-32-32H224c-17.67 0-32 14.33-32 32v128c0 17.67 14.33 32 32 32h72v40H16c-8.84 0-16 7.16-16 16v16c0 8.84 7.16 16 16 16h104v40H64c-17.67 0-32 14.33-32 32v128c0 17.67 14.33 32 32 32h160c17.67 0 32-14.33 32-32V352c0-17.67-14.33-32-32-32h-56v-40h304v40h-56c-17.67 0-32 14.33-32 32v128c0 17.67 14.33 32 32 32h160c17.67 0 32-14.33 32-32V352c0-17.67-14.33-32-32-32h-56v-40h104c8.84 0 16-7.16 16-16zM256 128V64h128v64H256zm-64 320H96v-64h96v64zm352 0h-96v-64h96v64z\"/></svg>\n\n+======+\ntitle: $:/language/Buttons/Logout/Caption\n\nSign off\n\n+======+\ntitle: $:/language/Buttons/Logout/Hint\n\nSign off from server\n\n","clear":false,"editorIsOpen":true,"settingsIsOpen":false,"fromIsOpen":true,"editorIsX":true,"fileIsX":false,"networkIsX":false,"twikiIsX":false,"fieldIsX":false,"x":570,"y":200,"wires":[["ac5ce25a67192096"]]},{"id":"cfee1305fe93f1c8","type":"set-network","z":"fb90098a1998250c","g":"bfac12ca49095e92","name":"Bearer token","topic":"","networkfield":"network.server.tiddlers","twikiName":"$tw.wiki","filter":"[all[]]","field":"payload","file":"","updtostory":true,"tostory":"false","template":"title: $:/temp/tw5-node-red/token\n\nToken delivered to [[$:/temp/tw5-node-red/store]]\n\n+======+\ntitle: $:/plugins/multiwikiclient/SideBarSegment\ntags: $:/tags/SideBarSegment\nlist-before: $:/core/ui/SideBarSegments/page-controls\n\n{{$:/temp/tw5-node-red/netstat}}\n","clear":false,"editorIsOpen":true,"settingsIsOpen":false,"fromIsOpen":true,"editorIsX":true,"fileIsX":false,"networkIsX":false,"twikiIsX":false,"fieldIsX":false,"x":570,"y":365,"wires":[["cac2c9295125e3b0"]]},{"id":"49d895b99b92ec84","type":"function","z":"fb90098a1998250c","g":"530c27cac770eeb4","name":"Unauthorize","func":"// This client\nvar clientIds = global.get('clientIds');\nvar cId = msg.network.meta._clientid;\n\nmsg.error = 'Logged out';\n\n//msg.topic = 'login';\nclientIds[cId].auth.authorized = false;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":610,"wires":[["4cd957658dc2bd9c"]]},{"id":"4187e021402a55de","type":"link in","z":"fb90098a1998250c","g":"530c27cac770eeb4","name":"From Client","links":["4c9c46b76b72965f"],"x":85,"y":603,"wires":[["7396102619538ddb"]],"icon":"@potofcoffee2go/tw5-nodes/networkdown.svg"},{"id":"7396102619538ddb","type":"switch","z":"fb90098a1998250c","g":"530c27cac770eeb4","name":"Login docs \\n Register request \\n Login \\n Logout","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"login docs","vt":"str"},{"t":"eq","v":"register request","vt":"str"},{"t":"eq","v":"login","vt":"str"},{"t":"eq","v":"logout","vt":"str"}],"checkall":"false","repair":false,"outputs":4,"x":210,"y":604,"wires":[["750bd45bece7449a"],["49d895b99b92ec84"],["49d895b99b92ec84"],["49d895b99b92ec84"]]},{"id":"4cd957658dc2bd9c","type":"set-network","z":"fb90098a1998250c","g":"530c27cac770eeb4","name":"Clear story","topic":"","networkfield":"network.server.tiddlers","twikiName":"$tw.wiki","filter":"[all[]]","field":"payload","file":"","updtostory":true,"tostory":"false","template":"title: $:/StoryList\nlist: \n\n","clear":false,"editorIsOpen":true,"settingsIsOpen":false,"fromIsOpen":true,"editorIsX":true,"fileIsX":false,"networkIsX":false,"twikiIsX":false,"fieldIsX":false,"x":585,"y":610,"wires":[["98189b2afd7d3e72","1f7cf6bc73665c60"]]},{"id":"98189b2afd7d3e72","type":"link out","z":"fb90098a1998250c","g":"530c27cac770eeb4","name":"to Security System","mode":"link","links":["509b906f53cc0bc2"],"x":790,"y":610,"wires":[],"l":true},{"id":"502c174b58244c46","type":"function","z":"fb90098a1998250c","g":"581538b733302aa5","name":"New User Authentication","func":"const $tw = global.get('$tw');\nconst bcrypt = global.get('bcrypt');\nconst usersDb = global.get('twikis').Users;\nconst userdata = msg.network.client.sender[0];\n\n// Assume will be getting an error\nmsg.topic = 'register request';\nmsg.payload = userdata;\n\n// Required fields - send error node's first output\nif (!(userdata.userid && userdata.username && userdata.password)) {\n  msg.error = `All fields with '*' are required.`;\n  node.send(msg); node.done();\n  return;\n}\n\nif (/[|[\\]{}].*$/.test(userdata.userid)) {\n  msg.error = `User ID can not contain \\`| [ ] { }\\` (vertical bar, square or curly brackets)`;\n  node.send(msg); node.done();\n  return;\n}\n\n// See if userid already exists - send error node's first output\nconst userDbTiddler = JSON.parse(usersDb.getTiddlersAsJson(userdata.userid));\nif (userDbTiddler.length) {\n  msg.error = `'${userdata.userid}' already registered`;\n  node.send(msg); node.done();\n  return;\n}\n\n// Generate the encrypted hash of the password\nconst pwHash = await bcrypt.hash(userdata.password, 8);\n\n// Reply with information about the successful account registration\nmsg.typedpassword = userdata.password + ''\ndelete userdata.password;\ndelete userdata.mustache;\n\nuserdata.title = userdata.userid;\nuserdata.pwHash = pwHash;\n\n// payload will be stored on the Users twiki\nmsg.payload = userdata;\n// data to be displayed in the reply\nmsg.network.user = userdata;\n\n// Success comes out the node's second output \nreturn [null, msg];\n","outputs":2,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":250,"y":820,"wires":[["9b0a95db2e9194f2"],["24927d6a4e6c3c1a"]],"outputLabels":["Error","Success"]},{"id":"210019cdd0a834d4","type":"link in","z":"fb90098a1998250c","g":"581538b733302aa5","name":"Create account","links":["bd6c95b1f4f345ec"],"x":190,"y":770,"wires":[["502c174b58244c46"]],"l":true},{"id":"24927d6a4e6c3c1a","type":"to-twiki","z":"fb90098a1998250c","g":"581538b733302aa5","name":"New user to Db","twikiName":"Users","fromTwikiName":"$tw.wiki","field":"payload","file":"","resetOnDeploy":false,"inputTask":"addTiddlers","outputFormat":"passthru","networkfield":"network.client.tiddlers","useListener":false,"filter":"[all[]]","topic":"","outputs":1,"template":"","clear":false,"editorIsOpen":false,"settingsIsOpen":true,"fromIsOpen":true,"editorIsX":false,"fileIsX":false,"networkIsX":false,"twikiIsX":false,"fieldIsX":true,"x":465,"y":840,"wires":[["1872fb3e9892e498"]]},{"id":"9b0a95db2e9194f2","type":"link out","z":"fb90098a1998250c","g":"581538b733302aa5","name":"Message to flows","mode":"link","links":["96d69fda963f66a2","9bda19b8b96ee73e"],"x":475,"y":800,"wires":[],"l":true},{"id":"1872fb3e9892e498","type":"set-network","z":"fb90098a1998250c","g":"581538b733302aa5","name":"Report success","topic":"","networkfield":"network.server.tiddlers","twikiName":"$tw.wiki","filter":"[all[]]","field":"payload","file":"","updtostory":true,"tostory":"true","template":"title: $:/tw5-node-red/account\nmustache: yes\nuserid: {%network.user.userid%}\nemail: {%network.user.email%}\nusername: {%network.user.username%}\npassword: {%typedpassword%}\n\n!!! Account created\n\nThis registration success is a placeholder to be implemented by TW5-Node-RED application developers. See <$button actions=\"<<node-red 'login docs'>>\" class=\"tc-btn-invisible tc-tiddlylink\">Login documentation</$button>\n\nThis is the last time this password will be displayed\n\n@@ ''Copy to a safe place'' @@\n\n|''userid'':|{{!!userid}}|\n|''password'':|{{!!password}}|\n|''username'':|{{!!username}}|\n|''email'':|{{!!email}}|\n\n\n<$button actions=\"<<node-red 'authenticate'>>\"> Login </$button>\n\n---\n\n```\n{%&temp%}\n```\n\n","clear":false,"editorIsOpen":true,"settingsIsOpen":false,"fromIsOpen":true,"editorIsX":true,"fileIsX":false,"networkIsX":false,"twikiIsX":false,"fieldIsX":false,"x":665,"y":840,"wires":[["d24091429b7ee2fe"]]},{"id":"d24091429b7ee2fe","type":"link out","z":"fb90098a1998250c","g":"581538b733302aa5","name":"To Client","mode":"link","links":["5f3f98f37ba41eb1"],"x":810,"y":840,"wires":[],"icon":"@potofcoffee2go/tw5-nodes/networkup.svg"},{"id":"cac2c9295125e3b0","type":"set-network","z":"fb90098a1998250c","g":"bfac12ca49095e92","name":"Send login","topic":"","networkfield":"network.server.tiddlers","twikiName":"$tw.wiki","filter":"[all[]]","field":"payload","file":"","updtostory":true,"tostory":"false","template":"title: $:/DefaultTiddlers\n\n$:/tw5-node-red/login\n+======+\ntitle: $:/tw5-node-red/login\nmustache: yes\nuserid: {%&network.user.userid%}\nusername: {%&network.user.username%}\nemail: {%network.user.email%}\npassword: \n\n\\define signin()\n<<node-red 'authenticate'>>\n<$action-setfield $tiddler=\"$:/StoryList\" $field=\"list\" $value={{$:/DefaultTiddlers}}/>\n<!-- <$action-sendmessage $message=\"tm-home\"/>\n<$action-navigate $to={{$:/DefaultTiddlers}}/> -->\n\\end\n\n\n!!! Login request\n\nThis login request is a placeholder to be implemented by TW5-Node-RED application developers. See <$button actions=\"<<node-red 'login docs'>>\" class=\"tc-btn-invisible tc-tiddlylink\">Login documentation</$button>\n\n!!! Sign-in\n\n{%# error %}\n<div style=\"bockground:white;color:red;font-size:1.6em;font-style:bold;\">\n{%.%}\n</div>\n{%/ error %}\n\n|User ID*|<$edit-text field=\"userid\" focus=\"no\"/>| Unique string used to identify you |\n|Password*|<$edit-text field=\"password\" type=\"password\"/>| Your password to sign in |\n\n<$button actions=\"<<signin>>\"> Sign in </$button> - Do not have an account? - <$button actions=\"<<node-red 'register request'>>\"> Create account </$button>\n\nWhen connecting to the server will need to sign-in. Can use ''demo'' with password ''demo'' but can get strange if multiple users are using the same 'user'. Is better to ''Create account'' - Only requires a user ID, password, and name. No other info is kept - other than optional email if given.\n\n","clear":false,"editorIsOpen":true,"settingsIsOpen":false,"fromIsOpen":true,"editorIsX":true,"fileIsX":false,"networkIsX":false,"twikiIsX":false,"fieldIsX":false,"x":580,"y":410,"wires":[["14096d56e14782d1"]]},{"id":"1f7cf6bc73665c60","type":"link out","z":"fb90098a1998250c","g":"530c27cac770eeb4","name":"To Client","mode":"link","links":["5f3f98f37ba41eb1"],"x":715,"y":570,"wires":[],"icon":"@potofcoffee2go/tw5-nodes/networkup.svg"},{"id":"14096d56e14782d1","type":"function","z":"fb90098a1998250c","g":"bfac12ca49095e92","name":"Show login tiddler?","func":"// The nodered and hello wikis show as a splash page\n//  so do not show the login screen until 'Home' is \n//  this is done by removing the screen from the storylist\nvar pathname = msg.network.meta.location.pathname;\nif (pathname.includes('nodenred.html') || pathname.includes('hello.html'))\n    msg.network.server.storylist = [];\nelse {\n    msg.network.server.storylist = ['$:/tw5-node-red/login'];\n}\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":610,"y":460,"wires":[["ac5ce25a67192096"]]},{"id":"304338a4b9f89088","type":"tab","label":"onConnect","disabled":false,"info":"","env":[]},{"id":"d57af1ba9d807a6e","type":"group","z":"304338a4b9f89088","name":"Sent by client when single flie wiki is connected and autherized","style":{"stroke":"#a4a4a4","label":true,"label-position":"n"},"nodes":["2318b06227765245","20bdec5d39a32ed9","cdcb7e61e457aacb","80f6cc12c651bec8","e3621e319e0136b6","628aab7aaefe715e","e4714903c559cb33","edc0b050e5af6de4","f384e29897040b4b","f69ecb30fb65d53c","e9c96a17d3f117a8","5888fc4a0550ddd7"],"x":154,"y":249,"w":672,"h":272},{"id":"04304cacc22dfd2b","type":"group","z":"304338a4b9f89088","name":"Delivery of application sites \\n Sites are normally created with sync server \\n or Multi Wiki Server","style":{"stroke":"#a4a4a4","label":true,"label-position":"n"},"nodes":["fb747f122378fdb3","2980cdfa0cd44104","e7370f616716a124","55476bca421eb07a","62c3e92ae0762df5","3e01a70e8d769a16"],"x":54,"y":553.0000133514404,"w":908.0000152587891,"h":379.99998664855957},{"id":"e277a3352b39ab18","type":"group","z":"304338a4b9f89088","name":"TW5-Node-RED Core","style":{"label":true,"stroke":"#ffff00"},"nodes":["ac177abd18a30b02","8a6999c14f732048","c9bbe0f3f12e859e","47d0e6a8f8415aa2","99b7abd4d3bc5b40","844b316ad04edad7","d6df3e42a1c72910"],"x":194,"y":49,"w":602,"h":142},{"id":"e7370f616716a124","type":"group","z":"304338a4b9f89088","g":"04304cacc22dfd2b","name":"","style":{"label":true,"color":"#ffffff","stroke":"#ffff00"},"nodes":["1ae4b7850095e251","21d435e3c4987e1a","14477b22c78480b3","ae33c705716b22fa","407b772f0f144186","7d2e58723eb09955"],"x":84,"y":689,"w":742,"h":218},{"id":"7d2e58723eb09955","type":"group","z":"304338a4b9f89088","g":"e7370f616716a124","name":"When MWS - Starts watching MWS recipe","style":{"label":true,"label-position":"n"},"nodes":["654ee70ffdb7a36c","c0d81093110cbce5"],"x":174,"y":799,"w":532,"h":82},{"id":"e9c96a17d3f117a8","type":"junction","z":"304338a4b9f89088","g":"d57af1ba9d807a6e","x":200,"y":410,"wires":[["628aab7aaefe715e","f69ecb30fb65d53c"]]},{"id":"2318b06227765245","type":"link call","z":"304338a4b9f89088","g":"d57af1ba9d807a6e","name":"","links":["ac177abd18a30b02"],"linkType":"static","timeout":"30","x":540,"y":290,"wires":[["f384e29897040b4b"]]},{"id":"20bdec5d39a32ed9","type":"link in","z":"304338a4b9f89088","g":"d57af1ba9d807a6e","name":"From Client","links":["4c9c46b76b72965f"],"x":195,"y":290,"wires":[["cdcb7e61e457aacb"]],"icon":"@potofcoffee2go/tw5-nodes/networkdown.svg"},{"id":"cdcb7e61e457aacb","type":"switch","z":"304338a4b9f89088","g":"d57af1ba9d807a6e","name":"client.onload","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"client.onload","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":320,"y":290,"wires":[["2318b06227765245"]]},{"id":"80f6cc12c651bec8","type":"link out","z":"304338a4b9f89088","g":"d57af1ba9d807a6e","name":"To Client","mode":"link","links":["5f3f98f37ba41eb1"],"x":745,"y":350,"wires":[],"icon":"@potofcoffee2go/tw5-nodes/networkup.svg"},{"id":"e3621e319e0136b6","type":"set-network","z":"304338a4b9f89088","g":"d57af1ba9d807a6e","name":"payload to client","topic":"","networkfield":"network.server.tiddlers","twikiName":"$tw.wiki","filter":"[all[]]","field":"payload","file":"","updtostory":true,"tostory":"false","template":"","clear":false,"editorIsOpen":false,"settingsIsOpen":false,"fromIsOpen":true,"editorIsX":false,"fileIsX":false,"networkIsX":false,"twikiIsX":false,"fieldIsX":true,"x":540,"y":350,"wires":[["80f6cc12c651bec8","e9c96a17d3f117a8"]]},{"id":"fb747f122378fdb3","type":"link in","z":"304338a4b9f89088","g":"04304cacc22dfd2b","name":"From Client","links":["4c9c46b76b72965f"],"x":95,"y":630,"wires":[["2980cdfa0cd44104"]],"icon":"@potofcoffee2go/tw5-nodes/networkdown.svg"},{"id":"2980cdfa0cd44104","type":"switch","z":"304338a4b9f89088","g":"04304cacc22dfd2b","name":"twsync app","property":"topic","propertyType":"msg","rules":[{"t":"regex","v":"^twsync app.*$","vt":"str","case":false},{"t":"regex","v":"^(\\?app=|\\?mws=).*$","vt":"str","case":false}],"checkall":"true","repair":false,"outputs":2,"x":200,"y":630,"wires":[["62c3e92ae0762df5"],["3e01a70e8d769a16"]]},{"id":"628aab7aaefe715e","type":"switch","z":"304338a4b9f89088","g":"d57af1ba9d807a6e","name":"chat app?","property":"app","propertyType":"msg","rules":[{"t":"eq","v":"chat","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":340,"y":480,"wires":[["e4714903c559cb33"]]},{"id":"e4714903c559cb33","type":"change","z":"304338a4b9f89088","g":"d57af1ba9d807a6e","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"rooms,show","tot":"str"},{"t":"delete","p":"payload","pt":"msg"},{"t":"set","p":"network.server.tiddlers","pt":"msg","to":"[]","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":480,"wires":[["edc0b050e5af6de4"]]},{"id":"edc0b050e5af6de4","type":"link out","z":"304338a4b9f89088","g":"d57af1ba9d807a6e","name":"Message to flows","mode":"link","links":["96d69fda963f66a2","9bda19b8b96ee73e"],"x":710,"y":480,"wires":[],"l":true},{"id":"1ae4b7850095e251","type":"link in","z":"304338a4b9f89088","g":"e7370f616716a124","name":"twsync site","links":[],"x":170,"y":750,"wires":[["14477b22c78480b3"]],"l":true},{"id":"21d435e3c4987e1a","type":"link out","z":"304338a4b9f89088","g":"e7370f616716a124","name":"Return","mode":"return","links":[],"x":785,"y":750,"wires":[]},{"id":"14477b22c78480b3","type":"function","z":"304338a4b9f89088","g":"e7370f616716a124","name":"Requested site to payload","func":"const $tw = global.get('$twmws'); // MWS TiddlyWiki\nconst mustache = global.get('mustache');\nconst search = msg.network.meta.location.search;\n\nvar app, mws;\n\nvar connstat = {\n    title: '$:/plugins/multiwikiclient/SideBarSegment',\n    tags: '$:/tags/SideBarSegment',\n    'list-before': '$:/core/ui/SideBarSegments/page-controls',\n    text: '{{$:/temp/tw5-node-red/netstat}}'\n}\n\n// Check for app name in URL search param ie: ?app=appname or ?mws=appname\napp = /app=(\\w+)/.exec(search) ? /app=(\\w+)/.exec(search)[1] : '';\nmws = /mws=(\\w+)/.exec(search) ? /mws=(\\w+)/.exec(search)[1] : '';\n\n// No app requested in URL so run wiki without an app\nif (!app && !mws) {\n    msg.payload = [connstat];\n    node.send([msg, null]);\n    node.done();\n    return;\n}\n\nif (app) {\n    loadFromSync();\n} else {\n    loadFromMws();\n    \n}\nmsg.payload.push(connstat);\n\nnode.send([msg, null]);\nnode.done();\n\nfunction loadFromSync() {\n    var inputpath = `./public/app/${app}/tiddlers`;\n\n    if (!$tw.utils.isDirectory(inputpath)) {\n        msg.payload = [\n            {\n                title: 'Error: Application not found',\n                text: `The application '${app}' is not found\\n`\n            }\n        ];\n        node.debug(`msg.inputpath: ${inputpath} is not found.`, msg);\n        node.send([null, msg]);\n        node.done();\n        return;\n    }\n\n    const wiki = new $tw.Wiki;\n\n    var tiddlers = $tw.loadTiddlersFromPath(inputpath);\n\n    $tw.utils.each(tiddlers, (tiddlerInfo) => {\n        $tw.utils.each(tiddlerInfo.tiddlers, (tiddler) => {\n            wiki.importTiddler(new $tw.Tiddler(tiddler));\n        });\n    });\n\n    msg.payload = JSON.parse(wiki.getTiddlersAsJson('[all[]]'));\n\n    for (let i = 0; i < msg.payload.length; i++) {\n        if (msg.payload[i].text && msg.payload[i].mustache === 'yes') {\n            msg.payload[i].text = mustache.render(msg.payload[i].text, msg, {}, ['{%', '%}'])\n        }\n    }\n    msg.app = app;\n}\n\nfunction loadFromMws() {\n    var tiddlers = [];\n    var recipeTiddlerList = $tw.mws.store.getRecipeTiddlers(mws);\n    recipeTiddlerList.forEach(recipe => {\n        tiddlers.push($tw.mws.store.getRecipeTiddler(recipe.title, mws).tiddler)\n    })\n\n    // mustache substitution\n    for (let i = 0; i < tiddlers.length; i++) {\n        if (tiddlers[i].text && tiddlers[i].mustache === 'yes') {\n            tiddlers[i].text = mustache.render(tiddlers[i].text, msg, {}, ['{%', '%}'])\n        }\n    }\n    msg.app = mws;\n    node.send([null, null, msg]); // utimately start-watching-recipe  \n    msg.payload = tiddlers;\n}\n\nreturn;\n","outputs":3,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":750,"wires":[["407b772f0f144186"],["ae33c705716b22fa"],["654ee70ffdb7a36c"]],"outputLabels":["Tiddlers loaded","Error","Is from MWS"]},{"id":"ae33c705716b22fa","type":"set-network","z":"304338a4b9f89088","g":"e7370f616716a124","name":"Error","topic":"","networkfield":"network.server.tiddlers","twikiName":"$tw.wiki","filter":"[all[]]","field":"payload","file":"","updtostory":true,"tostory":"true","template":"","clear":false,"editorIsOpen":false,"settingsIsOpen":false,"fromIsOpen":true,"editorIsX":false,"fileIsX":false,"networkIsX":false,"twikiIsX":false,"fieldIsX":true,"x":660,"y":770,"wires":[["21d435e3c4987e1a"]]},{"id":"407b772f0f144186","type":"function","z":"304338a4b9f89088","g":"e7370f616716a124","name":"User settings","func":"/*\nvar found = msg.network.meta.tiddlers.findIndex((tiddler) => tiddler.title === '$:/temp/tw5-node-red/store');\nif (found > -1) {\n    msg.network.meta.tiddlers[found].palette = msg.network.user.palette;\n    msg.payload.push({\n        title: '$:/palette',\n        text: msg.network.user.palette\n    })\n}\n*/\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":660,"y":730,"wires":[["21d435e3c4987e1a"]]},{"id":"f384e29897040b4b","type":"link call","z":"304338a4b9f89088","g":"d57af1ba9d807a6e","name":"","links":["1ae4b7850095e251"],"linkType":"static","timeout":"30","x":370,"y":350,"wires":[["e3621e319e0136b6"]]},{"id":"55476bca421eb07a","type":"link out","z":"304338a4b9f89088","g":"04304cacc22dfd2b","name":"Message to flows","mode":"link","links":["96d69fda963f66a2","9bda19b8b96ee73e"],"x":846.0000152587891,"y":626.0000133514404,"wires":[],"l":true},{"id":"62c3e92ae0762df5","type":"change","z":"304338a4b9f89088","g":"04304cacc22dfd2b","name":"set topic: client.load","rules":[{"t":"set","p":"topic","pt":"msg","to":"client.onload","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":636.0000152587891,"y":626.0000133514404,"wires":[["55476bca421eb07a"]]},{"id":"f69ecb30fb65d53c","type":"switch","z":"304338a4b9f89088","g":"d57af1ba9d807a6e","name":"notebook.html?","property":"network.meta.location.pathname","propertyType":"msg","rules":[{"t":"cont","v":"notebook.html","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":360,"y":410,"wires":[["5888fc4a0550ddd7"]]},{"id":"5888fc4a0550ddd7","type":"set-network","z":"304338a4b9f89088","g":"d57af1ba9d807a6e","name":"remove page controls","topic":"","networkfield":"network.server.tiddlers","twikiName":"$tw.wiki","filter":"[all[]]","field":"","file":"","updtostory":true,"tostory":"false","template":"title: $:/poc2go/ui/PageTemplate/pagecontrols\ncreated: 20231115040521068\nfetched: 20240327073029843\nmodified: 20231230104304763\ntags: \ntype: text/vnd.tiddlywiki\n\n<div style=\"float: right;\">[[Notebook theme]] by saqimtiaz @ [[talk tiddlywiki|https://talk.tiddlywiki.org/]]</div>\n\n+======+\ntitle: $:/palette\n\n$:/themes/nico/notebook/palettes/palette-grey\n","clear":true,"editorIsOpen":true,"settingsIsOpen":true,"fromIsOpen":true,"editorIsX":true,"fileIsX":false,"networkIsX":false,"twikiIsX":false,"fieldIsX":false,"x":560,"y":410,"wires":[["80f6cc12c651bec8"]]},{"id":"ac177abd18a30b02","type":"link in","z":"304338a4b9f89088","g":"e277a3352b39ab18","name":"TW5-Node-RED Core","links":[],"x":320,"y":90,"wires":[["8a6999c14f732048"]],"l":true},{"id":"8a6999c14f732048","type":"set-network","z":"304338a4b9f89088","g":"e277a3352b39ab18","name":"Styles","topic":"","networkfield":"network.server.tiddlers","twikiName":"$tw.wiki","filter":"","field":"","file":"","updtostory":true,"tostory":"false","template":"title: $:/tw5-node-red/styles\ntags: $:/tags/Stylesheet tw5-node-red\ntype: text/css\n\n\n/* wikilabs fix for 'navy' too blue */\n.uni-link {\n  color: inherit;\n}\n\ncode {\n  font-size: .93em;\n}\n\n.tc-edit-texteditor-body {\n\tfont-family: monospace;\n    font-size: 15px;\n    line-height: 25px;\n}\n\n.poc2go-center-img {\n  display: block;\n  margin-left: auto;\n  margin-right: auto;\n  width: 50%;\n}\n\n.poc2go-edit-text {\n\twidth: 60%;\n}\n\n/* Documentation - both docsify & TiddlyWiki */\n.poc2go-details {   }\n.poc2go-summary {   }\n.poc2go-details-container {\n  background-color: #c34a000A;\n  border: 1px solid #888888;\n  border-radius: 20px;\n  margin-top: .8em;\n}\n.poc2go-details-content {\n  margin-left: 2em;\n  margin-right: 2em;\n}\n/* ------ */\n\n[data-tag-title^=\"·topic: \"] .tc-tag-label,\n[data-tag-title^=\"·topic: \"].tc-tag-label {\n  border-radius: 3px;\n}\n[data-tag-title^=\"·\"] .tc-tag-label,\n[data-tag-title^=\"·\"].tc-tag-label {\n   border-radius: 3px;\n}","clear":false,"editorIsOpen":true,"settingsIsOpen":false,"fromIsOpen":true,"editorIsX":true,"fileIsX":false,"twikiIsX":false,"fieldIsX":false,"x":490,"y":90,"wires":[["c9bbe0f3f12e859e"]]},{"id":"c9bbe0f3f12e859e","type":"set-network","z":"304338a4b9f89088","g":"e277a3352b39ab18","name":"Icons","topic":"","networkfield":"network.server.tiddlers","twikiName":"$tw.wiki","filter":"","field":"","file":"","updtostory":true,"tostory":"false","template":"[\n  {\n    \"title\":\"$:/favicon.ico\",\n    \"_canonical_uri\":\"/tw5-node-red-logo.png\",\n    \"text\":\"\",\n    \"type\":\"image/png\" \n  },\n {\n    \"title\": \"$:/temp/images/phosphor-icons/fill/heart-straight-fill\",\n    \"text\": \"<svg width=\\\"11pt\\\" height=\\\"11pt\\\" class=\\\"tc-image-phi-heart-straight-fill tc-image-button\\\" viewBox=\\\"0 0 256 256\\\"><rect width=\\\"256\\\" height=\\\"256\\\" fill=\\\"none\\\"/><path fill=\\\"red\\\" d=\\\"M224.627,51.90625a59.54956,59.54956,0,0,0-43.0625-19.89063,60.69786,60.69786,0,0,0-43.98437,17.55469L128.002,59.14844l-7.5-7.49219c-23.32812-23.35156-61.29687-25.3125-84.57812-4.29687a59.974,59.974,0,0,0-2.34375,87.07031l83.10937,83.10937a16.013,16.013,0,0,0,22.625,0l81.03125-81.03125C243.68945,113.15625,245.61133,75.20312,224.627,51.90625Z\\\"/></svg>\",\n    \"tags\": \"$:/tags/Image Icons Images SVG\",\n    \"library_version\": \"1.2.0\",\n    \"library\": \"Phosphor Icons\",\n    \"collection\": \"Fill\",\n    \"caption\": \"heart-straight-fill\"\n  },\n  {\n    \"title\": \"$:/temp/images/remix-icon/health/hearts-fill\",\n    \"text\": \"<svg width=\\\"11pt\\\" height=\\\"11pt\\\" class=\\\"tc-image-ri-hearts-fill tc-image-button\\\" viewBox=\\\"0 0 24 24\\\"><g><path fill=\\\"none\\\" d=\\\"M0 0H24V24H0z\\\"/><path fill=\\\"red\\\" d=\\\"M17.363 11.045c1.404-1.393 3.68-1.393 5.084 0 1.404 1.394 1.404 3.654 0 5.047L17 21.5l-5.447-5.408c-1.404-1.393-1.404-3.653 0-5.047 1.404-1.393 3.68-1.393 5.084 0l.363.36.363-.36zm1.88-6.288c.94.943 1.503 2.118 1.689 3.338-1.333-.248-2.739-.01-3.932.713-2.15-1.303-4.994-1.03-6.856.818-2.131 2.115-2.19 5.515-.178 7.701l.178.185 2.421 2.404L11 21.485 2.52 12.993C.417 10.637.496 7.019 2.757 4.757c2.265-2.264 5.888-2.34 8.244-.228 2.349-2.109 5.979-2.039 8.242.228z\\\"/></g></svg>\",\n    \"tags\": \"$:/tags/Image Icons Images SVG\",\n    \"library_version\": \"2.5.0\",\n    \"library\": \"Remix Icon\",\n    \"collection\": \"\",\n    \"category\": \"Health\",\n    \"caption\": \"hearts-fill\"\n  },\n  {\n    \"title\": \"$:/temp/images/font-awesome/solid/heart-broken\",\n    \"text\": \"<svg width=\\\"11pt\\\" height=\\\"11pt\\\" class=\\\"tc-image-fa-heart-broken tc-image-button\\\" viewBox=\\\"0 0 512 512\\\"><path fill=\\\"red\\\" d=\\\"M473.7 73.8l-2.4-2.5c-46-47-118-51.7-169.6-14.8L336 159.9l-96 64 48 128-144-144 96-64-28.6-86.5C159.7 19.6 87 24 40.7 71.4l-2.4 2.4C-10.4 123.6-12.5 202.9 31 256l212.1 218.6c7.1 7.3 18.6 7.3 25.7 0L481 255.9c43.5-53 41.4-132.3-7.3-182.1z\\\"/></svg>\",\n    \"tags\": \"$:/tags/Image Icons Images SVG\",\n    \"library_version\": \"5.15.2\",\n    \"library\": \"Font Awesome\",\n    \"collection\": \"Solid\",\n    \"caption\": \"heart-broken\"\n  }\n]","clear":false,"editorIsOpen":true,"settingsIsOpen":true,"fromIsOpen":true,"editorIsX":true,"fileIsX":false,"twikiIsX":false,"fieldIsX":false,"x":640,"y":90,"wires":[["d6df3e42a1c72910"]]},{"id":"47d0e6a8f8415aa2","type":"set-network","z":"304338a4b9f89088","g":"e277a3352b39ab18","name":"Tiddlers","topic":"","networkfield":"network.server.tiddlers","twikiName":"$tw.wiki","filter":"","field":"","file":"","updtostory":true,"tostory":"false","template":"title: $:/SiteSubtitle\n\n+======+\ntitle: $:/themes/tiddlywiki/vanilla/settings/backgroundimage\n\n+======+\ntitle: ·node-red·\ncolor: #8f0000\nlist: ·node-red·\ncreated: 19700102000000000\nmodified: 19700102000000000\n\n<div style=\"text-align: center;font-size: 4em;\">· · · · · </div>\n\nTiddlers tagged with `·node-red·` have been sent to this wiki by the Node-Red server.\n\nAny tags that begin with a middle-dot `·` will be removed in-flight when sent to the server.\nThink of it as a client side //temporary// tag.\n\nTags that start with a middle-dot will appear square-ish <<tag ·temp·>> instead of the normal round-ish <<tag tw5-node-red>>\n\n> Since most keyboards do not have a middle-dot key - click the <<tag ·node-red·>> pill and select top-most entry `·node-red·`. and copy/paste one from top or bottom of this tiddler.\n\n<div style=\"text-align: center;font-size: 4em;\">· · · · · </div>\n+======+\ntitle: TW5-Node-RED\ntags: tw5-node-red\nclientId: <%network.meta._clientid%>\ncreated: 19700102000000000\nmodified: 19700102000000000\n\n<!-- Connection status -->\n{{$:/temp/tw5-node-red/netstat}}\n\nCan load <$button actions=\"<<node-red 'plugin'>>\"> TW5-Node-RED  Plugin</$button>, which contains information about\nTW5-Node-RED and stays pretty much hidden away in the Control Panel.\n\nThe TW5-Node-RED ''application'' however changes the appearance, palette, adds a bunch of tiddlers, stuff like that.\nIf connecting to server with your own wiki then probably would not run the application.\nOf course can just reload the page to start over again. \n\nLoad <$button actions=\"<<node-red 'tw5-node-red app'>>\"> TW5-Node-RED  Application</$button>.\n\n+======+\ntitle: tw5-node-red\ncolor: #334e7e\nlist: tw5-node-red\ncreated: 19700102000000000\nmodified: 19700102000000000\n\nTW5-Node-RED allows building server APIs for single file TiddlyWikis using Node-RED flows.\nNodes have been designed to manage TiddlyWiki tiddlers and interface tiddlers to standard \n(and most third party) nodes.\n\nA TiddlyWiki macro provides TiddlyWiki's access to the server allowing tiddlers to be sent\nto and received from the server. Due to browser security concerns, the TiddlyWiki\nmust be delivered by the server. Any TiddlyWiki can access the Node-Red server by drag-n-drop\n[[$:/plugins/potofcoffee2go/tw5-node-red/network.js]] and saving the single file TiddlyWiki in server\ndirectory 'uibuilder/svr/tiddlywikis'.\n\nServer side tiddlers can be from the connected TiddlyWikis, web, files, msg.property, or stored in Node-Red\nflows. The TiddlyWiki Core is embedded into Node-Red allowing the Node-Red 'function' node full\naccess to the TiddlyWiki codebase (ie: $tw functions and objects). Tiddlers can be stored in\nserver side TiddlyWiki wikis (twikis) allowing the server to access databases of tiddlers\nusing standard TW filters.\n\n!! TiddlyWiki\n\nRequests contain a topic to inform the server which Node-Red flow is to be executed.\nClient TiddlyWiki tiddlers are sent to the server by providing a filter of the tiddlers to send.\n`<<node-red 'topic' '[[tiddlers to send]]'>>` would send topic 'topic' and the tiddler titled\n'tiddlers to send'.\n\n!! Node-RED\n\nTiddler exchange is managed using the `msg.network` property maintained by all \nthe nodes in the Node-Red 'Tiddler' category:\n\n * create tiddler, read tiddler, get network, set network, to twiki, from twiki.\n\nTiddlers can be in .tid or JSON format, the Mustache logic-less template\nsystem is available for content substitution. TW5-Node-RED allows multiple tiddlers in .tid format\nby separating them using the line `+======+`.  \n\nThe server can dynamically request tiddlers from client TiddlyWikis at any time using standard TW filters.\n\nTiddlers and plugins can be preloaded into the Node-Red embedded TiddlyWiki for additional\nor custom server side tiddler processing.\n\nSee <a href=\"https://tw5-node-red.poc2go.com\" target=\"_blank\"> TW5-Node-Red Documentation </a> for details\n\n---\n\n+======+\ntitle: $:/plugins/potofcoffee2go/tw5-node-red/credits/page\ntags: tw5-node-red\ncaption: TNR Credits\ntype: text/vnd.tiddlywiki\n\n<div><img style=\"float: left;width: 90px;margin: 0 1.5em .5em 1em;\" src=\"/tw5-node-red-logo.png\"></div>\n\n! TW5-Node-RED\n\nDesigned and initial commit by [ext[PotOfCoffee2Go|https://github.com/potofcoffee2go]]\n\n<hr style=\"clear: both;margin-bottom: 1em;\">\n\n<div class=\"poc2go-center-img\">\n<img style=\"width: 900px;\" src=\"/docs/main-packages.png\">\n</div>\n\nThe main packages are [ext[Node-RED|https://nodered.org]], \n [ext[TiddlyWiki|https://tiddlywiki.com]], and\n [ext[uibuilder|https://totallyinformation.github.io/node-red-contrib-uibuilder/#/]]\n (node-red-contrib-uibuilder).\n\n---\n\n<div class=\"poc2go-center-img\">\n<img style=\"width: 500px;\" src=\"/docs/helper-packages.png\">\n</div>\n\n[ext[node.js|https://nodejs.org]], [ext[GIMP|https://www.gimp.org]],\n [ext[GitHub|https://github.com]], [ext[inkscape|https://inkscape.org]],\n [ext[git|https://git-scm.com]], [ext[geany|https://www.geany.org]],\n [ext[docsify|https://docsify.js.org]], and [ext[nodemon|https://nodemon.io]]\n were used to develop the project.\n\n---\n\nMany online developer resources: \n\n [ext[Talk TiddlyWiki|https://talk.tiddlywiki.org/]],\n [ext[MDN|https://developer.mozilla.org/en-US/]],\n [ext[TW Icons v1.10|https://morosanuae.github.io/tw-icons/]],\n [ext[StackOverflow|https://stackoverflow.com/]],\n [ext[W3 Schools|https://www.w3schools.com/]],\n [ext[pixabay|https://pixabay.com/]],\n [ext[JSON Beautifier|https://jsonbeautifier.org/]],\n [ext[YouTube|https://www.youtube.com]]\n\n---\n\nDeveloped on:\n\n[ext[Raspberry|https://www.raspberrypi.com]] [ext[Pi 4B|https://datasheets.raspberrypi.com/rpi4/raspberry-pi-4-datasheet.pdf]],\n[ext[LXDE Desktop|https://www.lxde.org]], [ext[Raspberry Pi OS (32-bit)|https://www.raspberrypi.com/software/]]\n\n<span>TiddlyWiki</span>: v5.3.1, Node-RED: v3.0.2, Node.js: v14.21.3, Linux: 5.10.103-v7l+ arm LE\n\nChromium: 92.0.4515.98 (Official Build) Built on Raspbian\n\n---\n\n\nCopyright and Trademarks are property of respective packages.\n\nNo company is affiliated with or endorses TW5-Node-RED. \n\n+======+\ntitle: TW5-Node-RED Flow Editor\ncreated: 19700102000000000\nmodified: 19700102000000000\n\n<iframe src=\"/red\" style=\"width:100%; height:600px\"></iframe>\n+======+\ntitle: $:/language/Snippets/node-red-button\ncaption: TW5-Node-RED Button\ntags: $:/tags/TextEditor/Snippet\n\n<$button actions=\"<<node-red 'hello'>>\"> Hello </$button>\n+======+\ntitle: $:/tw5-node-red/username\ncaption: {% network.user.username %}\ntags: \nmustache: yes\n\n{% network.user.username %}\n","clear":false,"editorIsOpen":true,"settingsIsOpen":false,"fromIsOpen":true,"editorIsX":true,"fileIsX":false,"twikiIsX":false,"fieldIsX":false,"x":630,"y":150,"wires":[["99b7abd4d3bc5b40"]]},{"id":"99b7abd4d3bc5b40","type":"link out","z":"304338a4b9f89088","g":"e277a3352b39ab18","name":"Return","mode":"return","links":[],"x":755,"y":150,"wires":[]},{"id":"844b316ad04edad7","type":"set-network","z":"304338a4b9f89088","g":"e277a3352b39ab18","name":"more icons","topic":"","networkfield":"network.server.tiddlers","twikiName":"$tw.wiki","filter":"[all[]]","field":"","file":"public/tiddlers/icons/tw-icons-01.tid","updtostory":true,"tostory":"false","template":"created: 20231025184554690\nmodified: 20231025185816847\ntitle: $:/images/bootstrap/journal-arrow-down\ntags: $:/tags/Image Icons Images SVG\nlibrary_version: 1.3.0\nlibrary: Bootstrap\ncollection: \ncaption: journal-arrow-down\n\n<svg width=\"22pt\" height=\"22pt\" class=\"tc-image-bts-journal-arrow-down tc-image-button\" viewBox=\"0 0 16 16\"><path fill-rule=\"evenodd\" d=\"M8 5a.5.5 0 0 1 .5.5v3.793l1.146-1.147a.5.5 0 0 1 .708.708l-2 2a.5.5 0 0 1-.708 0l-2-2a.5.5 0 1 1 .708-.708L7.5 9.293V5.5A.5.5 0 0 1 8 5z\"/><path d=\"M3 0h10a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-1h1v1a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H3a1 1 0 0 0-1 1v1H1V2a2 2 0 0 1 2-2z\"/><path d=\"M1 5v-.5a.5.5 0 0 1 1 0V5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0V8h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0v.5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1z\"/></svg>\n+======+\ncreated: 20231025184554691\nmodified: 20231025185719670\ntitle: $:/images/bootstrap/journal-arrow-up\ntags: $:/tags/Image Icons Images SVG\nlibrary_version: 1.3.0\nlibrary: Bootstrap\ncollection: \ncaption: journal-arrow-up\n\n<svg width=\"22pt\" height=\"22pt\" class=\"tc-image-bts-journal-arrow-up tc-image-button\" viewBox=\"0 0 16 16\"><path fill-rule=\"evenodd\" d=\"M8 11a.5.5 0 0 0 .5-.5V6.707l1.146 1.147a.5.5 0 0 0 .708-.708l-2-2a.5.5 0 0 0-.708 0l-2 2a.5.5 0 1 0 .708.708L7.5 6.707V10.5a.5.5 0 0 0 .5.5z\"/><path d=\"M3 0h10a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-1h1v1a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H3a1 1 0 0 0-1 1v1H1V2a2 2 0 0 1 2-2z\"/><path d=\"M1 5v-.5a.5.5 0 0 1 1 0V5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0V8h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0v.5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1z\"/></svg>\n+======+\ncreated: 20231025184554692\nmodified: 20231025185657535\ntitle: $:/images/bootstrap/layout-text-window-reverse\ntags: $:/tags/Image Icons Images SVG\nlibrary_version: 1.3.0\nlibrary: Bootstrap\ncollection: \ncaption: layout-text-window-reverse\n\n<svg width=\"22pt\" height=\"22pt\" class=\"tc-image-bts-layout-text-window-reverse tc-image-button\" viewBox=\"0 0 16 16\"><path d=\"M13 6.5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h5a.5.5 0 0 0 .5-.5zm0 3a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h5a.5.5 0 0 0 .5-.5zm-.5 2.5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1 0-1h5z\"/><path d=\"M14 0a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h12zM2 1a1 1 0 0 0-1 1v1h14V2a1 1 0 0 0-1-1H2zM1 4v10a1 1 0 0 0 1 1h2V4H1zm4 0v11h9a1 1 0 0 0 1-1V4H5z\"/></svg>\n+======+\ncreated: 20231025184554693\nmodified: 20231025185849073\ntitle: $:/images/bootstrap/markdown\ntags: $:/tags/Image Icons Images SVG\nlibrary_version: 1.3.0\nlibrary: Bootstrap\ncollection: \ncaption: markdown\n\n<svg width=\"22pt\" height=\"22pt\" class=\"tc-image-bts-markdown tc-image-button\" viewBox=\"0 0 16 16\"><path d=\"M14 3a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1h12zM2 2a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V4a2 2 0 0 0-2-2H2z\"/><path fill-rule=\"evenodd\" d=\"M9.146 8.146a.5.5 0 0 1 .708 0L11.5 9.793l1.646-1.647a.5.5 0 0 1 .708.708l-2 2a.5.5 0 0 1-.708 0l-2-2a.5.5 0 0 1 0-.708z\"/><path fill-rule=\"evenodd\" d=\"M11.5 5a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-1 0v-4a.5.5 0 0 1 .5-.5z\"/><path d=\"M3.56 11V7.01h.056l1.428 3.239h.774l1.42-3.24h.056V11h1.073V5.001h-1.2l-1.71 3.894h-.039l-1.71-3.894H2.5V11h1.06z\"/></svg>\n+======+\ncreated: 20231025184554697\nmodified: 20231025185916488\ntitle: $:/images/coreui-icons/free/cil-indent-increase\ntags: $:/tags/Image Icons Images SVG\nlibrary_version: 2.0.1\nlibrary: CoreUI Icons\ncollection: Free\ncaption: cil-indent-increase\n\n<svg width=\"22pt\" height=\"22pt\" class=\"tc-image-cui-cil-indent-increase tc-image-button\" viewBox=\"0 0 512 512\"><rect width=\"424\" height=\"32\" x=\"72\" y=\"63.998\" fill=\"var(--ci-primary-color, currentColor)\"/><rect width=\"296\" height=\"32\" x=\"200\" y=\"151.998\" fill=\"var(--ci-primary-color, currentColor)\"/><rect width=\"296\" height=\"32\" x=\"200\" y=\"239.998\" fill=\"var(--ci-primary-color, currentColor)\"/><rect width=\"296\" height=\"32\" x=\"200\" y=\"327.998\" fill=\"var(--ci-primary-color, currentColor)\"/><rect width=\"424\" height=\"32\" x=\"72\" y=\"415.998\" fill=\"var(--ci-primary-color, currentColor)\"/><path fill=\"var(--ci-primary-color, currentColor)\" d=\"M16,144.909V367.091L171.527,256Zm32,62.182L116.473,256,48,304.909Z\"/></svg>\n+======+\ncreated: 20231025184554698\nmodified: 20231025190032754\ntitle: $:/images/coreui-icons/free/cil-wrap-text\ntags: $:/tags/Image Icons Images SVG\nlibrary_version: 2.0.1\nlibrary: CoreUI Icons\ncollection: Free\ncaption: cil-wrap-text\n\n<svg width=\"22pt\" height=\"22pt\" class=\"tc-image-cui-cil-wrap-text tc-image-button\" viewBox=\"0 0 512 512\"><rect width=\"160\" height=\"32\" x=\"16\" y=\"232\" fill=\"var(--ci-primary-color, currentColor)\"/><rect width=\"392\" height=\"32\" x=\"16\" y=\"392\" fill=\"var(--ci-primary-color, currentColor)\"/><path fill=\"var(--ci-primary-color, currentColor)\" d=\"M408,72H16v32H408c30.878,0,56,28.71,56,64s-25.122,64-56,64H344.8V162.772L210,249l134.8,83.785V264H408c48.523,0,88-43.065,88-96S456.523,72,408,72ZM312.8,275.217,270,248.609,312.8,221.228Z\"/></svg>","clear":false,"editorIsOpen":true,"settingsIsOpen":false,"fromIsOpen":true,"editorIsX":true,"fileIsX":false,"networkIsX":false,"twikiIsX":false,"fieldIsX":false,"x":320,"y":150,"wires":[[]]},{"id":"c0d81093110cbce5","type":"link out","z":"304338a4b9f89088","g":"7d2e58723eb09955","name":"Message to flows","mode":"link","links":["96d69fda963f66a2","9bda19b8b96ee73e"],"x":590,"y":840,"wires":[],"l":true},{"id":"654ee70ffdb7a36c","type":"change","z":"304338a4b9f89088","d":true,"g":"7d2e58723eb09955","name":"set topic: start-watch-recipe","rules":[{"t":"set","p":"topic","pt":"msg","to":"$join(['mws','start-watch-recipe',msg.app],'/')\t","tot":"jsonata"},{"t":"set","p":"network.server.tiddlers","pt":"msg","to":"[]","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":840,"wires":[["c0d81093110cbce5"]]},{"id":"d6df3e42a1c72910","type":"set-network","z":"304338a4b9f89088","g":"e277a3352b39ab18","name":"Snippets","topic":"","networkfield":"network.server.tiddlers","twikiName":"$tw.wiki","filter":"","field":"","file":"","updtostory":true,"tostory":"false","template":"title: $:/tw5-node-red/node_red_logo_16pt.svg\ntype: image/svg+xml\n\n<svg width=\"16pt\" height=\"16pt\" class=\"tc-image-button\" clip-rule=\"evenodd\" fill-rule=\"evenodd\" stroke-linejoin=\"round\" stroke-miterlimit=\"2\" viewBox=\"16 16 448 448\" xmlns=\"http://www.w3.org/2000/svg\"><path d=\"M464 73c0-31.459-25.541-57-57-57H73c-31.459 0-57 25.541-57 57v334c0 31.459 25.541 57 57 57h334c31.459 0 57-25.541 57-57z\" fill=\"#fff\" fill-opacity=\"0.9\"/><path d=\"M464 296h-55.467c-6.623 0-12 5.377-12 12v36c0 6.623 5.377 12 12 12H464zm-448 0v-24h54c6.623 0 12-5.377 12-12v-37c0-6.623-5.377-12-12-12H16v-25h53c20.421 0 37 16.279 37 36.7v.1c15.409-1.049 33.151-6.844 46.332-34.11C168.314 162.716 178.074 138.293 227 138v-9c0-20.421 16.579-37 37-37h147c20.421 0 37 16.579 37 37v37c0 20.421-16.579 37-37 37H264c-20.421 0-37-16.579-37-37v-8.621c-16.517-.027-28.956 3.171-43.234 17.86C170.943 188.432 168.282 210 149 226c65.195 9.136 85.368 31.074 109.231 51.503C282.945 298.041 303.32 316.6 372 316.371V309c0-20.421 16.579-37 37-37h55V73c0-31.459-25.541-57-57-57H73c-31.459 0-57 25.541-57 57v334c0 31.459 25.541 57 57 57h334c31.459 0 57-25.541 57-57v-25h-55c-20.421 0-37-16.579-37-37v-9c-117.133-1.744-117.379-53-174.104-77.417-23.491-10.111-44.557-15.33-91.896-16.239V259c0 20.421-16.579 37-37 37zm407-167c0-6.623-5.377-12-12-12H263c-6.623 0-12 5.377-12 12v36c0 6.623 5.377 12 12 12h148c6.623 0 12-5.377 12-12z\" fill=\"#e80000\" fill-opacity=\"0.9\"/></svg>\n+======+\ntitle: $:/tw5-node-red/button\ntags: $:/tags/EditorToolbar\ncaption: {{$:/language/Buttons/Bold/Caption}}\ncondition: [<targetTiddler>!has[type]] [<targetTiddler>type[text/vnd.tiddlywiki]]\ncondition-disabled: [[$:/temp/bold/disabled]get[state-disabled]else[no]]\nicon: $:/tw5-node-red/node_red_logo_16pt.svg\nshortcuts: \ndescription: Creates button of a TW5-Node-RED topic\n\n<$action-sendmessage\n\t$message=\"tm-edit-text-operation\"\n\t$param=\"save-selection\"\n\ttiddler=\"$:/temp/currentSelection\"\n/>\n<$action-sendmessage\n\t$message=\"tm-edit-text-operation\"\n\t$param=\"insert-text\"\n\ttext={{{ [[<$button actions=\"<<node-red ']] =[{$:/temp/currentSelection}] [['>>\"> ]] =[{$:/temp/currentSelection}] [[ </$button>]] +[join[]] }}}\n/>\n+======+\ntitle: $:/language/Snippets/node-red-button\ntags: $:/tags/TextEditor/Snippet\ncaption: Node-RED button\n\n+======+\ntitle: $:/language/Snippets/node-red-button/prefix\n\n<$button actions=\"<<node-red '\n+======+\ntitle: $:/language/Snippets/node-red-button/suffix\n\n'>>\"> nodered_button </$button>\n+======+\ntitle: $:/language/Snippets/node-red-macro\ntags: $:/tags/TextEditor/Snippet\ncaption: Node-RED macro\n\n<<node-red 'hello' '[[tiddlers_to_send]]'>>\n\n+======+\ntitle: $:/language/Snippets/node-red-button-send\ntags: $:/tags/TextEditor/Snippet\ncaption: Node-RED button w/send tiddlers\n\n<$button actions=\"<<node-red 'hello' '[[tiddlers_to_send]]'>>\"> Hello </$button>\n","clear":false,"editorIsOpen":true,"settingsIsOpen":false,"fromIsOpen":true,"editorIsX":true,"fileIsX":false,"twikiIsX":false,"fieldIsX":false,"x":490,"y":150,"wires":[["47d0e6a8f8415aa2"]]},{"id":"3e01a70e8d769a16","type":"change","z":"304338a4b9f89088","g":"04304cacc22dfd2b","name":"set location.search: topic","rules":[{"t":"set","p":"network.meta.location.search","pt":"msg","to":"topic","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":650,"wires":[["62c3e92ae0762df5"]]},{"id":"ab56271e77c6f866","type":"tab","label":"Databases","disabled":false,"info":"","env":[]},{"id":"b900c252078e7f0f","type":"group","z":"ab56271e77c6f866","name":"The second output on 'to-twiki' nodes triggers whenever that twiki \\n is updated regardless of where in the workspace. \\n These flows load database on startup and automatically write updates to disk. \\n ","style":{"label":true,"label-position":"n"},"nodes":["9dcb2db358986f60","07eb4d33e36ca78e","2f72cdcf6cc06e2d","d86914de295534cb","c8ec67c0de0b50e2","378b62111965fdec","befe33e64a70264a","03ebfda3187b4bce","a2ae9a08fd4b0a90"],"x":64,"y":141,"w":632,"h":469},{"id":"7854aca21984899b","type":"group","z":"ab56271e77c6f866","name":"Tracking of socket.io socket id changes \\n Low-level stuff \\n Change with caution","style":{"label":true,"label-position":"n"},"nodes":["48c4eb692312c061","a03e67d3c6af9466","6caff008aa37f65b","5d85994367fc1ef4","c88f50c805560073","d8d9252f34c0e3a9"],"x":34,"y":637,"w":682,"h":154},{"id":"4e3f07be3be3818f","type":"group","z":"ab56271e77c6f866","name":"Show all clientIds &  twiki databases in debug panel","style":{"label":true,"label-position":"n"},"nodes":["588e7321eef68b14","a93b0937257cf944","0bb01e40dbeddabe"],"x":104,"y":19,"w":552,"h":82},{"id":"a2ae9a08fd4b0a90","type":"group","z":"ab56271e77c6f866","g":"b900c252078e7f0f","name":"Do not want to automatically write the TiddlyWiki twiki database \\n to disk with every update? \\n  just disconnect the wire \\n \\n This includes updates done in the 'function' nodes too! \\n ","style":{"label":true,"label-position":"s"},"nodes":["8741680a85a43754","60af93695972cb17"],"x":164,"y":444,"w":422,"h":140},{"id":"8741680a85a43754","type":"junction","z":"ab56271e77c6f866","g":"a2ae9a08fd4b0a90","x":190,"y":470,"wires":[[]]},{"id":"60af93695972cb17","type":"junction","z":"ab56271e77c6f866","g":"a2ae9a08fd4b0a90","x":560,"y":470,"wires":[[]]},{"id":"9dcb2db358986f60","type":"to-twiki","z":"ab56271e77c6f866","g":"b900c252078e7f0f","name":"Users twiki","twikiName":"Users","fromTwikiName":"$tw.wiki","field":"payload","file":"","resetOnDeploy":false,"inputTask":"addTiddlers","outputFormat":"passthru","networkfield":"network.client.tiddlers","useListener":true,"filter":"[all[]]","topic":"","outputs":2,"template":"","clear":false,"editorIsOpen":false,"settingsIsOpen":true,"fromIsOpen":true,"editorIsX":false,"fileIsX":false,"networkIsX":false,"twikiIsX":false,"fieldIsX":true,"x":170,"y":270,"wires":[[],["07eb4d33e36ca78e"]]},{"id":"07eb4d33e36ca78e","type":"from-twiki","z":"ab56271e77c6f866","g":"b900c252078e7f0f","name":"Save user info to ./tiddlywiki/db/users.json","twikiName":"Users","toTwikiName":"$tw.wiki","resetOnDeploy":false,"inputTask":"no operation","outputFormat":"tiddlers","field":"","networkfield":"network.client.tiddlers","useListener":false,"filter":"[all[]]","file":"tiddlywiki/db/users.json","topic":"","outputs":1,"tostory":"false","editorIsOpen":false,"settingsIsOpen":true,"toIsOpen":true,"fileIsX":true,"networkIsX":false,"twikiIsX":false,"fieldIsX":false,"x":440,"y":270,"wires":[[]]},{"id":"2f72cdcf6cc06e2d","type":"to-twiki","z":"ab56271e77c6f866","g":"b900c252078e7f0f","name":"Rooms twiki","twikiName":"Rooms","fromTwikiName":"$tw.wiki","field":"payload","file":"","resetOnDeploy":false,"inputTask":"addTiddlers","outputFormat":"passthru","networkfield":"network.client.tiddlers","useListener":true,"filter":"[all[]]","topic":"","outputs":2,"template":"","clear":false,"editorIsOpen":false,"settingsIsOpen":true,"fromIsOpen":true,"editorIsX":false,"fileIsX":false,"networkIsX":false,"twikiIsX":false,"fieldIsX":true,"x":160,"y":390,"wires":[[],["d86914de295534cb"]]},{"id":"d86914de295534cb","type":"from-twiki","z":"ab56271e77c6f866","g":"b900c252078e7f0f","name":"Save chat roooms to  ./tiddlywiki/db/rooms.json","twikiName":"Rooms","toTwikiName":"$tw.wiki","resetOnDeploy":false,"inputTask":"no operation","outputFormat":"tiddlers","field":"","networkfield":"network.client.tiddlers","useListener":false,"filter":"[all[]]","file":"tiddlywiki/db/rooms.json","topic":"","outputs":1,"tostory":"false","editorIsOpen":false,"settingsIsOpen":true,"toIsOpen":true,"fileIsX":true,"networkIsX":false,"twikiIsX":false,"fieldIsX":false,"x":460,"y":390,"wires":[[]]},{"id":"c8ec67c0de0b50e2","type":"to-twiki","z":"ab56271e77c6f866","g":"b900c252078e7f0f","name":"Load User info from ./tiddlywiki/db/users.json","twikiName":"Users","fromTwikiName":"$tw.wiki","field":"","file":"tiddlywiki/db/users.json","resetOnDeploy":false,"inputTask":"addTiddlers","outputFormat":"passthru","networkfield":"network.client.tiddlers","useListener":false,"filter":"[all[]]","topic":"","outputs":1,"template":"","clear":false,"editorIsOpen":false,"settingsIsOpen":false,"fromIsOpen":true,"editorIsX":false,"fileIsX":true,"networkIsX":false,"twikiIsX":false,"fieldIsX":false,"x":440,"y":230,"wires":[[]]},{"id":"378b62111965fdec","type":"inject","z":"ab56271e77c6f866","g":"b900c252078e7f0f","name":"Startup","props":[{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","x":170,"y":230,"wires":[["c8ec67c0de0b50e2"]]},{"id":"befe33e64a70264a","type":"inject","z":"ab56271e77c6f866","g":"b900c252078e7f0f","name":"Startup","props":[],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","x":170,"y":350,"wires":[["03ebfda3187b4bce"]]},{"id":"03ebfda3187b4bce","type":"to-twiki","z":"ab56271e77c6f866","g":"b900c252078e7f0f","name":"Load Chat rooms twiki from ./tiddlywiki/db/rooms.json","twikiName":"Rooms","fromTwikiName":"$tw.wiki","field":"","file":"tiddlywiki/db/rooms.json","resetOnDeploy":false,"inputTask":"addTiddlers","outputFormat":"passthru","networkfield":"network.client.tiddlers","useListener":false,"filter":"[all[]]","topic":"","outputs":1,"template":"title: color-blind\ncreator: PotOfCoffee2Go\n\n+======+\ntitle: flexible\ncreator: PotOfCoffee2Go\n\n+======+\ntitle: floor\ncreator: PotOfCoffee2Go\n\n+======+\ntitle: confront\ncreator: PotOfCoffee2Go\n\n+======+\ntitle: restless\ncreator: PotOfCoffee2Go\n\n+======+\ntitle: hypnothize\ncreator: PotOfCoffee2Go\n\n+======+\ntitle: curl\ncreator: PotOfCoffee2Go\n\n+======+\ntitle: ignore\ncreator: PotOfCoffee2Go\n\n+======+\ntitle: navy\ncreator: PotOfCoffee2Go\n\n+======+\ntitle: peace\ncreator: PotOfCoffee2Go\n","clear":false,"editorIsOpen":true,"settingsIsOpen":true,"fromIsOpen":true,"editorIsX":false,"fileIsX":true,"networkIsX":false,"twikiIsX":false,"fieldIsX":false,"x":470,"y":350,"wires":[[]]},{"id":"a03e67d3c6af9466","type":"link in","z":"ab56271e77c6f866","g":"7854aca21984899b","name":"ConnectionDb","links":["379f3550af8b837e","9509694b4769ea7a"],"x":130,"y":750,"wires":[["c88f50c805560073"]],"l":true},{"id":"6caff008aa37f65b","type":"debug","z":"ab56271e77c6f866","g":"7854aca21984899b","name":"Status to debug","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":590,"y":710,"wires":[]},{"id":"5d85994367fc1ef4","type":"to-twiki","z":"ab56271e77c6f866","g":"7854aca21984899b","name":"","twikiName":"ConnectionDb","fromTwikiName":"$tw.wiki","field":"payload","file":"","resetOnDeploy":false,"inputTask":"addTiddlers","outputFormat":"passthru","networkfield":"network.client.tiddlers","useListener":false,"filter":"[all[]]","topic":"","outputs":1,"template":"","clear":false,"editorIsOpen":false,"settingsIsOpen":false,"fromIsOpen":true,"editorIsX":false,"fileIsX":false,"networkIsX":false,"twikiIsX":false,"fieldIsX":true,"x":590,"y":750,"wires":[["6caff008aa37f65b"]]},{"id":"c88f50c805560073","type":"function","z":"ab56271e77c6f866","g":"7854aca21984899b","name":"Connect/Disconnect Client","func":"// Works in conjunction with Network tab 'Inbound' node\nconst $tw = global.get('$tw');\n\n// Only interested in connects and disconnects\nif (msg.uibuilderCtrl !== 'client connect' &&\n        msg.uibuilderCtrl !== 'client disconnect') {\n    node.done();\n    return;\n}\n\nvar payload = msg;\nmsg = { payload };\nmsg.topic = msg.payload.uibuilderCtrl;\nmsg.payload.title = msg.payload._socketId;\nmsg.payload.uibclientid = msg.payload.clientId;\ndelete msg.payload.clientId;\n\n// Server's socket Id for this connection\nconst connectionDb = global.get('twikis').ConnectionDb;\nconst connectDbTiddler = JSON.parse(connectionDb.getTiddlersAsJson(`[[${msg.payload._socketId}]]`));\n\n// If needed - create the connection tiddler\nif (connectDbTiddler.length === 0) {\n    node.send(msg)\n    node.done()\n    return;\n}\n\n// Delete the entry in TW Db when disconnect occurs\nif (msg.payload.uibuilderCtrl === 'client disconnect') {\n    var clientIds = global.get('clientIds');\n    delete clientIds[connectDbTiddler[0].tw5clientid];\n    connectionDb.deleteTiddler(msg.payload._socketId);\n    node.done();\n    return;\n}\n\n// No action required\nnode.done();\nreturn;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":350,"y":750,"wires":[["5d85994367fc1ef4"]]},{"id":"d8d9252f34c0e3a9","type":"inject","z":"ab56271e77c6f866","g":"7854aca21984899b","name":"Startup","props":[],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","x":140,"y":710,"wires":[["48c4eb692312c061"]]},{"id":"48c4eb692312c061","type":"to-twiki","z":"ab56271e77c6f866","g":"7854aca21984899b","name":"Create ConnectionDb","twikiName":"ConnectionDb","fromTwikiName":"$tw.wiki","field":"","file":"","resetOnDeploy":false,"inputTask":"addTiddlers","outputFormat":"passthru","networkfield":"network.client.tiddlers","useListener":false,"filter":"[all[]]","topic":"","outputs":1,"template":"","clear":false,"editorIsOpen":false,"settingsIsOpen":false,"fromIsOpen":false,"editorIsX":false,"fileIsX":false,"networkIsX":false,"twikiIsX":false,"fieldIsX":false,"x":340,"y":710,"wires":[[]]},{"id":"588e7321eef68b14","type":"inject","z":"ab56271e77c6f866","g":"4e3f07be3be3818f","name":"","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":200,"y":60,"wires":[["0bb01e40dbeddabe"]]},{"id":"a93b0937257cf944","type":"debug","z":"ab56271e77c6f866","g":"4e3f07be3be3818f","name":"twikis » debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":530,"y":60,"wires":[]},{"id":"0bb01e40dbeddabe","type":"link call","z":"ab56271e77c6f866","g":"4e3f07be3be3818f","name":"","links":["2ffe59e5768f9620"],"linkType":"static","timeout":"30","x":350,"y":60,"wires":[["a93b0937257cf944"]]},{"id":"127607a6bb274a18","type":"tab","label":"Utilities","disabled":false,"info":"","env":[]},{"id":"5de81872ac658de0","type":"group","z":"127607a6bb274a18","name":"Hide Sidebar","style":{"label":true,"stroke":"#ffff00"},"nodes":["dee53a18f9af7b3c","1d23e008fde4d932","5cb34faaf5e14207","7fd5bbf53ae9558b","49e8ade023549ff5"],"x":44,"y":479,"w":662,"h":82},{"id":"47b83acc6a54da80","type":"group","z":"127607a6bb274a18","name":"Set field 'msg.twikis' to all twikis and tiddlers they contain","style":{"label":true,"stroke":"#ffff00"},"nodes":["1c83c2ba47bdb96a","2ffe59e5768f9620","e5c2695061c28c3d"],"x":44,"y":599,"w":532,"h":82},{"id":"a98914fa33e8fcce","type":"group","z":"127607a6bb274a18","name":"Show server-side '$tw' object in debug panel","style":{"label":true},"nodes":["a07af28ade3a49a2","c1e23170a15882f7"],"x":54,"y":29,"w":482,"h":82},{"id":"f501ab278a37529f","type":"group","z":"127607a6bb274a18","name":"TW Instances - Commanders","style":{"label":true,"label-position":"n"},"nodes":["49f363e05e815a85","1fe9f0e2147a2011","2987d0b55f0f6a01","b68d8ade32aa3496","104f9c4c3a9698dd"],"x":18,"y":133,"w":728,"h":334},{"id":"49f363e05e815a85","type":"group","z":"127607a6bb274a18","g":"f501ab278a37529f","name":"Execute array of TW Command strings","style":{"stroke":"#ffff00","label":true},"nodes":["d679dc2c7fb5ad4c","e40c0cb505cd4bfb","3891c3049d5ff01d"],"x":54,"y":159,"w":442,"h":82},{"id":"1fe9f0e2147a2011","type":"group","z":"127607a6bb274a18","g":"f501ab278a37529f","name":"Execute array of Sync server TW Command strings","style":{"stroke":"#ffff00","label":true},"nodes":["c76e9202971136a2","30ce9f775e65e57d","3f8dbc7f474d68d8"],"x":54,"y":259,"w":522,"h":82},{"id":"2987d0b55f0f6a01","type":"group","z":"127607a6bb274a18","g":"f501ab278a37529f","name":"Execute array of MWS server TW Command strings","style":{"stroke":"#ffff00","label":true},"nodes":["45d54f170e388b66","edf7669fe4924d86","16ba0ad94b842abe"],"x":44,"y":359,"w":532,"h":82},{"id":"dee53a18f9af7b3c","type":"set-network","z":"127607a6bb274a18","g":"5de81872ac658de0","name":"Expand river","topic":"","networkfield":"network.server.tiddlers","twikiName":"$tw.wiki","filter":"","field":"","file":"","updtostory":true,"tostory":"false","template":"title: $:/state/sidebar\n\nno","clear":true,"editorIsOpen":true,"settingsIsOpen":true,"fromIsOpen":true,"editorIsX":true,"fileIsX":false,"twikiIsX":false,"fieldIsX":false,"x":560,"y":520,"wires":[["49e8ade023549ff5"]]},{"id":"1d23e008fde4d932","type":"uib-sender","z":"127607a6bb274a18","g":"5de81872ac658de0","url":"svr","uibId":"c2642e3fa442ca65","name":"","topic":"server.tiddlers","passthrough":true,"return":false,"outputs":1,"x":280,"y":520,"wires":[["5cb34faaf5e14207"]]},{"id":"5cb34faaf5e14207","type":"delay","z":"127607a6bb274a18","g":"5de81872ac658de0","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":410,"y":520,"wires":[["dee53a18f9af7b3c"]]},{"id":"7fd5bbf53ae9558b","type":"link in","z":"127607a6bb274a18","g":"5de81872ac658de0","name":"Hide Sidebar","links":[],"x":140,"y":520,"wires":[["1d23e008fde4d932"]],"l":true},{"id":"49e8ade023549ff5","type":"link out","z":"127607a6bb274a18","g":"5de81872ac658de0","name":"Return","mode":"return","links":[],"x":665,"y":520,"wires":[]},{"id":"1c83c2ba47bdb96a","type":"function","z":"127607a6bb274a18","g":"47b83acc6a54da80","name":"clientIds & twiki databases","func":"const $tw = global.get('$tw');\nconst twikis = global.get('twikis');\n\nif (typeof msg.payload !== 'object') {\n    msg.payload = {};\n}\n\n// Place clientIds results in the msg\nmsg.payload.clientIds = global.get('clientIds');\n\n// Place twiki results in the msg\nmsg.payload.twikis = {};\n\n// For each twiki create a property in msg.twiki of the twikiName\n//  then load the property with tiddlers from the twiki\nfor (let twikiName in twikis) {\n    msg.payload.twikis[twikiName] =\n        JSON.parse(twikis[twikiName].getTiddlersAsJson('[all[]]'))\n    $tw.utils.log(`twiki: '${twikiName}' has ${twikis[twikiName].countTiddlers()} tiddlers`, 'purple')\n}\nreturn msg;\n","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":370,"y":640,"wires":[["e5c2695061c28c3d"]]},{"id":"2ffe59e5768f9620","type":"link in","z":"127607a6bb274a18","g":"47b83acc6a54da80","name":"set msg.twikis","links":[],"x":140,"y":640,"wires":[["1c83c2ba47bdb96a"]],"l":true},{"id":"e5c2695061c28c3d","type":"link out","z":"127607a6bb274a18","g":"47b83acc6a54da80","name":"Return","mode":"return","links":[],"x":535,"y":640,"wires":[]},{"id":"d679dc2c7fb5ad4c","type":"function","z":"127607a6bb274a18","g":"49f363e05e815a85","name":"TW Commander","func":"const $tw = global.get('$tw');\nconst pr = global.get('process');\n\n// TiddlyWki commander got an error?\nfunction checkForErrors(err) {\n    if (err) {\n        try {\n            $tw.utils.error(\"Error: \" + err);\n        } catch (e) {}\n    }\n}\n\n// Create $tw.Commander to do... commands\nconst cmdr = {\n    execute: (cmds) => {\n        new $tw.Commander(cmds, checkForErrors, $tw.wiki,\n            { output: pr.stdout, error: pr.stderr }\n        ).execute();\n    }\n}\n\ncmdr.execute(msg.commands);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":340,"y":200,"wires":[["3891c3049d5ff01d"]]},{"id":"e40c0cb505cd4bfb","type":"link in","z":"127607a6bb274a18","g":"49f363e05e815a85","name":"TW Commander","links":[],"x":160,"y":200,"wires":[["d679dc2c7fb5ad4c"]],"l":true},{"id":"3891c3049d5ff01d","type":"link out","z":"127607a6bb274a18","g":"49f363e05e815a85","name":"Return","mode":"return","links":[],"x":455,"y":200,"wires":[]},{"id":"a07af28ade3a49a2","type":"debug","z":"127607a6bb274a18","g":"a98914fa33e8fcce","name":"$twmws » debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"$twmws","targetType":"msg","statusVal":"","statusType":"auto","x":400,"y":70,"wires":[]},{"id":"c1e23170a15882f7","type":"inject","z":"127607a6bb274a18","g":"a98914fa33e8fcce","name":"Get $twmws object","props":[{"p":"$twmws","v":"$twmws","vt":"global"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":190,"y":70,"wires":[["a07af28ade3a49a2"]]},{"id":"c76e9202971136a2","type":"function","z":"127607a6bb274a18","g":"1fe9f0e2147a2011","name":"TW Sync Commander","func":"const $twsync = global.get('$twsync');\nconst pr = global.get('process');\n\n// TiddlyWki commander got an error?\nfunction checkForErrors(err) {\n    if (err) {\n        try {\n            $twsync.utils.error(\"Error: \" + err);\n        } catch (e) {}\n    }\n}\n\nconst log = {\n    write: (text) => node.log(text.toString())\n}\n\n// Create $twsync.Commander to do... commands\nconst cmdr = {\n    execute: (cmds) => {\n        node.log(JSON.stringify(cmds));\n        new $twsync.Commander(cmds, checkForErrors, $twsync.wiki).execute();\n    }\n}\n\ncmdr.execute(msg.commands);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":300,"wires":[["3f8dbc7f474d68d8"]]},{"id":"30ce9f775e65e57d","type":"link in","z":"127607a6bb274a18","g":"1fe9f0e2147a2011","name":"TW Sync Commander","links":[],"x":180,"y":300,"wires":[["c76e9202971136a2"]],"l":true},{"id":"3f8dbc7f474d68d8","type":"link out","z":"127607a6bb274a18","g":"1fe9f0e2147a2011","name":"Return","mode":"return","links":[],"x":535,"y":300,"wires":[]},{"id":"45d54f170e388b66","type":"link in","z":"127607a6bb274a18","g":"2987d0b55f0f6a01","name":"TW MWS Commander","links":[],"x":170,"y":400,"wires":[["edf7669fe4924d86","16ba0ad94b842abe"]],"l":true},{"id":"edf7669fe4924d86","type":"link out","z":"127607a6bb274a18","g":"2987d0b55f0f6a01","name":"Return","mode":"return","links":[],"x":535,"y":400,"wires":[]},{"id":"16ba0ad94b842abe","type":"function","z":"127607a6bb274a18","g":"2987d0b55f0f6a01","name":"TW MWS Commander","func":"const $twmws = global.get('$twmws');\nconst pr = global.get('process');\n\npr.on('uncaughtException', function(err) {\n         node.log(err);\n});\n\n\n// TiddlyWki commander got an error?\nfunction checkForErrors(err) {\n    if (err) {\n        try {\n            $twmws.utils.error(\"Error: \" + err);\n        } catch (e) {}\n    }\n}\n\n// Create $twmws.Commander to do... commands\nconst cmdr = {\n    execute: (cmds) => {\n        node.log(JSON.stringify(cmds));\n        new $twmws.Commander(cmds, checkForErrors, $twmws.wiki).execute();\n    }\n}\ncmdr.execute(msg.commands);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":400,"wires":[[]]},{"id":"b68d8ade32aa3496","type":"catch","z":"127607a6bb274a18","g":"f501ab278a37529f","name":"commander errors","scope":"group","uncaught":false,"x":600,"y":180,"wires":[["104f9c4c3a9698dd"]]},{"id":"104f9c4c3a9698dd","type":"debug","z":"127607a6bb274a18","g":"f501ab278a37529f","name":"Commander err","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":620,"y":230,"wires":[]},{"id":"8f4c8042c34e6b26","type":"tab","label":"Dice","disabled":false,"info":"## Example of a simple dice game","env":[]},{"id":"2384ad651173ae9e","type":"group","z":"8f4c8042c34e6b26","name":"Roll number of dice requested \\n and display in story","style":{"label":true,"label-position":"n"},"nodes":["510dc6f6e07f9be4","3c3235632a2801e6","64b77433f374854a","33134899afe62741","387d1976fbad2871","f1ef5a7e371b1c7c","131aeb785c805e96","c6fe024d027e224d","89af35aceb48b739","ade0933a3cb3ad67"],"x":94,"y":83,"w":562,"h":228},{"id":"ade0933a3cb3ad67","type":"set-network","z":"8f4c8042c34e6b26","g":"2384ad651173ae9e","name":"dice icons","topic":"","networkfield":"network.server.tiddlers","twikiName":"$tw.wiki","filter":"[all[]]","field":"","file":"","updtostory":true,"tostory":"false","template":"[\n  {\n    \"text\": \"<svg width=\\\"22pt\\\" height=\\\"22pt\\\" class=\\\"tc-image-bts-dice-1 tc-image-button\\\" viewBox=\\\"0 0 16 16\\\"><circle cx=\\\"8\\\" cy=\\\"8\\\" r=\\\"1.5\\\"/><path d=\\\"M13 1a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h10zM3 0a3 3 0 0 0-3 3v10a3 3 0 0 0 3 3h10a3 3 0 0 0 3-3V3a3 3 0 0 0-3-3H3z\\\"/></svg>\",\n    \"title\": \"$:/images/bootstrap/dice-1\",\n    \"tags\": \"$:/tags/Image Icons Images SVG\",\n    \"library_version\": \"1.3.0\",\n    \"library\": \"Bootstrap\",\n    \"collection\": \"\",\n    \"caption\": \"dice-1\"\n  },\n  {\n    \"text\": \"<svg width=\\\"22pt\\\" height=\\\"22pt\\\" class=\\\"tc-image-bts-dice-1-fill tc-image-button\\\" viewBox=\\\"0 0 16 16\\\"><path d=\\\"M3 0a3 3 0 0 0-3 3v10a3 3 0 0 0 3 3h10a3 3 0 0 0 3-3V3a3 3 0 0 0-3-3H3zm5 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z\\\"/></svg>\",\n    \"title\": \"$:/images/bootstrap/dice-1-fill\",\n    \"tags\": \"$:/tags/Image Icons Images SVG\",\n    \"library_version\": \"1.3.0\",\n    \"library\": \"Bootstrap\",\n    \"collection\": \"\",\n    \"caption\": \"dice-1-fill\"\n  },\n  {\n    \"text\": \"<svg width=\\\"22pt\\\" height=\\\"22pt\\\" class=\\\"tc-image-bts-dice-2 tc-image-button\\\" viewBox=\\\"0 0 16 16\\\"><path d=\\\"M13 1a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h10zM3 0a3 3 0 0 0-3 3v10a3 3 0 0 0 3 3h10a3 3 0 0 0 3-3V3a3 3 0 0 0-3-3H3z\\\"/><path d=\\\"M5.5 4a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm8 8a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z\\\"/></svg>\",\n    \"title\": \"$:/images/bootstrap/dice-2\",\n    \"tags\": \"$:/tags/Image Icons Images SVG\",\n    \"library_version\": \"1.3.0\",\n    \"library\": \"Bootstrap\",\n    \"collection\": \"\",\n    \"caption\": \"dice-2\"\n  },\n  {\n    \"text\": \"<svg width=\\\"22pt\\\" height=\\\"22pt\\\" class=\\\"tc-image-bts-dice-2-fill tc-image-button\\\" viewBox=\\\"0 0 16 16\\\"><path d=\\\"M0 3a3 3 0 0 1 3-3h10a3 3 0 0 1 3 3v10a3 3 0 0 1-3 3H3a3 3 0 0 1-3-3V3zm5.5 1a1.5 1.5 0 1 0-3 0 1.5 1.5 0 0 0 3 0zm6.5 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z\\\"/></svg>\",\n    \"title\": \"$:/images/bootstrap/dice-2-fill\",\n    \"tags\": \"$:/tags/Image Icons Images SVG\",\n    \"library_version\": \"1.3.0\",\n    \"library\": \"Bootstrap\",\n    \"collection\": \"\",\n    \"caption\": \"dice-2-fill\"\n  },\n  {\n    \"text\": \"<svg width=\\\"22pt\\\" height=\\\"22pt\\\" class=\\\"tc-image-bts-dice-3 tc-image-button\\\" viewBox=\\\"0 0 16 16\\\"><path d=\\\"M13 1a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h10zM3 0a3 3 0 0 0-3 3v10a3 3 0 0 0 3 3h10a3 3 0 0 0 3-3V3a3 3 0 0 0-3-3H3z\\\"/><path d=\\\"M5.5 4a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm8 8a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm-4-4a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z\\\"/></svg>\",\n    \"title\": \"$:/images/bootstrap/dice-3\",\n    \"tags\": \"$:/tags/Image Icons Images SVG\",\n    \"library_version\": \"1.3.0\",\n    \"library\": \"Bootstrap\",\n    \"collection\": \"\",\n    \"caption\": \"dice-3\"\n  },\n  {\n    \"text\": \"<svg width=\\\"22pt\\\" height=\\\"22pt\\\" class=\\\"tc-image-bts-dice-3-fill tc-image-button\\\" viewBox=\\\"0 0 16 16\\\"><path d=\\\"M3 0a3 3 0 0 0-3 3v10a3 3 0 0 0 3 3h10a3 3 0 0 0 3-3V3a3 3 0 0 0-3-3H3zm2.5 4a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm8 8a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zM8 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z\\\"/></svg>\",\n    \"title\": \"$:/images/bootstrap/dice-3-fill\",\n    \"tags\": \"$:/tags/Image Icons Images SVG\",\n    \"library_version\": \"1.3.0\",\n    \"library\": \"Bootstrap\",\n    \"collection\": \"\",\n    \"caption\": \"dice-3-fill\"\n  },\n  {\n    \"text\": \"<svg width=\\\"22pt\\\" height=\\\"22pt\\\" class=\\\"tc-image-bts-dice-4 tc-image-button\\\" viewBox=\\\"0 0 16 16\\\"><path d=\\\"M13 1a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h10zM3 0a3 3 0 0 0-3 3v10a3 3 0 0 0 3 3h10a3 3 0 0 0 3-3V3a3 3 0 0 0-3-3H3z\\\"/><path d=\\\"M5.5 4a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm8 0a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0 8a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm-8 0a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z\\\"/></svg>\",\n    \"title\": \"$:/images/bootstrap/dice-4\",\n    \"tags\": \"$:/tags/Image Icons Images SVG\",\n    \"library_version\": \"1.3.0\",\n    \"library\": \"Bootstrap\",\n    \"collection\": \"\",\n    \"caption\": \"dice-4\"\n  },\n  {\n    \"text\": \"<svg width=\\\"22pt\\\" height=\\\"22pt\\\" class=\\\"tc-image-bts-dice-4-fill tc-image-button\\\" viewBox=\\\"0 0 16 16\\\"><path d=\\\"M3 0a3 3 0 0 0-3 3v10a3 3 0 0 0 3 3h10a3 3 0 0 0 3-3V3a3 3 0 0 0-3-3H3zm1 5.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm8 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm1.5 6.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zM4 13.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z\\\"/></svg>\",\n    \"title\": \"$:/images/bootstrap/dice-4-fill\",\n    \"tags\": \"$:/tags/Image Icons Images SVG\",\n    \"library_version\": \"1.3.0\",\n    \"library\": \"Bootstrap\",\n    \"collection\": \"\",\n    \"caption\": \"dice-4-fill\"\n  },\n  {\n    \"text\": \"<svg width=\\\"22pt\\\" height=\\\"22pt\\\" class=\\\"tc-image-bts-dice-5 tc-image-button\\\" viewBox=\\\"0 0 16 16\\\"><path d=\\\"M13 1a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h10zM3 0a3 3 0 0 0-3 3v10a3 3 0 0 0 3 3h10a3 3 0 0 0 3-3V3a3 3 0 0 0-3-3H3z\\\"/><path d=\\\"M5.5 4a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm8 0a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0 8a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm-8 0a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm4-4a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z\\\"/></svg>\",\n    \"title\": \"$:/images/bootstrap/dice-5\",\n    \"tags\": \"$:/tags/Image Icons Images SVG\",\n    \"library_version\": \"1.3.0\",\n    \"library\": \"Bootstrap\",\n    \"collection\": \"\",\n    \"caption\": \"dice-5\"\n  },\n  {\n    \"text\": \"<svg width=\\\"22pt\\\" height=\\\"22pt\\\" class=\\\"tc-image-bts-dice-5-fill tc-image-button\\\" viewBox=\\\"0 0 16 16\\\"><path d=\\\"M3 0a3 3 0 0 0-3 3v10a3 3 0 0 0 3 3h10a3 3 0 0 0 3-3V3a3 3 0 0 0-3-3H3zm2.5 4a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm8 0a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zM12 13.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zM5.5 12a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zM8 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z\\\"/></svg>\",\n    \"title\": \"$:/images/bootstrap/dice-5-fill\",\n    \"tags\": \"$:/tags/Image Icons Images SVG\",\n    \"library_version\": \"1.3.0\",\n    \"library\": \"Bootstrap\",\n    \"collection\": \"\",\n    \"caption\": \"dice-5-fill\"\n  },\n  {\n    \"text\": \"<svg width=\\\"22pt\\\" height=\\\"22pt\\\" class=\\\"tc-image-bts-dice-6 tc-image-button\\\" viewBox=\\\"0 0 16 16\\\"><path d=\\\"M13 1a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h10zM3 0a3 3 0 0 0-3 3v10a3 3 0 0 0 3 3h10a3 3 0 0 0 3-3V3a3 3 0 0 0-3-3H3z\\\"/><path d=\\\"M5.5 4a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm8 0a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0 8a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-4a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm-8 4a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-4a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z\\\"/></svg>\",\n    \"title\": \"$:/images/bootstrap/dice-6\",\n    \"tags\": \"$:/tags/Image Icons Images SVG\",\n    \"library_version\": \"1.3.0\",\n    \"library\": \"Bootstrap\",\n    \"collection\": \"\",\n    \"caption\": \"dice-6\"\n  },\n  {\n    \"text\": \"<svg width=\\\"22pt\\\" height=\\\"22pt\\\" class=\\\"tc-image-bts-dice-6-fill tc-image-button\\\" viewBox=\\\"0 0 16 16\\\"><path d=\\\"M3 0a3 3 0 0 0-3 3v10a3 3 0 0 0 3 3h10a3 3 0 0 0 3-3V3a3 3 0 0 0-3-3H3zm1 5.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm8 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm1.5 6.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zM12 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zM5.5 12a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zM4 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z\\\"/></svg>\",\n    \"title\": \"$:/images/bootstrap/dice-6-fill\",\n    \"tags\": \"$:/tags/Image Icons Images SVG\",\n    \"library_version\": \"1.3.0\",\n    \"library\": \"Bootstrap\",\n    \"collection\": \"\",\n    \"caption\": \"dice-6-fill\"\n  }\n]","clear":false,"editorIsOpen":true,"settingsIsOpen":false,"fromIsOpen":true,"editorIsX":true,"fileIsX":false,"networkIsX":false,"twikiIsX":false,"fieldIsX":false,"x":570,"y":140,"wires":[["33134899afe62741"]]},{"id":"510dc6f6e07f9be4","type":"set-network","z":"8f4c8042c34e6b26","g":"2384ad651173ae9e","name":"Outcome","topic":"","networkfield":"network.server.tiddlers","twikiName":"$tw.wiki","filter":"[all[]]","field":"","file":"","updtostory":true,"tostory":"false","template":"title: Dice roll\ntags: dice DiceOfContents\nmustache: yes\ncaption: Play\nplayername: {% playername %}\nprevInfo: {% &outcome.prevInfo %}\nneed_dice_icons: no\nnbr_of_dice: {% dice.count %}\ndice_username: {% dice.username %}\ndice_clientid: {% dice.clientid %}\ndice_list: {% dice.list %}\ndice_sum: {% dice.sum %}\ndice_outcome: {% &outcome.rollInfo %}\n\n<style>\n.poc2go-number-input { width: 3.5em; }\n.poc2go-roll-button { margin-right: 3.5em; }\n</style>\n\n<span style=\"font-size: 1.5em;\">\nPlayer: {{!!playername}}\n</span>\n\n{%# resetApproved %}\n<div style=\"font-size: 1.2em;\">\nNew game!\n</div>\n{%/ resetApproved %}\n{%^ resetApproved %}\n<div style=\"font-size: 1.2em;\">\nCurrent is <b>{{!!dice_username}}'s</b> (<b>{% dice.count %}</b> die) roll of <b>{{!!dice_sum}}</b>\n</div>\n{%/ resetApproved %}\n\n{%# yourTurn %}\nNumber of dice:\n <$edit-text field=\"nbr_of_dice\" type=\"number\" class=\"poc2go-number-input\"/>\n <$button actions=\"<<node-red 'dice roll'>>\" class=\"poc2go-roll-button\"> Roll </$button>\n  {%# leader %}\n  <$button set=\"Dice roll!!reset\" setTo=\"yes\" actions=\"<<node-red 'dice roll'>>\"> Reset Score </$button>\n  {%/ leader %}\n{%/ yourTurn %}\n{%^ yourTurn %}\n  {%# leader %}\n  <$button set=\"Dice roll!!reset\" setTo=\"yes\" actions=\"<<node-red 'dice roll'>>\"> Reset Score </$button>\n  {%/ leader %}\n  {%^ leader %}\n  <div style=\"min-height:1.3em;\">&nbsp;</div>\n  {%/ leader %}\n{%/ yourTurn %}\n\n<hr>\n\n{%^ resetApproved %}\n<div style=\"font-size: 1.5em;\">\n{{!!dice_username}} rolls:\n</div>\n\n<div style=\"font-size: 2.5em; line-height: 1.3em;\">\n{%# dice.titles %}\n  {{ {%& . %} }}\n{%/ dice.titles %}\n = {{!!dice_sum}}\n</div>\n{%/ resetApproved %}\n\n<div style=\"font-size: 1.5em;\">\n{{!!prevInfo}}<br><br>\n{{!!dice_outcome}}<br>\n</div>\n\n|Player|Won|Lost|Tie|Chg|Score|h\n{%# scores %}\n|{%# leader %}* {%/ leader %}{% username %}|{% won %}|{% lost %}|{% tie %}|{% chg %}|{% score %}|\n{%/ scores %}\n","clear":false,"editorIsOpen":true,"settingsIsOpen":false,"fromIsOpen":true,"editorIsX":true,"fileIsX":false,"networkIsX":false,"twikiIsX":false,"fieldIsX":false,"x":190,"y":270,"wires":[["c6fe024d027e224d"]]},{"id":"3c3235632a2801e6","type":"link in","z":"8f4c8042c34e6b26","g":"2384ad651173ae9e","name":"From Client","links":["4c9c46b76b72965f"],"x":135,"y":140,"wires":[["64b77433f374854a"]],"icon":"@potofcoffee2go/tw5-nodes/networkdown.svg"},{"id":"64b77433f374854a","type":"switch","z":"8f4c8042c34e6b26","g":"2384ad651173ae9e","name":"dice roll","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"dice roll","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":240,"y":140,"wires":[["89af35aceb48b739"]]},{"id":"33134899afe62741","type":"function","z":"8f4c8042c34e6b26","g":"2384ad651173ae9e","name":"Roll the dice","func":"/*\nRolls requested number of dice placing the results in msg.dice\n*/\n\n// If number of dice not given - default to 4\n//  and insure is sane.\nvar count = msg.network.client.currentTiddler.nbr_of_dice\n    ? msg.network.client.currentTiddler.nbr_of_dice : '4';\nif (count < 1) { count = '1'; }\nif (count > 50) { count = '50'; }\nmsg.network.client.currentTiddler.nbr_of_dice = count;\n\n// Tiddler name of each dice given number of 'spots' (called 'pips')\n// Icons from https://morosanuae.github.io/tw-icons/\n//  (search for 'dice')\nfunction getDiceIconTiddler(pips) {\n    return `$:/images/bootstrap/dice-${pips}-fill`;\n}\n\n// Gets random whole number between 1 and 6\n// https://stackoverflow.com/questions/1527803/generating-random-whole-numbers-in-javascript-in-a-specific-range\nfunction getRandomDie() {\n    let min = Math.ceil(1);\n    let max = Math.floor(6);\n    return Math.floor(Math.random() * (max - min + 1)) + min;\n}\n\n// Initialize dice roll object\nmsg.dice = {\n    username: msg.network.user.username,\n    clientid: msg.network.meta._clientid,\n    count: count,\n    titles: [],\n    sum: 0,\n    list: ''\n};\n\n// Generate list of dice tiddler titles and sum them up\nfor (let i = 0; i < msg.dice.count; i++) {\n    let pips = getRandomDie();\n    msg.dice.titles.push(getDiceIconTiddler(pips));\n    msg.dice.list += msg.dice.list ? ` ${pips}` : `${pips}`;\n    msg.dice.sum += pips;\n}\n\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":200,"y":210,"wires":[["131aeb785c805e96"]]},{"id":"387d1976fbad2871","type":"function","z":"8f4c8042c34e6b26","g":"2384ad651173ae9e","name":"Session controls","func":"// Dice session controls\nvar currentTiddler = msg.network.client.currentTiddler;\n\n// Each client TiddlyWiki has server-side in-memory info by clientId\n//  This is where session data will be stored\nconst clientIds = global.get('clientIds');\n\n// Is this client a player?\nfunction clientIsPlayer(cid) {\n    return clientIds[cid].diceSession && clientIds[cid].diceSession.inDiceGame;\n}\n\n//  List of all player client ids\nfunction getListOfPlayers() {\n    var playerIds = [];\n    for (let cid in clientIds) {\n        if (clientIsPlayer(cid)) {\n            playerIds.push(cid);\n        }\n    }\n    return playerIds;\n}\n\n// Creates Dice Session Data\nfunction initSessionData(username, cid, reset) {\n    // Indicate client is watching dice rolls\n    if (clientIds[cid] && (reset || typeof clientIds[cid].diceSession !== 'object')) {\n        clientIds[cid].diceSession = {\n            username: username,\n            inDiceGame: true,\n            leader: false,\n            dice: {},\n            won: 0, lost: 0, tie: 0, chg: 0,\n            score: 0\n        };\n    }\n}\n\n// Increment player wins, losses, ties, and number die changed\nfunction setStats() {\n    if (msg.outcome.clientid.winner && clientIds[msg.outcome.clientid.winner]) {\n        clientIds[msg.outcome.clientid.winner].diceSession.won++;\n    }\n    if (msg.outcome.clientid.loser && clientIds[msg.outcome.clientid.loser]) {\n        clientIds[msg.outcome.clientid.loser].diceSession.lost++;\n    }\n    if (msg.outcome.clientid.tie1 && clientIds[msg.outcome.clientid.tie1]) {\n        clientIds[msg.outcome.clientid.tie1].diceSession.tie++;\n    }\n    if (msg.outcome.clientid.tie2 && clientIds[msg.outcome.clientid.tie2]) {\n        clientIds[msg.outcome.clientid.tie2].diceSession.tie++;\n    }\n    if (msg.outcome.clientid.chg && clientIds[msg.outcome.clientid.chg]) {\n        clientIds[msg.outcome.clientid.chg].diceSession.chg++;\n    }\n}\n\nfunction setPlayerTurn(cid, playerIds) {\n    var nbrPlayers = playerIds.length;\n    // When single player - is always 'your turn'\n    msg.yourTurn = nbrPlayers > 1 ? false : true;\n    // When clientId is not the current one it is their turn\n    if (cid !== msg.network.meta._clientid) {\n        msg.yourTurn = true;\n    }\n}\n\nfunction setPlayerDiceRoll(cid) {\n    clientIds[cid].diceSession.dice = JSON.parse(JSON.stringify(msg.dice));\n}\n\n// Tally scores\nfunction calcScore() {\n    var playerIds = getListOfPlayers();\n    var highScore = -1, leader = '';\n    // Calculate Scores\n    playerIds.forEach((cid) => {\n        let clientData = clientIds[cid].diceSession;\n        let score =\n            (clientData.won * 1)\n            + (clientData.lost * -1)\n            + (clientData.tie * 1)\n            + (clientData.chg * 0);\n        clientIds[cid].diceSession.score = score;\n        \n        // Track highest score (leader)\n        clientIds[cid].diceSession.leader = false;\n        if (clientIds[cid].diceSession.score > highScore) {\n            highScore = clientIds[cid].diceSession.score;\n            leader = cid;\n        }\n    })\n    if (leader) {\n        clientIds[leader].diceSession.leader = true;\n    }\n\n    var scores = [];\n    playerIds.forEach((cid) => {\n        scores.push(clientIds[cid].diceSession);\n    })\n    return scores;\n}\n\n// Loop thru the clientIds and send dice roll\n//  to clients that have joined the game \nfunction sendToDicePlayers() {\n    // Count the number of clients playing the game\n    var playerIds = getListOfPlayers();\n    msg.scores = calcScore();\n    // Send tiddler to all playing the game\n    playerIds.forEach((cid) => {\n        // msg.broadcastId is for Broadcasting to client\n        msg.broadcastId = cid;\n\n        msg.playername = clientIds[cid].diceSession.username;\n        // Remember this player's last roll\n        if (cid === msg.network.meta._clientid) {\n            setPlayerDiceRoll(cid);\n            // 'Dice roll' tiddler not in TOC so display to story\n            if (!currentTiddler.tags.includes('dice')) {\n                msg.network.server.storylist.push('Dice roll');\n            }\n        }\n        setPlayerTurn(cid, playerIds);\n        msg.leader = clientIds[cid].diceSession.leader;\n        // send to next node\n        node.send([msg, null]);\n    })\n}\n\nfunction reset() {\n    var playerIds = getListOfPlayers();\n    msg.resetApproved = false;\n    playerIds.forEach((cid) => {\n        if (clientIds[cid].diceSession.leader && cid === msg.network.meta._clientid) {\n            msg.resetApproved = true;\n        }\n    })\n    if (msg.resetApproved) {\n        playerIds.forEach((cid, idx) => {\n            initSessionData(clientIds[cid].diceSession.username, cid, true);\n        })\n        global.set('prevDice', null);\n        msg.outcome = {\n            prevInfo: 'Reset!',\n            rollInfo: '',\n            clientid: {\n                winner: '',\n                loser: '',\n                tie1: '',\n                tie2: '',\n                chg: '',\n            }\n        }\n    }\n}\n\n\n// Insure have dice session data for this client\ninitSessionData(msg.network.user.username, msg.network.meta._clientid);\n\nif (currentTiddler.reset === 'yes') {\n    reset();\n}\n\n// Increment player wins and losses\nsetStats();\n// Send dice roll to each player\nsendToDicePlayers();\nnode.done();\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":550,"y":210,"wires":[["510dc6f6e07f9be4"]]},{"id":"f1ef5a7e371b1c7c","type":"link out","z":"8f4c8042c34e6b26","g":"2384ad651173ae9e","name":"Broadcast","mode":"link","links":["85f96a4f808488c5"],"x":560,"y":270,"wires":[],"l":true},{"id":"131aeb785c805e96","type":"function","z":"8f4c8042c34e6b26","g":"2384ad651173ae9e","name":"Outcome logic","func":"// Previous roll is stored in node-red global context\nmsg.prevDice = global.get('prevDice');\n\n// Text to display and client ids of outcomes\nmsg.outcome = {\n    prevInfo: '&nbsp;',\n    rollInfo: '',\n    clientid: { winner: '', loser: '', tie1: '', tie2: '', chg: '' }\n}\n\n// Outcome logic\n//  Sets msg.outcome.prevInfo to text to display about previous roll\n//  returns text of the result when comparing the previous\n//    roll (msg.prevDice) to the players current roll (msg.dice)\n//\n// Note - the order of 'if' statements is important\nfunction rollOutcome() {\n    // No previous roll - so this is the first roll\n    if (!msg.prevDice) {\n        msg.outcome.prevInfo = 'First roll';\n        return '';\n    }\n    // Number of dice rolled has changed\n    if (msg.dice.count !== msg.prevDice.count) {\n        msg.outcome.prevInfo = 'Number of dice has changed';\n        msg.outcome.clientid.chg = msg.dice.clientid;\n        return '';\n    }\n    // Same user has rolled again\n    if (msg.dice.clientid === msg.prevDice.clientid) {\n        msg.outcome.prevInfo = `${msg.prevDice.username} re-roll!`;\n        return ``;\n    }\n\n    // Pre-load previous info text with previous roll to be beat\n    msg.outcome.prevInfo = ` against ${msg.prevDice.username}'s (${msg.prevDice.count} die) roll of ${msg.prevDice.sum}`\n\n    // Check for a tie\n    if (msg.dice.sum === msg.prevDice.sum) {\n        msg.outcome.clientid.tie1 = msg.dice.clientid;\n        msg.outcome.clientid.tie2 = msg.prevDice.clientid;\n        return 'A tie!';\n    }\n\n    // Check if players roll beats the previous roll\n    if (msg.dice.sum > msg.prevDice.sum) {\n        msg.outcome.clientid.winner = msg.dice.clientid;\n        msg.outcome.clientid.loser = msg.prevDice.clientid;\n        return `${msg.dice.username} wins!`;\n    }\n\n    // Must be that players roll does not beat the previous roll\n    msg.outcome.clientid.winner = msg.prevDice.clientid;\n    msg.outcome.clientid.loser = msg.dice.clientid;\n    return `${msg.dice.username} lost!`;\n}\n\n// Compare Players roll with previous roll\nmsg.outcome.rollInfo = rollOutcome();\n\n// Players dice roll to globaal context\n//  (when moving data from 'msg' to global context - insure is a copy)\nglobal.set('prevDice', JSON.parse(JSON.stringify(msg.dice)));\n\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":370,"y":210,"wires":[["387d1976fbad2871"]]},{"id":"c6fe024d027e224d","type":"function","z":"8f4c8042c34e6b26","g":"2384ad651173ae9e","name":"housekeeping","func":"delete msg.dice;\ndelete msg.prevDice;\ndelete msg.outcome;\ndelete msg.scores;\ndelete msg.playername;\ndelete msg.yourTurn;\ndelete msg.leader;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":370,"y":270,"wires":[["f1ef5a7e371b1c7c","6a395ba866e13097"]]},{"id":"89af35aceb48b739","type":"switch","z":"8f4c8042c34e6b26","g":"2384ad651173ae9e","name":"Need icons?","property":"network.client.currentTiddler.need_dice_icons","propertyType":"msg","rules":[{"t":"neq","v":"no","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":400,"y":140,"wires":[["ade0933a3cb3ad67"],["33134899afe62741"]]},{"id":"6a395ba866e13097","type":"debug","z":"8f4c8042c34e6b26","name":"debug 2","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":290,"y":390,"wires":[]}]