lib/tw5-node-red/flows/tabs/store by tag.json
[
    {
        "id": "9e01fcb7c734b8a9",
        "type": "tab",
        "label": "Store by Tag",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "78ab404cb9f85fe4",
        "type": "group",
        "z": "9e01fcb7c734b8a9",
        "name": "Handle file does not exist error ",
        "style": {
            "label": true
        },
        "nodes": [
            "c960798368e59ec0",
            "5bd75dd5d231b5ea",
            "d069a2d240ff1c0b",
            "de96b2156186f8ff",
            "3298074f282c2dbb",
            "7c48a995b12f0315",
            "90a649b2382b649c"
        ],
        "x": 34,
        "y": 199,
        "w": 512,
        "h": 187
    },
    {
        "id": "7c48a995b12f0315",
        "type": "junction",
        "z": "9e01fcb7c734b8a9",
        "g": "78ab404cb9f85fe4",
        "x": 520,
        "y": 360,
        "wires": [
            [
                "e5eea88792642a29"
            ]
        ]
    },
    {
        "id": "90a649b2382b649c",
        "type": "junction",
        "z": "9e01fcb7c734b8a9",
        "g": "78ab404cb9f85fe4",
        "x": 320,
        "y": 360,
        "wires": [
            [
                "7c48a995b12f0315"
            ]
        ]
    },
    {
        "id": "cf4153896f871479",
        "type": "link in",
        "z": "9e01fcb7c734b8a9",
        "name": "From Client",
        "links": [
            "4c9c46b76b72965f"
        ],
        "x": 55,
        "y": 80,
        "wires": [
            [
                "e70e9b4d0880f940"
            ]
        ],
        "icon": "@potofcoffee2go/tw5-nodes/networkdown.svg"
    },
    {
        "id": "e5eea88792642a29",
        "type": "set-network",
        "z": "9e01fcb7c734b8a9",
        "name": "Store by tag",
        "topic": "",
        "networkfield": "network.server.tiddlers",
        "twikiName": "$tw.wiki",
        "filter": "[all[]]",
        "field": "payload",
        "file": "",
        "updtostory": true,
        "tostory": "true",
        "template": "title: Store by tag\nfilter: <%tagged%>\n\n<p style=\"margin-left: 1em;\">\nTag tiddlers that you create then save on server. Any connected client that knows the tag can load the tiddlers.\n</p>\n\n<details class=\"poc2go-details\">\n<summary class=\"poc2go-summary\">Instructions...</summary>\n<div class=\"poc2go-details-container\">\n  <div class=\"poc2go-details-content\" style=\"border:1px solid #888888; border-radius: 10px;\">\n\n<p style=\"margin-left: 1em;\">\nThe tag should be 'filename' friendly. Characters not allowed will be encoded, are pretty ugly looking,\nand impossible to remember. Numbers, letters, space ` `, dash `-`, and underbars `_` are OK.\n</p>\n\n<p style=\"margin-left: 1em;\">\nEnter the tag and press 'Refresh' to save any changed tiddlers.\n</p>\n\n<p style=\"margin-left: 1em;\">\nNote, <span style=\"margin-left: 3em;\"> 'Refresh' will not overwrite local tiddlers with server tiddlers</span>\n</p>\n\n  </div>\n</div>\n</details>\n\n<$set name=filter value={{!!filter}}>\n<$button actions=\"<<node-red 'refreshtagged $(filter)$' '[tag[$(filter)$]]'>>\"> Refresh </$button>\n</$set>\nTag: <$edit-text field=filter class=poc2go-edit-text />\n\n| <b>tag</b> | <b>filename</b> | <b>filter</b> |\n| <%tagged%> | <%filename%> | [tag[<%tagged%>]] |\n<%{error.message}%>\n\n{{{[tag[<%tagged%>]]}}}\n",
        "clear": false,
        "editorIsOpen": false,
        "settingsIsOpen": true,
        "fromIsOpen": true,
        "editorIsX": true,
        "fileIsX": false,
        "networkIsX": false,
        "twikiIsX": false,
        "fieldIsX": false,
        "x": 690,
        "y": 160,
        "wires": [
            [
                "8c341caadf2b0cc0"
            ]
        ]
    },
    {
        "id": "8c341caadf2b0cc0",
        "type": "link out",
        "z": "9e01fcb7c734b8a9",
        "name": "To Client",
        "mode": "link",
        "links": [
            "5f3f98f37ba41eb1"
        ],
        "x": 805,
        "y": 160,
        "wires": [],
        "icon": "@potofcoffee2go/tw5-nodes/networkup.svg"
    },
    {
        "id": "fd3292dd80084166",
        "type": "comment",
        "z": "9e01fcb7c734b8a9",
        "name": "Store and read tiddlers with given tag",
        "info": "",
        "x": 150,
        "y": 20,
        "wires": []
    },
    {
        "id": "c960798368e59ec0",
        "type": "catch",
        "z": "9e01fcb7c734b8a9",
        "g": "78ab404cb9f85fe4",
        "name": "",
        "scope": null,
        "uncaught": true,
        "x": 140,
        "y": 300,
        "wires": [
            [
                "5bd75dd5d231b5ea"
            ]
        ]
    },
    {
        "id": "5bd75dd5d231b5ea",
        "type": "switch",
        "z": "9e01fcb7c734b8a9",
        "g": "78ab404cb9f85fe4",
        "name": "",
        "property": "error.message",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "ENOENT",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 255,
        "y": 300,
        "wires": [
            [
                "d069a2d240ff1c0b"
            ],
            [
                "90a649b2382b649c"
            ]
        ],
        "l": false
    },
    {
        "id": "e70e9b4d0880f940",
        "type": "switch",
        "z": "9e01fcb7c734b8a9",
        "name": "refreshtagged",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "regex",
                "v": "^refreshtagged .*$",
                "vt": "str",
                "case": false
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 180,
        "y": 80,
        "wires": [
            [
                "9342e556d12f66b0"
            ]
        ]
    },
    {
        "id": "6ef39770387b1bdd",
        "type": "file in",
        "z": "9e01fcb7c734b8a9",
        "name": "File exists? (no then throw)",
        "filename": "filename",
        "filenameType": "msg",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 240,
        "y": 120,
        "wires": [
            [
                "c4f19a643eb92bae"
            ]
        ]
    },
    {
        "id": "85ee9376fbe6a6b5",
        "type": "get-network",
        "z": "9e01fcb7c734b8a9",
        "name": "get client tiddlers",
        "topic": "",
        "networkfield": "network.client.tiddlers",
        "filter": "[all[]]",
        "twikiName": "$tw.wiki",
        "field": "client_tiddlers",
        "file": "",
        "settingsIsOpen": false,
        "toIsOpen": true,
        "fileIsX": false,
        "networkIsX": false,
        "twikiIsX": false,
        "fieldIsX": true,
        "x": 550,
        "y": 80,
        "wires": [
            [
                "6ef39770387b1bdd"
            ]
        ]
    },
    {
        "id": "741d3bbd4ffac838",
        "type": "set-network",
        "z": "9e01fcb7c734b8a9",
        "name": "send client tiddlers",
        "topic": "",
        "networkfield": "network.server.tiddlers",
        "twikiName": "$tw.wiki",
        "filter": "[all[]]",
        "field": "client_tiddlers",
        "file": "",
        "updtostory": true,
        "tostory": "false",
        "template": "",
        "clear": false,
        "editorIsOpen": false,
        "settingsIsOpen": false,
        "fromIsOpen": true,
        "editorIsX": false,
        "fileIsX": false,
        "networkIsX": false,
        "twikiIsX": false,
        "fieldIsX": true,
        "x": 670,
        "y": 120,
        "wires": [
            [
                "08f69536c913074b"
            ]
        ]
    },
    {
        "id": "c4f19a643eb92bae",
        "type": "set-network",
        "z": "9e01fcb7c734b8a9",
        "name": "send stored tiddlers",
        "topic": "",
        "networkfield": "network.server.tiddlers",
        "twikiName": "$tw.wiki",
        "filter": "[all[]]",
        "field": "payload",
        "file": "",
        "updtostory": true,
        "tostory": "false",
        "template": "",
        "clear": false,
        "editorIsOpen": false,
        "settingsIsOpen": false,
        "fromIsOpen": true,
        "editorIsX": false,
        "fileIsX": false,
        "networkIsX": false,
        "twikiIsX": false,
        "fieldIsX": true,
        "x": 470,
        "y": 120,
        "wires": [
            [
                "741d3bbd4ffac838"
            ]
        ]
    },
    {
        "id": "9342e556d12f66b0",
        "type": "function",
        "z": "9e01fcb7c734b8a9",
        "name": "set msg fields",
        "func": "// remove the topic - leaving just the requested tag\nmsg.tagged = msg.topic.replace('refreshtagged ', '');\n\nif (msg.tagged.trim()) {\n    msg.filename = `public/tiddlers/tags/${msg.tagged}.json`;\n} else {\n    throw('Requires a tag');\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 80,
        "wires": [
            [
                "85ee9376fbe6a6b5"
            ]
        ]
    },
    {
        "id": "d069a2d240ff1c0b",
        "type": "get-network",
        "z": "9e01fcb7c734b8a9",
        "g": "78ab404cb9f85fe4",
        "name": "from client wiki to file",
        "topic": "",
        "networkfield": "network.client.tiddlers",
        "filter": "[all[]]",
        "twikiName": "$tw.wiki",
        "field": "",
        "file": "to msg.filename",
        "settingsIsOpen": false,
        "toIsOpen": true,
        "fileIsX": true,
        "networkIsX": false,
        "twikiIsX": false,
        "fieldIsX": false,
        "x": 420,
        "y": 240,
        "wires": [
            [
                "de96b2156186f8ff"
            ]
        ]
    },
    {
        "id": "de96b2156186f8ff",
        "type": "set-network",
        "z": "9e01fcb7c734b8a9",
        "g": "78ab404cb9f85fe4",
        "name": "send client tiddlers",
        "topic": "",
        "networkfield": "network.server.tiddlers",
        "twikiName": "$tw.wiki",
        "filter": "[all[]]",
        "field": "client_tiddlers",
        "file": "",
        "updtostory": false,
        "tostory": "false",
        "template": "",
        "clear": false,
        "editorIsOpen": false,
        "settingsIsOpen": false,
        "fromIsOpen": true,
        "editorIsX": false,
        "fileIsX": false,
        "networkIsX": false,
        "twikiIsX": false,
        "fieldIsX": true,
        "x": 430,
        "y": 280,
        "wires": [
            [
                "3298074f282c2dbb"
            ]
        ]
    },
    {
        "id": "3298074f282c2dbb",
        "type": "change",
        "z": "9e01fcb7c734b8a9",
        "g": "78ab404cb9f85fe4",
        "name": "",
        "rules": [
            {
                "t": "delete",
                "p": "error",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 440,
        "y": 320,
        "wires": [
            [
                "e5eea88792642a29"
            ]
        ]
    },
    {
        "id": "08f69536c913074b",
        "type": "function",
        "z": "9e01fcb7c734b8a9",
        "name": "Merge client tiddlers to file",
        "func": "var $tw = global.get('$tw');\n\n/*\nUsing a twiki to overwrite tiddlers on file with tiddlers\nfrom the client.\n\n'server.tiddlers' array has the tiddlers on file first\nthen tiddlers from client second. twiki.addTiddlers()\nadds tiddlers in array order. A tiddler of the same\ntitle would result in the client's version overwriting\nthe on file version.\n*/\n\n// create a twiki and load with tiddlers sent to client \nvar twiki = new $tw.Wiki;\ntwiki.addTiddlers(msg.network.server.tiddlers);\n\n// stringify all tiddlers from twiki\nmsg.payload = twiki.getTiddlersAsJson('[all[]]');\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 230,
        "y": 160,
        "wires": [
            [
                "745cc5fba5bd593a"
            ]
        ]
    },
    {
        "id": "745cc5fba5bd593a",
        "type": "file",
        "z": "9e01fcb7c734b8a9",
        "name": "",
        "filename": "filename",
        "filenameType": "msg",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 460,
        "y": 160,
        "wires": [
            [
                "e5eea88792642a29"
            ]
        ]
    }
]